.panel {
    margin: 8em 10em 5em 5em;
    background-image: url("https://www.clarityenglish.com/images/logo_clarityenglish.png");
    background-position: right 15px bottom 10px;
    background-repeat: no-repeat;
    background-size: 132px 24px;
    background-origin: content-box;
}
/* want to set a max width for text */
p {
    max-width: 30em;
    line-height: 22px;
}
/* for disabled buttons - probably should move into general Clarity bootstrap css */
#btn-submit:disabled {
    background: #AD7E9C;
}