<<<<<<< HEAD
@charset "utf-8";
/* CSS Document */

html{-webkit-text-size-adjust:none;} 


body {
	margin: 10px 0 0 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;

}

#altContent {
	margin:40px 0 0 0;
	padding:0;
	text-align: center;
}


#load_program_resize {
	margin:0;
	padding:0;
}


#load_program_original {
	display:block;
	height: 640px;
	width:760px;
	margin:0 auto;
	margin:0 auto;
	padding: 0;
	
}

#load_program_original_protea {
	display:block;
	height: 600px;
	width:800px;
	margin:0 auto;
	margin:0 auto;
	padding: 0;
}

/* Powerpoint */
#note_line {
	text-align:center;
	background-color:#FFFFFF;
	color:#000000;
	font-size:12px;
	padding:5px 0;
	margin:0 auto;
}
#ppt_content {
	width:720px;
	margin:0 auto;
	padding:0;
}
#ppt_content_advance {
	width:953px;
	margin:0 auto;
	padding:0;
}
=======
@charset "utf-8";
/* CSS Document */

html{-webkit-text-size-adjust:none;} 

body {
	margin:0 0 0 0;
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-size:11px;
	text-align:center;
	background-color:#F5F5F5;
}

#altContent {
	margin:0 0 0 0;
	padding:0;
	text-align:left;
}

#load_program_resize {
	margin:0;
	padding:0;
}

#load_program_original {
	overflow:auto scroll;
	display:block;
	height:640px;
	width:760px;
	position:absolute;
	left:50%;
	top:50%;
	margin:-320px 0 0 -380px;
}
/* Powerpoint */
#note_line {
	text-align:center;
	background-color:#FFFFFF;
	color:#000000;
	font-size:12px;
	padding:5px 0;
	margin:0 auto;
}
#ppt_content {
	width:720px;
	margin:0 auto;
	padding:0;
}
#ppt_content_advance {
	width:953px;
	margin:0 auto;
	padding:0;
}
>>>>>>> 0208921... fixed #389
