<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>PreferenceSpecifiers</key>
		<array>
			
			<dict>
				<key>Type</key>
				<string>PSMultiValueSpecifier</string>
				<key>Title</key>
				<string>Language</string>
				<key>DefaultValue</key>
				<string>EN</string>
				<key>Key</key>
				<string>productLanguage</string>
				<key>Values</key>
				<array>
					<string>EN</string>
					<string>ZH</string>
					<string>JP</string>
				</array>
				<key>Titles</key>
				<array>
					<string>English</string>
					<string>Chinese</string>
					<string>Japanese</string>
				</array>
			</dict>
			
			<dict>
				<key>Type</key>
				<string>PSMultiValueSpecifier</string>
				<key>Title</key>
				<string>Font size</string>
				<key>DefaultValue</key>
				<string>0</string>
				<key>Key</key>
				<string>fontOffset</string>
				<key>Values</key>
				<array>
					<string>0</string>
					<string>1</string>
					<string>2</string>
					<string>3</string>
					<string>4</string>
				</array>
				<key>Titles</key>
				<array>
					<string>Default</string>
					<string>+1px</string>
					<string>+2px</string>
					<string>+3px</string>
					<string>+4px</string>
				</array>
			</dict>
		</array>
	</dict>
</plist>