/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace login "com.clarityenglish.ielts.view.login.*";
@namespace title "com.clarityenglish.ielts.view.title.*";
@namespace zone "com.clarityenglish.ielts.view.zone.*";
@namespace progress "com.clarityenglish.ielts.view.progress.*";
@namespace account "com.clarityenglish.ielts.view.account.*";
@namespace exercise "com.clarityenglish.ielts.view.exercise.*";
@namespace home "com.clarityenglish.ielts.view.home.*";
@namespace almer "almerblank.flex.spark.components.*";

/* This changes the modal popup mask properties */
global {
	modal-transparency: 0.1;
	modal-transparency-blur: 0;
	modal-transparency-color: black;
	modal-transparency-duration: 200;
}

/* Login view styles */
login|LoginView {
	skinClass: ClassReference("skins.ielts.LoginSkin");
}

/* Title view styles */
title|TitleView {
	skinClass: ClassReference("skins.ielts.TitleSkin");
}

/* Home view styles */
home|HomeView {
	skinClass: ClassReference("skins.ielts.HomeSkin");
}

home|HomeView s|Button {
	skinClass: ClassReference("skins.ielts.home.CourseButtonSkin");
}

home|HomeView s|Button#writingCourse {
	courseIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="WritingIcon");
	courseImage: Embed(source="skins/ielts/assets/Writing.png");
	title: "Writing";
	description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do";
}

home|HomeView s|Button#speakingCourse {
	courseIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="SpeakingIcon");
	courseImage: Embed(source="skins/ielts/assets/Speaking.png");
	title: "Speaking";
	description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do";
}

home|HomeView s|Button#readingCourse {
	courseIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="ReadingIcon");
	courseImage: Embed(source="skins/ielts/assets/Reading.png");
	title: "Reading";
	description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do";
}

home|HomeView s|Button#listeningCourse {
	courseIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="ListeningIcon");
	courseImage: Embed(source="skins/ielts/assets/Listening.png");
	title: "Listening";
	description: "Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do";
}

/* Zone view styles */
zone|ZoneView {
	skinClass: ClassReference("skins.ielts.ZoneSkin");
}

zone|ZoneView #practiceZoneDataGroup almer|SkinnableItemRenderer {
	skinClass: ClassReference("skins.ielts.zone.ImageItemRendererSkin");
}

zone|ZoneView #examPractice1Difficulty,
zone|ZoneView #examPractice2Difficulty {
	skinClass: ClassReference("skins.ielts.zone.DifficultyRendererSkin");
}

/* Exercise view styles */
exercise|ExerciseView {
	skinClass: ClassReference("skins.ielts.ExerciseSkin");
}

/* Progress view styles */
progress|ProgressView {
	skinClass: ClassReference("skins.ielts.ProgressSkin");
}

/* Account view styles */
account|AccountView {
	skinClass: ClassReference("skins.ielts.AccountSkin");
}