/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace login "com.clarityenglish.ielts.view.login.*";
@namespace credits "com.clarityenglish.ielts.view.credits.*";
@namespace title "com.clarityenglish.ielts.view.title.*";
@namespace zone "com.clarityenglish.ielts.view.zone.*";
@namespace zoneui "com.clarityenglish.ielts.view.zone.ui.*";
@namespace progress "com.clarityenglish.ielts.view.progress.*";
@namespace progresscomponents "com.clarityenglish.ielts.view.progress.components.*";
@namespace progressui "com.clarityenglish.ielts.view.progress.ui.*";
@namespace account "com.clarityenglish.ielts.view.account.*";
@namespace support "com.clarityenglish.ielts.view.support.*";
@namespace exercise "com.clarityenglish.ielts.view.exercise.*";
@namespace home "com.clarityenglish.ielts.view.home.*";
@namespace homeui "com.clarityenglish.ielts.view.home.ui.*";
@namespace compare "com.clarityenglish.ielts.view.progress.components.*";
@namespace almer "almerblank.flex.spark.components.*";
@namespace bento "com.clarityenglish.bento.*";
@namespace tink "ws.tink.spark.containers.*";
@namespace marking "com.clarityenglish.bento.view.marking.*";
@namespace error "com.clarityenglish.common.view.error.*";
@namespace components "com.clarityenglish.textLayout.components.*";

@font-face {
	src: url("skins/ielts/assets/HelveticaNeueLTStd-Roman.otf");
	fontFamily: "HelveticaNeueLtStd";
	fontWeight: normal;
	fontAntiAliasType: advanced;
	fontSharpness: 400;
	fontThickness: -200;
}

@font-face {
	src: url("skins/ielts/assets/HelveticaNeueLTStd-Bd.otf");
	fontFamily: "HelveticaNeueLtStd";
	fontWeight: bold;
	fontAntiAliasType: advanced;
	fontSharpness: 400;
	fontThickness: -200;
}

global {
	/* This changes the modal popup mask properties */
	modal-transparency: 0.1;
	modal-transparency-blur: 0;
	modal-transparency-color: black;
	modal-transparency-duration: 200;
	
	/* This sets the default font properties */
	fontFamily: "HelveticaNeueLtStd";
	fontSize: 12.6;
	fontWeight: normal;
	color: #303030;
	
	/* Course colours are used all over the place, so set them globally */
	writingColor: #7DAB36;
	writingColorDark: #364A17;
	
	readingColor: #00A2C8;
	readingColorDark: #005063;
	
	speakingColor: #A93087;
	speakingColorDark: #4F173F;
	
	listeningColor: #FF6600;
	listeningColorDark: #7A3100;
}

/* Credit view styles */
credits|CreditsView {
	skinClass: ClassReference("skins.ielts.CreditsSkin");
}

/* Login view styles */
login|LoginView {
	skinClass: ClassReference("skins.ielts.LoginSkin");
}

login|LoginView s|TextInput {
	skinClass: ClassReference("spark.skins.spark.TextInputSkin");
	borderVisible: false;
	contentBackgroundColor: #E5E5E5;
}

login|LoginView #loginButton {
	skinClass: ClassReference("skins.ielts.login.LoginButtonSkin");
}

login|LoginView #quickStartButton {
	skinClass: ClassReference("skins.ielts.login.QuickStartButtonSkin");
}

/* Title view styles */
title|TitleView {
	skinClass: ClassReference("skins.ielts.TitleSkin");
}

title|TitleView #navBar {
	skinClass: ClassReference("skins.ielts.title.NavBarSkin");
}

title|TitleView #navBar s|ButtonBarButton {
	
}

/* Home view styles */
home|HomeView {
	skinClass: ClassReference("skins.ielts.HomeSkin");
}

home|HomeView s|Button {
	skinClass: ClassReference("skins.ielts.home.CourseButtonSkin");
}

home|HomeView s|Button#writingCourseButton {
	courseIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="WritingIcon");
	courseImage: Embed(source="skins/ielts/assets/Writing.png");
	title: "Writing";
}

home|HomeView s|Button#speakingCourseButton {
	courseIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="SpeakingIcon");
	courseImage: Embed(source="skins/ielts/assets/Speaking.png");
	title: "Speaking";
}

home|HomeView s|Button#readingCourseButton {
	courseIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="ReadingIcon");
	courseImage: Embed(source="skins/ielts/assets/Reading.png");
	title: "Reading";
}

home|HomeView s|Button#listeningCourseButton {
	courseIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="ListeningIcon");
	courseImage: Embed(source="skins/ielts/assets/Listening.png");
	title: "Listening";
}

homeui|CourseBarRenderer {
	skinClass: ClassReference("skins.ielts.home.CourseBarRendererSkin");
}
/* Title view styles */

title|TitleView #logoutButton {
	skinClass: ClassReference("skins.ielts.title.LogoutButtonSkin");
}

/* Zone view styles */
zone|ZoneView {
	skinClass: ClassReference("skins.ielts.ZoneSkin");
}

zone|ZoneView tink|Accordion {
	skinClass: ClassReference("ws.tink.spark.skins.containers.AccordionSkin");
}

zone|ZoneView tink|Accordion #buttonBar {
	skinClass: ClassReference("skins.ielts.zone.ZoneAccordianButtonBarSkin");
	cornerRadius: 0;
}

zone|ZoneView #examPracticeViewButton {
	skinClass: ClassReference("skins.ielts.zone.ExamPracticeViewButtonSkin");
	icon: Embed(source="skins/ielts/assets/assets.swf", symbol="SearchIcon");
}

zone|ZoneView #examPracticeAnswerButton {
	skinClass: ClassReference("skins.ielts.zone.ExamPracticeAnswerButtonSkin");
}

zone|ZoneView #questionZoneViewButton {
	skinClass: ClassReference("skins.ielts.zone.QuestionZoneViewButtonSkin");
	icon: Embed(source="skins/ielts/assets/assets.swf", symbol="SearchIcon");
}

zone|ZoneView #questionZoneDownloadButton {
	skinClass: ClassReference("skins.ielts.zone.QuestionZoneViewButtonSkin");
	icon: Embed(source="skins/ielts/assets/assets.swf", symbol="DownloadIcon");
}

zone|ZoneView #questionZoneVideoButton {
	skinClass: ClassReference("skins.ielts.zone.QuestionZoneViewButtonSkin");
	icon: Embed(source="skins/ielts/assets/assets.swf", symbol="WatchIcon");
}

zone|ZoneView #examPracticeAudioPlayer {
	compactStoppedIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="ListeningAudioUp");
	compactPlayedIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="ListeningAudioUp");
	compactPausedIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="ListeningAudioUp");
	compactPlayingIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="ListeningAudioStop");
}

zoneui|PopoutExerciseSelector {
	skinClass: ClassReference("skins.ielts.zone.PopoutExerciseSelectorSkin");
}

zoneui|ImageItemRenderer {
	skinClass: ClassReference("skins.ielts.zone.ImageItemRendererSkin");
}

zoneui|DifficultyRenderer {
	skinClass: ClassReference("skins.ielts.zone.DifficultyRendererSkin");
}

/* Exercise view styles */
exercise|ExerciseView {
	skinClass: ClassReference("skins.ielts.ExerciseSkin");
}

components|AudioPlayer {
	compactStoppedIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="AudioUp");
	compactPlayedIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="AudioUp");
	compactPausedIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="AudioUp");
	compactPlayingIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="AudioPlaying");
}

s|VideoPlayer {
	skinClass: ClassReference("skins.ielts.videoplayer.VideoPlayerSkin");
}

/* Progress view styles */
progress|ProgressView {
	skinClass: ClassReference("skins.ielts.ProgressSkin");
}

progress|ProgressView #progressNavBar {
	skinClass: ClassReference("skins.ielts.progress.ProgressNavBarSkin");
}

progresscomponents|ProgressScoreView {
	skinClass: ClassReference("skins.ielts.ProgressScoreSkin");
}
progresscomponents|ProgressCompareView {
	skinClass: ClassReference("skins.ielts.ProgressCompareSkin");
}
progresscomponents|ProgressCoverageView {
	skinClass: ClassReference("skins.ielts.ProgressCoverageSkin");
}
progresscomponents|ProgressAnalysisView {
	skinClass: ClassReference("skins.ielts.ProgressAnalysisSkin");
}

progressui|ProgressBarRenderer {
	skinClass: ClassReference("skins.ielts.progress.ProgressBarRendererSkin");
}
/*
progressui|ProgressCourseBarComponent {
	skinClass: ClassReference("skins.ielts.progress.ProgressCourseBarSkin");
}
progressui|ProgressCourseBarComponent #writingCourseButton {
	skinClass: ClassReference("skins.ielts.progress.ProgressBarButtonSkin");
}
progressui|ProgressCourseBarComponent #speakingCourseButton {
	skinClass: ClassReference("skins.ielts.progress.ProgressBarButtonSkin");
}
progressui|ProgressCourseBarComponent #readingCourseButton {
	skinClass: ClassReference("skins.ielts.progress.ProgressBarButtonSkin");
}
progressui|ProgressCourseBarComponent #listeningCourseButton {
	skinClass: ClassReference("skins.ielts.progress.ProgressBarButtonSkin");
}
*/
progresscomponents|ProgressCoverageView #progressCourseButtonBar {
	skinClass: ClassReference("skins.ielts.progress.ProgressCourseButtonBarSkin");
}
progresscomponents|ProgressScoreView #progressCourseButtonBar {
	skinClass: ClassReference("skins.ielts.progress.ProgressCourseButtonBarSkin");
}
progressui|CoverageExerciseComponent {
	skinClass: ClassReference("skins.ielts.progress.CoverageExerciseComponentSkin");
}
progressui|CoverageUnitComponent {
	skinClass: ClassReference("skins.ielts.progress.CoverageUnitComponentSkin");
}

/* Account view styles */
account|AccountView {
	skinClass: ClassReference("skins.ielts.AccountSkin");
}

account|AccountView #saveChangesButton {
	skinClass: ClassReference("skins.ielts.title.SaveChangesButtonSkin");
}

/* Suuport view styles */
support|SupportView {
	skinClass: ClassReference("skins.ielts.SupportSkin");
}

/* Marking view styles (this overwrites the default skin) */
marking|MarkingView {
	skinClass: ClassReference("skins.ielts.marking.MarkingSkin");
}

marking|MarkingView #tryAgainButton {
	skinClass: ClassReference("skins.ielts.marking.MarkingBoxButtonSkin");
}

marking|MarkingView #seeAnswersButton {	
	skinClass: ClassReference("skins.ielts.marking.MarkingBoxButtonSkin");
}

marking|MarkingView #moveForwardButton {	
	skinClass: ClassReference("skins.ielts.marking.MarkingBoxButtonSkin");
}

/* Error view styles (this overwrites the default skin) */
error|ErrorView {
	skinClass: ClassReference("skins.ielts.error.ErrorSkin");
}

/* Popups */
s|TitleWindow.markingTitleWindow {
	skinClass: ClassReference("skins.ielts.titlewindows.MarkingTitleWindowSkin");
}

s|TitleWindow.feedbackTitleWindow {
	skinClass: ClassReference("skins.ielts.titlewindows.FeedbackTitleWindowSkin");
}

s|TitleWindow.titleWindowClose {
	skinClass: ClassReference("skins.ielts.titlewindows.TitleWindowCloseSkin");
}