/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace components "com.clarityenglish.bento.view.xhtmlexercise.components.*";
@namespace textLayoutComponents "com.clarityenglish.textLayout.components.*";
@namespace tensebuster "com.clarityenglish.tensebuster.*";
@namespace title "com.clarityenglish.tensebuster.view.title.*";
@namespace titleui "com.clarityenglish.tensebuster.view.title.ui.*";
@namespace login "com.clarityenglish.bento.view.login.*";
@namespace exercise "com.clarityenglish.bento.view.exercise.*";
@namespace progresscomponents "com.clarityenglish.bento.view.progress.components.*";
@namespace progresstb "com.clarityenglish.tensebuster.view.progress.*";
@namespace home "com.clarityenglish.tensebuster.view.home.*";
@namespace unit "com.clarityenglish.tensebuster.view.unit.*";
@namespace zone "com.clarityenglish.tensebuster.view.zone.*";
@namespace view "com.clarityenglish.bento.view.*";
@namespace help "com.clarityenglish.tensebuster.view.help.*";
@namespace unitui "com.clarityenglish.tensebusterair.unit.ui.*";
@namespace ui "com.clarityenglish.tensebusterair.ui.*";
@namespace nonetwork "com.clarityenglish.bento.view.nonetwork.*";
@namespace element "com.clarityenglish.textLayout.elements.*";

global {
	interactionMode: touch;
}

s|TitleWindow {
	dropShadowVisible: true; /* #389 even though FB thinks this isn't supported it is in our skins */
}

s|List {
	borderVisible: false;
	contentBackgroundAlpha: 0;
}


s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 1;
	paddingLeft: 10;
	paddingRight: 10;
}

components|XHTMLExerciseView s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 0;
	paddingLeft: 0;
	paddingRight: 0;
}

login|LoginView s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 1;
	paddingLeft: 10;
	paddingRight: 10;
	fontSize: 14;
	showPromptWhenFocused: false;
}

tensebuster|TenseBusterApplication {
	skinClass: ClassReference("skins.tensebusterair.TenseBusterApplicationSkin");
}

/* No network styles (#472) */
nonetwork|NoNetworkView {
	skinClass: ClassReference("skins.tensebusterair.NoNetworkSkin");
}

login|LoginView s|Button#demoButton1 {
	skinClass: ClassReference("skins.tensebusterair.login.DemoENButtonSkin");
}

login|LoginView s|Button#demoButton2 {
	skinClass: ClassReference("skins.tensebusterair.login.DemoNAMENButtonSkin");
}
	
home|HomeView {
	skinClass: ClassReference("skins.tensebusterair.HomeSkin");
}

/* Title view styles */
title|TitleView {
	skinClass: ClassReference("skins.tensebusterair.TitleSkin");
}

title|TitleView s|TabbedViewNavigator {
	skinClass: ClassReference("skins.tensebusterair.title.TabbedViewNavigatorSkin"); /* this is actually resetting it back to the default since player.css has changed it */
}

title|TitleView s|TabbedViewNavigator #tabBar {
	skinClass: ClassReference("skins.tensebusterair.title.NavigatorTabBarSkin");
}

title|TitleView s|ViewNavigator {
	skinClass: ClassReference("skins.tensebusterair.title.ViewNavigatorSkin"); /* this is actually resetting it back to the default since player.css has changed it */
}

title|TitleView s|Button#logoutButton {
	skinClass: ClassReference("skins.tensebusterair.title.LogOutButtonSkin");
}

title|TitleView s|Button#backToMenuButton {
	skinClass: ClassReference("skins.tensebusterair.ui.BackButtonSkin");
}

title|TitleView s|Button#helpButton {
	skinClass: ClassReference("skins.tensebusterair.title.HelpButtonSkin");
}

exercise|ExerciseView {
	skinClass: ClassReference("skins.tensebusterair.ExerciseSkin");
}

progresstb|ProgressView {
	skinClass: ClassReference("skins.tensebusterair.ProgressSkin");
}

progresstb|ProgressCertificateView {
	skinClass: ClassReference("skins.tensebusterair.progress.ProgressCertificateSkin");
}

s|Scroller s|VScrollBar {
	skinClass: ClassReference("spark.skins.mobile.VScrollBarSkin");
}

view|DynamicView s|Group s|VScrollBar {
	skinClass: ClassReference("spark.skins.mobile.VScrollBarSkin");
}

textLayoutComponents|AudioPlayer {
	skinClass: ClassReference("skins.tensebusterair.exercise.AudioPlayerSkin");
}
