/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace components "com.clarityenglish.bento.view.xhtmlexercise.components.*";
@namespace tensebuster "com.clarityenglish.tensebuster.*";
@namespace title "com.clarityenglish.tensebuster.view.title.*";
@namespace login "com.clarityenglish.tensebuster.view.login.*";
@namespace exercise "com.clarityenglish.bento.view.exercise.*";
@namespace progresscomponents "com.clarityenglish.bento.view.progress.components.*";
@namespace progresstb "com.clarityenglish.tensebuster.view.progress.*";
@namespace home "com.clarityenglish.tensebuster.view.home.*";
@namespace unit "com.clarityenglish.tensebuster.view.unit.*";
@namespace zone "com.clarityenglish.tensebuster.view.zone.*";

global {
	interactionMode: touch;
}

s|TitleWindow {
	dropShadowVisible: true; /* #389 even though FB thinks this isn't supported it is in our skins */
}

s|List {
	borderVisible: false;
	contentBackgroundAlpha: 0;
}

components|XHTMLExerciseView s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 1;
	paddingLeft: 0;
	paddingRight: 0;
}

tensebuster|TenseBusterApplication {
	skinClass: ClassReference("skins.tensebusterair.TenseBusterApplicationSkin");
}

/*tensebuster|TenseBusterApplication s|ActionBar {
	chromeColor: #067EBC;
	defaultButtonAppearance: beveled;
}

tensebuster|TenseBusterApplication s|ActionBar {*/
	/* #484 */
	/*skinClass: ClassReference("skins.air.PaddableActionBarSkin");
	buttonSpacing: 5;
}

tensebuster|TenseBusterApplication s|ActionBar.beveled s|Group#navigationGroup s|Button#startAgainButton,
tensebuster|TenseBusterApplication s|ActionBar.beveled s|Group#navigationGroup s|Button#backButton,
tensebuster|TenseBusterApplication s|ActionBar.beveled s|Group#navigationGroup s|Button#forwardButton {
	skinClass: ClassReference("spark.skins.mobile.BeveledActionButtonSkin");
}*/

/* No network styles (#472) */
/*nonetwork|NoNetworkView {
skinClass: ClassReference("skins.ieltsair.NoNetworkSkin");
}*/

/* Login view styles */
login|LoginView {
skinClass: ClassReference("skins.tensebusterair.LoginSkin");
}

/* Title view styles */
title|TitleView {
	skinClass: ClassReference("skins.tensebusterair.TitleSkin");
}

title|TitleView s|TabbedViewNavigator {
	width: 784;
	skinClass: ClassReference("com.clarityenglish.tensebusterair.title.TabbedViewNavigatorSkin"); /* this is actually resetting it back to the default since player.css has changed it */
}

title|TitleView s|ViewNavigator {
	skinClass: ClassReference("com.clarityenglish.tensebusterair.title.ViewNavigatorSkin"); /* this is actually resetting it back to the default since player.css has changed it */
}

title|TitleView s|TabbedViewNavigator #tabBar {
	/*chromeColor: #262526;
	color: #DDDDDD;
	fontSize: 10;
	fontWeight: normal;
	iconPlacement: top;*/
	skinClass: ClassReference("skins.tensebusterair.title.NavigatorTabBarSkin");
}

title|TitleView s|Button#logoutButton {
	skinClass: ClassReference("skins.tensebusterair.title.LogOutButtonSkin");
}

home|HomeView {
	skinClass: ClassReference("skins.tensebusterair.HomeSkin");
}

unit|UnitView {
	skinClass: ClassReference("skins.tensebusterair.UnitSkin");
}

zone|ZoneView {
	skinClass: ClassReference("skins.tensebusterair.ZoneSkin");
}

exercise|ExerciseView {
	skinClass: ClassReference("skins.tensebusterair.ExerciseSkin");
}

progresstb|ProgressView {
	skinClass: ClassReference("skins.tensebusterair.ProgressSkin");
}

progresstb|ProgressCertificateView {
	skinClasss: ClassReference("skins.tensebusterair.progress.ProgressCertificateSkin");
}

/*progresscomponents|ProgressScoreView {
	skinClass: ClassReference("skins.tensebusterair.progress.ProgressScoreSkin");
}*/
