<?xml version="1.0" encoding="UTF-8"?>
<config>
	<id>/area1/RoadToIELTS2 in localhost</id>
	<developer>AR</developer>
	<dbHost>2</dbHost>
	<courseFile>menu-{productCode}-{productVersion}.xml</courseFile>
	<streamingMedia />
	<sharedMedia />
	<brandingMedia />
	<language>EN*</language>
	<contentPath>http://localhost/Content/</contentPath>
	<remoteDomain>http://localhost/</remoteDomain>
	<remoteGateway>http://localhost/Software/ResultsManager/web/amfphp/</remoteGateway>
	<remoteService>IELTSService</remoteService>
</config>