<?xml version="1.0" encoding="UTF-8"?>
<config>
	<id>/area1/RoadToIELTS2 in localhost</id>
	<developer>none</developer>
	<dbHost>2</dbHost>
	<language>ZH</language>
	<courseFile>menu-{productCode}-{productVersion}.xml</courseFile>
	<platform>browser</platform>
	<channel name='vimeo' caption='Vimeo'>
		<streamingMedia>http://player.vimeo.com/external/</streamingMedia>
	</channel>	
	<channel name='rackspace' caption='Rack'>
		<streamingMedia>http://c284790.r90.stream.cf1.rackcdn.com/</streamingMedia>
	</channel>  
	<channel name='aws' caption='AWS'>
		<streamingMedia>rtmp://streaming.clarityenglish.com:1935/cfx/st/</streamingMedia>
	</channel>
	<!--channel name='network' caption='network'>
		<streamingMedia>{contentPath}/video/</streamingMedia>
	</channel-->
	<sharedMedia />
	<brandingMedia />
    <upgradeURL>http://www.ieltspractice.com/</upgradeURL>
    <pricesURL>http://www.clarityenglish.com/prices.php</pricesURL>
    <registerURL>http://takeielts.britishcouncil.org/book-your-test/book-now</registerURL>
    <getAccountURL>http://www.roadtoielts.com/</getAccountURL>
    
	<contentPath>http://192.168.8.82/Content/</contentPath>
	<remoteDomain>http://192.168.8.82/Software/</remoteDomain>
	<remoteGateway>http://192.168.8.82/Software/ResultsManager/web/amfphp/</remoteGateway>>
	<remoteService>IELTSService</remoteService>
	<assetFolder>ResultsManager/web/resources/assets/</assetFolder>
</config>