<?xml version="1.0" encoding="UTF-8"?>
<config>
	<id>/area1/RoadToIELTS2 in localhost</id>
	<developer>none</developer>
	<dbHost>2</dbHost>
	<courseFile>menu-{productCode}-{productVersion}.xml</courseFile>
	<mediaChannel-2>aws</mediaChannel-2>
	<streamingMedia-2>rtmp://streaming.clarityenglish.com:1935/cfx/st/</streamingMedia-2>
	<mediaChannel-1>network</mediaChannel-1>
	<streamingMedia-1>{contentPath}/video/</streamingMedia-1>
	<mediaChannel>vimeo</mediaChannel>
	<streamingMedia>http://player.vimeo.com/external/</streamingMedia>
	<sharedMedia />
	<brandingMedia />
	<localDomain>www.ieltspractice.com/buy.php</localDomain>
	<language>EN*</language>
	<contentPath>http://dock.contentbench/Content/</contentPath>
	<remoteDomain>http://dock.projectbench/</remoteDomain>
	<remoteGateway>http://dock.projectbench/Software/ResultsManager/web/amfphp/</remoteGateway>
	<remoteService>IELTSService</remoteService>
	<assetFolder>Software/ResultsManager/web/resources/assets/</assetFolder>
</config>