@namespace tensebuster "com.clarityenglish.tensebuster.*";
@namespace title "com.clarityenglish.tensebuster.view.title.*";
@namespace home "com.clarityenglish.tensebuster.view.home.*";
@namespace unit "com.clarityenglish.tensebuster.view.unit.*";
@namespace zone "com.clarityenglish.tensebuster.view.zone.*";
@namespace exercise "com.clarityenglish.bento.view.exercise.*";
@namespace progress "com.clarityenglish.bento.view.progress.*";
@namespace s "library://ns.adobe.com/flex/spark";
@namespace components "com.clarityenglish.textLayout.components.*";
@namespace profile "com.clarityenglish.tensebuster.view.profile.*";
@namespace progresscomponents "com.clarityenglish.bento.view.progress.components.*";
@namespace progressui "com.clarityenglish.tensebuster.view.unit.ui.*";

global {
	EColor : #EC1C32;
	LColor : #D68130;
	IColor : #8AA13B;
	UColor : #0499A6;
	AColor : #5D3996;
	
	topGradientColors: #780024, #61473D, #4F6617, #1C667D, #3D1FA8;
	midTopGradientColors: #E51A31, #A07254, #8A9F27, #67A2B1, #6F58BC;
	centerGradientColors: #EC1C32, #B5805C, #A3B838, #82B8C4, #826EC4;
	midBottomGradientColors: #BA102C, #9F7154, #8BA02F, #629EAE, #7059BD;
	bottomGradientColors: #780024, #61473D, #4F6617, #1C667D, #3D1FA8;
	
	topLightGradientColors: #B30133, #825F52, #66831D, #23819E, #5633D4;
	midTopLightGradientColors: #ED3843, #CA8F6B, #A3BE22, #70BED1, #9176EE;
	centerLightGradientColors: #FF4747, #E6A275, #DBD42D, #8AD3E3, #A58DF7;
	midBottomLightGradientColors: #DE293E, #C98F6B, #9EBB28, #6AB9CE, #8C71EC;
	bottomLightGradientColors: #B30133, #825F52, #66831D, #23819E, #5633D4;
	
	topOverGradientColors: #E0012E, #94705C, #69871E, #2B8EAD, #7752FF;
	midTopOverGradientColors: #F84E53, #D79973, #ABCA26, #75D1E6, #A88FFF;
	centerOverGradientColors: #FF5E5E, #F5AC7D, #C4E329, #8AE4F7, #B8A3FF;
	midBottomOverGradientColors: #F23649, #D89A73, #A9C726, #6ECBE1, #A58BFF;
	bottomOverGradientColors:	#E0012E, #94705C, #69871E, #2B8EAD, #7752FF;
	
	topProOverGradientColors: #FF3636, #CF9C80, #83B800, #32AACF, #9F85FF;
	midTopProOverGradientColors: #F8666A, #FFAB78, #B6D628, #7BD8ED, #B7A2FF;
	centerProOverGradientColors: #FF7575, #FFBB8F, #CEED2F, #8FEBFF, #CBBBFF;
	midBottomProOverGradientColors: #FF4D5F, #FFB98C, #B8D442, #8EE1F5, #B7A2FF;
	bottomProOverGradientColors: #FF3636, #CF9C80, #83B800, #32AACF, #9F85FF;
	
	ProgressIcon: Embed(source="skins/tensebuster/assets/title/progressIcon.png");
	ProgressOverIcon: Embed(source="skins/tensebuster/assets/title/progressOverIcon.png");
	ProgressBg: Embed(source="skins/tensebuster/assets/title/progressBg.png");
	ProgressOverBg: Embed(source="skins/tensebuster/assets/title/progressOverBg.png");
	
	ProfileIcon: Embed(source="skins/tensebuster/assets/title/profileIcon.png");
	ProfileOverIcon: Embed(source="skins/tensebuster/assets/title/profileOverIcon.png");
	ProfileBg: Embed(source="skins/tensebuster/assets/title/progressBg.png");
	ProfileOverBg: Embed(source="skins/tensebuster/assets/title/progressOverBg.png");
}

s|TitleWindow.feedbackTitleWindow {
	skinClass: ClassReference("skins.tensebuster.titleWindows.FeedbackTitleWindowSkin");
}

tensebuster|TenseBusterApplication {
	skinClass: ClassReference("skins.tensebuster.TenseBusterApplicationSkin");
}

title|TitleView {
	skinClass: ClassReference("skins.tensebuster.TitleSkin");
}

title|TitleView s|Button#backToMenuButton {
	skinClass: ClassReference("skins.tensebuster.exercise.BackToMenuButtonSkin");
}

title|TitleView s|TabbedViewNavigator {
	skinClass: ClassReference("skins.tensebuster.title.TabbedViewNavigatorSkin");
}

home|HomeView {
	skinClass: ClassReference("skins.tensebuster.HomeSkin");
}

unit|UnitView {
	skinClass: ClassReference("skins.tensebuster.UnitSkin");
}

progressui|ProgressUnitButton {
	skinClass: ClassReference("skins.tensebuster.unit.ui.ProgressUnitButtonSkin");
}

zone|ZoneView {
	skinClass: ClassReference("skins.tensebuster.ZoneSkin");
}

exercise|ExerciseView {
	skinClass: ClassReference("skins.tensebuster.ExerciseSkin");
}

exercise|ExerciseView s|Button#backButton {
	skinClass: ClassReference("skins.tensebuster.exercise.BackButtonSkin");
}

exercise|ExerciseView s|Button#forwardButton {
	skinClass: ClassReference("skins.tensebuster.exercise.ForwardButtonSkin");
}

exercise|ExerciseView s|Button#markingButton {
	skinClass: ClassReference("skins.tensebuster.exercise.MarkingButtonSkin");
}

exercise|ExerciseView s|Button#printButton {
	skinClass: ClassReference("skins.tensebuster.exercise.PrintButtonSkin");
}

exercise|ExerciseView s|Button#startAgainButton {
	skinClass: ClassReference("skins.tensebuster.exercise.StartAgainButtonSkin");
}

exercise|ExerciseView s|Button#feedbackButton {
	skinClass: ClassReference("skins.tensebuster.exercise.FeedbackButtonSkin");
}

progress|ProgressView {
	skinClass: ClassReference("skins.tensebuster.progress.ProgressSkin");
}

profile|ProfileView {
	skinClass: ClassReference("skins.tensebuster.profile.ProfileSkin");
}


s|VideoPlayer {
	skinClass: ClassReference("skins.bento.VideoPlayerSkin");
}

components|AudioPlayer {
	compactStoppedIcon: Embed(source="skins/tensebuster/assets/audio-up-icon.png");
	compactPlayedIcon: Embed(source="skins/tensebuster/assets/audio-up-icon.png");
	compactPausedIcon: Embed(source="skins/tensebuster/assets/audio-up-icon.png");
	compactPlayingIcon: Embed(source="skins/tensebuster/assets/audio-playing-icon.png");
}
