@namespace tensebuster "com.clarityenglish.tensebuster.*";
@namespace title "com.clarityenglish.tensebuster.view.title.*";
@namespace home "com.clarityenglish.tensebuster.view.home.*";
@namespace unit "com.clarityenglish.tensebuster.view.unit.*";
@namespace zone "com.clarityenglish.tensebuster.view.zone.*";
@namespace exercise "com.clarityenglish.bento.view.exercise.*";
@namespace s "library://ns.adobe.com/flex/spark";
@namespace components "com.clarityenglish.textLayout.components.*";

global {
	EColor : #EC1C32;
	LColor : #D68130;
	IColor : #8AA13B;
	UColor : #0499A6;
	AColor : #5D3996;	
}

tensebuster|TenseBusterApplication {
	skinClass: ClassReference("skins.tensebuster.TenseBusterApplicationSkin");
}

title|TitleView {
	skinClass: ClassReference("skins.tensebuster.TitleSkin");
}

title|TitleView s|Button#backToMenuButton {
	skinClass: ClassReference("skins.tensebuster.exercise.BackToMenuButtonSkin");
}

home|HomeView {
	skinClass: ClassReference("skins.tensebuster.HomeSkin");
}

unit|UnitView {
	skinClass: ClassReference("skins.tensebuster.UnitSkin");
}

zone|ZoneView {
	skinClass: ClassReference("skins.tensebuster.ZoneSkin");
}

exercise|ExerciseView {
	skinClass: ClassReference("skins.tensebuster.ExerciseSkin");
}

exercise|ExerciseView s|Button#backButton {
	skinClass: ClassReference("skins.tensebuster.exercise.BackButtonSkin");
}

exercise|ExerciseView s|Button#forwardButton {
	skinClass: ClassReference("skins.tensebuster.exercise.ForwardButtonSkin");
}

exercise|ExerciseView s|Button#markingButton {
	skinClass: ClassReference("skins.tensebuster.exercise.MarkingButtonSkin");
}

exercise|ExerciseView s|Button#printButton {
	skinClass: ClassReference("skins.tensebuster.exercise.PrintButtonSkin");
}

exercise|ExerciseView s|Button#startAgainButton {
	skinClass: ClassReference("skins.tensebuster.exercise.StartAgainButtonSkin");
}

s|VideoPlayer {
	skinClass: ClassReference("skins.bento.VideoPlayerSkin");
}

components|AudioPlayer {
	compactStoppedIcon: Embed(source="skins/tensebuster/assets/audio-up-icon.png");
	compactPlayedIcon: Embed(source="skins/tensebuster/assets/audio-up-icon.png");
	compactPausedIcon: Embed(source="skins/tensebuster/assets/audio-up-icon.png");
	compactPlayingIcon: Embed(source="skins/tensebuster/assets/audio-playing-icon.png");
}
