/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace components "com.clarityenglish.bento.view.xhtmlexercise.components.*";
@namespace player "com.clarityenglish.rotterdam.player.*";
@namespace login "com.clarityenglish.bento.view.login.*";
@namespace video "com.clarityenglish.controls.video.*";
@namespace title "com.clarityenglish.rotterdam.view.title.*";
@namespace widgets "com.clarityenglish.rotterdam.view.unit.widgets.*";

global {
	interactionMode: touch;
}

s|TitleWindow {
	dropShadowVisible: true;
}

s|List {
	borderVisible: false;
	contentBackgroundAlpha: 0;
}

components|XHTMLExerciseView s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 1;
	paddingLeft: 0;
	paddingRight: 0;
}

@media (os-platform: "IOS") {
	widgets|VideoWidget {
		skinClass: ClassReference("skinsair.rotterdam.unit.widgets.VideoWidgetSkin");
	}
	widgets|ExerciseWidget {
		skinClass: ClassReference("skinsair.rotterdam.unit.widgets.ExerciseWidgetSkin");
	}
}
@media (os-platform: "Android") {
	widgets|ExerciseWidget {
		skinClass: ClassReference("skinsair.rotterdam.unit.widgets.ExerciseWidgetSkin");
	}
}

/*
player|PlayerApplication {
	skinClass: ClassReference("skins.rotterdam.playerair.PlayerApplicationSkin");
}

player|PlayerApplication s|ActionBar {
	chromeColor: #067EBC;
	defaultButtonAppearance: beveled;
}

player|PlayerApplication s|ActionBar {
	skinClass: ClassReference("skins.air.PaddableActionBarSkin");
	buttonSpacing: 5;
}

player|PlayerApplication s|ActionBar.beveled s|Group#navigationGroup s|Button#startAgainButton,
player|PlayerApplication s|ActionBar.beveled s|Group#navigationGroup s|Button#backButton,
player|PlayerApplication s|ActionBar.beveled s|Group#navigationGroup s|Button#forwardButton {
	skinClass: ClassReference("spark.skins.mobile.BeveledActionButtonSkin");
}

*/