
/Content
/ap
/BritishCouncil/RoadToIELTS
/BritishCouncil/R2IV2
/BritishCouncil/Global
/BritishCouncil/HongKong
/CSTDI
/englishonline
/GlobalIELTS
/HK
/ieltspractice
/release
/SCORM
/shared
/shares
/ServerStuff
bin-debug
bin-debug-temp
bin-release
bin-release-temp
*.OLD
*.IGNORE
/desktop.ini

/Software/BentoTitles/IELTS/src/skins/ielts/assets/assets.swc
/Software/BentoTitles/IELTS/src/skins/ielts/assets/textLayout_2.0.0.232.swz
logs
/Software/ResultsManager/web/*.swf
/Software/ResultsManager/web/*.swz
/Software/ResultsManager/web/smarty/cache/
/Software/ResultsManager/web/smarty/templates_c/
/Software/ResultsManager/html-template
/Software/ResultsManager/web/ResultsManager.swf
/Software/ResultsManager/web/ResultsManager.swf
images
/Software/ActiveReading/buttons.swf
/Software/AuthorPlus/buttons.swf
/Software/BusinessWriting/buttons.swf
/Software/Common/control.swf
/Software/TenseBuster/buttons.swf
/TestingEncryption
/xxap
/area1/AccessUK/audio
/area1/AccessUK/content
/area1/AccessUK/video
bin-release
ChinaLogin
roadtoielts
html-template
xhtml-template
**/.idea/workspace.xml
**/.idea/tasks.xml
/Software/Bento/bin
/Software/Common/as3csslib/bin
/Software/Common/textLayout/bin
/Software/Common/OSMF/bin
/Software/BentoLibraries/Rotterdam/bin
/Software/BentoTitles/RotterdamPlayer/bin
/Software/BentoTitles/ClearPronunciation/bin
/Software/BentoTitles/ActiveReading/bin
/Software/BentoTitles/TenseBuster/bin
