
/Content
/ap
/BritishCouncil
/CSTDI
/englishonline
/GlobalIELTS
/HK
/ieltspractice
/release
/SCORM
/shared
/shares
/ServerStuff
bin-debug
bin-debug-temp
bin-release
bin-release-temp
*.OLD
*.IGNORE
/desktop.ini

/Software/BentoTitles/IELTS/src/skins/ielts/assets/*.swc
/Software/BentoLibraries/Rotterdam/bin/*.swc
/Software/Bento/bin/*.swc
/Software/Common/as3csslib/bin/*.swc
logs
/Software/ResultsManager/web/*.swf
/Software/ResultsManager/web/*.swz
/Software/ResultsManager/web/smarty/cache/
/Software/ResultsManager/web/smarty/templates_c/
/Software/ResultsManager/html-template
/Software/ResultsManager/web/*.swf
images
/Software/ActiveReading/*.swf
/Software/AuthorPlus/*.swf
/Software/BusinessWriting/*.swf
/Software/Common/*.swf
/Software/TenseBuster/*.swf
/Software/ClearPronunciation/*.swf
/Software/ClearPronunciation2/*.swf
/Software/Widget/IELTS/bin/*.swf
/Software/iRead/SharedMedia/*.*
/TestingEncryption
/xxap
/area1/AccessUK/audio
/area1/AccessUK/content
/area1/AccessUK/video
ChinaLogin
bin-realese
roadtoielts
html-template
xhtml-template
/Software/Common/textLayout/bin/textLayout.swc
/Software/Bento/.idea/workspace.xml
