**/.idea/workspace.xml
**/.idea/tasks.xml
**/.idea/php.xml
**/.idea/misc.xml
/Content
/ap
/BritishCouncil
/CSTDI
/englishonline
/GlobalIELTS
/HK
/ieltspractice
/release
/SCORM
/shared
/shares
/ServerStuff
/TestingEncryption
bin-debug
bin-debug-temp
bin-release
bin-release-temp
logs
images
*.OLD
*.IGNORE
/desktop.ini
/Software/ResultsManager/web/smarty/cache/
/Software/ResultsManager/web/smarty/templates_c/
/Software/ResultsManager/html-template
/Software/iRead/SharedMedia/
/Software/RoadToIELTS/
/area1/AccessUK/audio
/area1/AccessUK/content
/area1/AccessUK/video
ChinaLogin
html-template
xhtml-template
Software/BentoTitles/ActiveReading/bin
Software/BentoTitles/ClearPronunciation/bin
Software/BentoTitles/RotterdamPlayer/bin
Software/BentoTitles/TenseBuster/bin
Software/Common/OSMF/bin
/area1/ResultsManager/uploads
/area1/ResultsManager/*.log
/Software/Common/uploads
area1/ResultsManager/*.txt
area1/ResultsManager/*.csv
area1/ResultsManager/*.xlsx
useful regex expressions.txt
Software/Recorder/air/
