* {
	font-size: 12px;
	font-family: Verdana;
	}
/*-----------------------------------------------------------------------------------------------*/
/* The main header should always be bold */
body > header {
	font-weight: normal;
	color: #000000;
	line-height:20em;
	}
/*-----------------------------------------------------------------------------------------------*/
/* The body should always have a bit of space at the top */
#body {
	padding-top: 12px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Paragraphs have spacing after them */
p {
	padding-left:20px;
	padding-right:20px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Lists use numbers. */
/*-----------------------------------------------------------------------------------------------*/
/* Multiple-choice answers use letters */
.answerList {
	list-style-type: lowerLatin;
	padding-left: 15px;
	margin-left: 0px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* A paragraph class for hanging indents that work with numbers */
.hangingIndent {
 	tab-stops: 30px;
 	text-indent: -30px;
 	padding-left: 30px;
	}		
/*-----------------------------------------------------------------------------------------------*/
/* This is the image or video floating on the right hand side in many exercises */
#body .rightFloat {
	float: right;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Links and draggable spans should be blue and not underlined */
a, span[draggable="true"] {
	color: #3A00FF;
	text-decoration: none;
	}

/* Draggable spans in noscroll should be in a bordered filled box */
#noscroll span[draggable=true] {
	float: left;
	color: #0E00AB;
	padding: 5px 8px -8px 8px;
	margin-right: 4px;
	margin-bottom: 0px;
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	border-radius: 12px;
	background-color: #FFFFFF;
	}
/* Draggable spans in noscroll should NOT have padding-bottom in the paragraphs */
/* TODO. But this doesn't work. So for now I have set padding-bottom = -8 in the span definition */
#noscroll span p {
	padding-bottom: 0px;
	}

/* Use the custom after-pad property to add a width of 1 _ characters to any input's maximum length */
input {
	gap-after-padding: 2;
	}

/* Drag and drop targets always have the same gap text underneath them */
input[type="droptarget"] {
	gap-text: "__.__";
	}

/* Color classes */
.blue {
	color: #3A00FF;
	}

/* Classes for showing selections and results */
a.selected {
	text-decoration: underline;
	}

a.correct, input.correct, g.correct {
	color: 	#347C17 !important;
	text-decoration: underline;
	}
select.correct {
	color: 	#006600 !important;
	text-decoration: underline;
	}
a.incorrect, input.incorrect, g.incorrect, select.incorrect {
	color: #AA0000 !important;
	}

a.neutral, input.neutral, g.neutral, select.neutral {
	color: #0000AA !important;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Headings */
/*-----------------------------------------------------------------------------------------------*/
/* Exercise ID and class */
/* This is for to control exercise instruction */
#instruction{
	padding-left:0px;
	padding-right: 160%;
	}
/*-----------------------------------------------------------------------------------------------*/
/* This class is used to add line spacing between question items. */
.linespace {
	line-height: 12px;
	}
/*-----------------------------------------------------------------------------------------------*/
/*Formatting used for feedback text without numbering. */
.feedbacktext {
	margin: 0 0 0 0;
	padding: 20px 0px 20px 50px;
	line-height: 22em;
	}
/*-----------------------------------------------------------------------------------------------*/
/*Formatting used for writing task text. */
.popuptext {
	margin: 0 0 0 0;
	padding: 20px 50px 20px 50px;
	line-height: 22em;
	}		
/*-----------------------------------------------------------------------------------------------*/
/* This is for image of writing task */
.imagetask {
	float:left;
	padding: 5px 10px 0 -4px;
	}
/*-----------------------------------------------------------------------------------------------*/
#questionList {
	list-style-type: decimal;
	padding-top:0px;
	padding-right: 20px;
	text-align: left;
	line-height: 22em;
	}
	
#questionList li {
	padding-left: -25px;
	}
	
#questionList p{
	padding-bottom: 12px;
	}

#dropdown {
	padding-top: 0px;
	text-align: left;
	line-height: 25em;
	padding-right: 380%;
	}
	
#dropdown p {
	padding-bottom: 12px;
	}

#dropdown li {
	padding-left:-25px;
	}
	
/* This is a div for list dropdown e.g. Writing Unit 1 task 2 Linking words and phrases (1), Writing Unit 2 task 2 Oragnising ideas into paragraphs*/
#dropdownlist {
	position:relative;
	line-height: 22em;
	padding-top: 32px;
	padding-left:270px;
	}
	
#dropdownlist p{
padding-bottom: 12px;
	}
	
#dropdownlist1 {
	list-style-type: decimal;
	padding-top:0px;
	padding-right: 20px;
	text-align: left;
	line-height: 22em;
}
#dropdownlist1 p{
	padding-bottom: 12px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* colmuns for long feedback i.e. Linking words and phrases (1)  */
#feedback1 {
	float: left;
	width: 220px;
	}
#feedback2 {
	float: right;
	width: 270px;
	padding: 0 30px 0 0;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Specify for Listening 2 British cinema */
	#wrapper{
	position:absolute;
    width:1000px;
	}
	#part1{
	Position: relative;
	padding-top: 10px;
	padding-left: -22px;
	line-height:22em;
	}

	#part1 li{
	padding-right: 230%;
	}	

	#part1 p{
	padding-right: 200%;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Specify for Listening 3 Classification (2) */
	#part2{
	Position: relative;
	padding-top: 10px;
	line-height:22em;
	}

	#part2 li{
	padding-right: 200%;
	}

	#part2 p{
	text-indent: -34px;
	padding-left: 50px;
	padding-right: 200%;
	padding-bottom: 12px;
	}
	
		#rightcolumn {
	position:relative;
	line-height: 22em;
	padding-left: 300px;
	padding-top:60px;
	}
	
	#rightcolumn p {
	padding-bottom:12px;
	}
	
	h4 {
	font-family: Verdana;
	font-size: 13px;
	padding-left: 15px;
	padding-bottom: 0px;
	padding-top: 0px
}
/*-----------------------------------------------------------------------------------------------*/
