* {
	font-size: 12px;
	font-family: Verdana;
	line-height: 22em;
	color: #000000;
	}
/*-----------------------------------------------------------------------------------------------*/
/* The main header should always be bold */
body > header {
	font-weight: normal;
	color: #000000;
	line-height:20em;
	}
/*-----------------------------------------------------------------------------------------------*/
/* The body should always have a bit of space at the top */
#body {
	padding-top: 12px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Paragraphs have spacing after them */
p {
	padding-left:20px;
	padding-right:20px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Lists use numbers. */
/*-----------------------------------------------------------------------------------------------*/
/* Multiple-choice answers use letters */
.answerList {
	list-style-type: lowerLatin;
	padding-left: 15px;
	margin-left: 0px;
	}

/* For use in FV GT Writing, Set 8 task 2, Topic sentences */
.answerList2 {
	list-style-type: lowerLatin;
	font-weight: bold;
	padding-left: 20em;
	padding-bottom: 22px;
	padding-top: 0px;
	margin-left: 0px;
	line-height: 20em;
	text-indent: 0px;
	}
	
/*-----------------------------------------------------------------------------------------------*/
/* A paragraph class for hanging indents that work with numbers */
.hangingIndent {
 	text-indent: -30px;
 	padding-left: 30px;
	}		
	
.hangingIndent1 {
 	padding-left: 190px;
	text-indent: -175px;
 	line-height: 20px;
	}
.hangingIndent2 {
 	text-indent: -80px;
 	padding-left: 95px;
	line-height: 30em;
	}			
.hangingIndent3{
 	text-indent: -177px;
 	padding-left: 192px;
	}

.hangingIndent4 {
 	text-indent: -80px;
 	padding-left: 95px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* This is the image or video floating on the right hand side in many exercises */
#body .rightFloat {
	float: right;
	padding-top: 20px;
	padding-right: 20px;
	padding-left: 20px;
	}

#body .leftFloat {
	float: left;
	padding-top: 0px;
	padding-right: 200px;
	padding-left: 0px;
	}
#body .rightFloatvideo {
	width:760px;
	padding-top: 0em;
	padding-right: 10em;
	padding-left: 100px;
	margin-top: 0em;
	}
img.floatleft {
	float: left;
	padding-top: 37px;
	padding-right: 50px;
	padding-left: 25px;
	}
	
	.leftFloat1 {

	height: 310px;
	width:420px;
	float: left;
}

/* For use in exercises such as AC FV, Writing, Set 6 task 1, Correct tenses */
	.rightFloat1 {
	float: left;
	display: block;
	padding-top: 20px;
	padding-left: 20px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Links and draggable spans should be blue and not underlined */
a, span[draggable="false"] {
	color: #3A00FF;
	text-decoration: none;
	}

/* Draggable spans in noscroll should be in a bordered filled box */
#noscroll span[draggable=false] {
	float: left;
	color: #0E00AB;
	padding: 5px 8px 4px 8px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	border-radius: 12px;
	background-color: #FFFFFF;
	}
	
/* Draggable spans in noscroll should NOT have padding-bottom in the paragraphs */
/* TODO. But this doesn't work. So for now I have set padding-bottom = -8 in the span definition */
#noscroll span p {
	padding-bottom: 0px;
	}

/* Use the custom after-pad property to add a width of 1 _ characters to any input's maximum length */
input {
	gap-after-padding: 2;
	}

/* Drag and drop targets always have the same gap text underneath them */
input[type="droptarget"] {
	gap-text: "__.__";
	}

/* Color classes */
.blue {
	color: #3A00FF;
	}

/* Classes for showing selections and results */

a.selected {
	text-decoration: underline;
	}

a.correct, input.correct, g.correct, select.correct {
	color: 	#4bae38 !important;
	text-decoration: underline;
	}

a.incorrect, input.incorrect, g.incorrect, select.incorrect {
	color: #7A0404 !important;
}

a.neutral, input.neutral, g.neutral, select.neutral {
	color: #0000AA !important;
	}

/* Headings */
/* This heading affects the heading in e.g. Listening 1 Table completion */
h1 {
	font-size: 16px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 20%;
	padding-right: 450%;
	padding-left:15px;
	text-align: left;
	line-height: 20em
}

h2 {
	font-size: 12px;
	color: #333333;
	padding-left: 15px;
	padding-top: 0em;
	padding-bottom: 18em;
	padding-right: 25em;
	text-align: left;
    line-height: 20em;
}

/* This h4 affects the question heading in e.g Listening 3 Classification */
h4 {
	font-size: 13px;
	padding-bottom: 20px;
	padding-top: 0px;
	padding-left:20px;
	}
	
/* bullet sub heading e.g. Listening 1 Sentence completion */
h6 {
	font-size: 11px;
	color: #000000;
	padding-bottom: 0;
	padding-right: 25px;
	text-align: left;
	line-height: 20em;
	padding-left:15px;
	}
	
/* This h7 is session heading in e.g. Listening 2 Purchasing tickets */
h7{
	font-size: 13px;
	font-weight: bold;
	padding-top: 20px;
	line-height: 20em;
	padding-right: 0%;
	padding-left:20px
	}
	
	/* This h8 affects the heading in e.g. Listening 3 Form completion (1)*/
	h8{
	font-size: 15px;
	font-weight: bold;
	padding-top: 0px;
	padding-left: 15px;
	padding-right: 25px;
	text-align: left;
	line-height: 20em;
	padding-right: 25em;
	}

/* This h9 affects the headings in Listening 3 Sentence completion (2)*/
	h9{
	font-size: 13px;
	font-weight: bold;
	padding-top: 0px;
	padding-bottom: 5px;
	padding-right: 25em;
	padding-left: 15px;
	}
	
	/*writing task */
	h10{
	font-size: 13px;
	font-weight: bold;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left:20px;
	line-height: 20em;
	padding-right: 350%;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Exercise ID and class */
/* this class is for instruction in reading exercise */
#instruction{
	padding-left:0px;
	padding-right: 160%;
	}
/*-----------------------------------------------------------------------------------------------*/
/*Formatting used for feedback text without numbering. */
.feedbacktext {
	margin: 0 0 0 0;
	padding: 20px 0px 20px 50px;
	line-height: 20em;
	}
/*-----------------------------------------------------------------------------------------------*/
/*Formatting used for writing task text. */
.popuptext {
	margin: 0 0 0 0;
	padding: 20px 50px 20px 50px;
	line-height: 22em;
	}
	
.popuptext1 {
	margin: 0 0 0 0;
	padding: 20px 50px 0px 50px;
	line-height: 22em;
	}

.popuptext2 {
	margin: 0 0 0 0;
	padding: 0px 50px 20px 50px;
	line-height: 22em;
	}

.popuptext3 {
	margin: 0 0 0 0;
	padding: 0px 50px 0px 50px;
	line-height: 22em;
	}		
/*-----------------------------------------------------------------------------------------------*/
/* This is for image of writing task */
	.imagetask {
	float:left;
	padding: 5px 10px 0 -4px;
	}
/*-----------------------------------------------------------------------------------------------*/	
.bulletList {
	list-style-position:outside;
	padding-left: 5px;
	padding-right: 225%;
	padding-top: 5em;
	padding-bottom: 15em;
	text-align: left;
	line-height: 22em;
	}

#gapfillTable{
	padding-top: 0px;
	text-align: left;
	line-height: 22em;
	padding-right: 380%;
	padding-left:1px;
	}
	
#gapfillTable p{
	padding-bottom: 12px;
	}

#gapfillText{
	padding-left:0px;
	padding-top: 0px;
	text-align: left;
	line-height: 22em;
	padding-right: 380%;
	}
	
#gapfillText p{
	padding-bottom: 20em;
	}

#writing {
	list-style-type: decimal;
	padding-bottom: 12px;
	margin-left: 20px;
	padding-right: 25em;
	padding-top: 20em;
	text-align: left;
	line-height: 22em;
	}
/*-----------------------------------------------------------------------------------------------*/
/* video div */
#outer{
	position: relative;
    width:500px;
	}

#content{
	position:relative;
	padding-top:25px;
    height: 300px;
    width:500px;
    line-height:22em;
	padding-left: 0px;
	}

#video{
	position:relative;
	padding: 25em 0em 0 520px;
	margin-top: 0em;
	}
/*-----------------------------------------------------------------------------------------------*/
/* specify for Listening 2 Purchasing tickets*/
	
	#leftcolumn {
		position: relative;
		float:left;
		padding-left:-3px;
		padding-top: 100px;
		line-height:22em;
	}
	
	#rightcolumn {
		position: relative;
		float:left;
		padding-left:202px;
		padding-top:100px;
		line-height:22em;
	}
/*-----------------------------------------------------------------------------------------------*/	
/* specify for Listening 3 form completion (2) */
	#rightcolumn1 {
	position:relative;
	line-height: 22em;
	padding-left: 200px;
	padding-top:139px;
	}
	
	#rightcolumn1 p {
	padding-bottom:12px;
	}
	
	#leftcolumn1 {
	padding-left: -5px;
	line-height: 22em;
	}
	
	#leftcolumn1 p {
	padding-bottom:12px;
	line-height: 22em;
	}
	
	.special {
	padding-top: 12px;
	}
/*-----------------------------------------------------------------------------------------------*/	
/* specify for Listening 3 table completion */
	#table1{
	position:relative;
	padding-left:-3px;
	padding-top: 95px;
	line-height: 50em;
	}
					
	#table1 p {
	padding-bottom: 10px;
	}
				
	#table2{
	position:relative;
	padding-left:202px;
	padding-top:95px;
	}
	
	#table2 p {
	padding-bottom: 10px;
	}				
/*-----------------------------------------------------------------------------------------------*/	
/* specify for Listening 1  Table completion*/
	#contenttabcomp1{
		position: relative;
		padding-left:-3px;
		padding-top: 100px;
		line-height:22em;
	}
	#content1tabcomp1{
		position: relative;
		padding-left:202px;
		padding-top:100px;
		line-height:22em;
	}
/*-----------------------------------------------------------------------------------------------*/	
/* specify for FV Listening 7 Fill in the table (1)*/
	
	#food1 {
		position: relative;
		padding-left:-3px;
		padding-top: 35px;
		line-height:22em;
	}
		
	#food2 {
		position: relative;
		padding-left:452px;
		padding-top:35px;
		line-height:22em;
	}
/*-----------------------------------------------------------------------------------------------*/	
/* specify for FV Listening 9 Form completion*/
	/*#theft1 {
		position:relative;
		padding-top: 85px;
		float: left;
		width:180px;
		padding-left: -5px;
	}*/
	
	#theft1 {
		position: relative;
		float:left;
		padding-left:-3px;
		padding-top: 160px;
		line-height:22em;
	}
	
	#theft1 p{
	padding-bottom: 12em;
	}
	
	/*#theft2 {
	padding-top: 20px;
	float: left;
	width: 200px;
	}*/
	
	#theft2 p{
	padding-bottom: 12em;
	}
	
	#theft2 {
		position: relative;
		float:left;
		padding-left:202px;
		padding-top:160px;
		line-height:22em;
	}	/*-----------------------------------------------------------------------------------------------*/	
/* This is used for FV - Listening, Set 4, Form completion */
	
	#animalright {
		position: relative;
		padding-left:203px;
		padding-top:140px;
		line-height:22em;
		float:left;
	}
	
	
	#animalleft {
		position: relative;
		padding-left:1px;
		padding-top: 140px;
		line-height:22em;	
		float:left;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Paragraph settings for FV - Listening, Set 8, Form completion */
	.cv {
	padding-left: 143px;
	}
	
/*-----------------------------------------------------------------------------------------------*/
	
/* This is used when the gapfill text portion accompanies a Writing task button */

#sampleanswer{
	padding-left:-2px;
	padding-top: 0px;
	text-align: left;
	line-height: 22em;
	padding-right: 380%;
	}
	
#sampleanswer p{
	padding-bottom: 20em;
	}