* {
	font-size: 12px;
	font-family: Verdana;
	line-height: 1.5em;
}

/* Layout */
section {
	display: block;
}

section#readingText {
	display: block;

}

section#body {
	display: block;
	padding: 20px 0 20px 0;
}

#noscroll span {
display: inline-block;
text-indent: 25px;
padding: 20px 0 20px 0;
}

/* The rubric */
header {
	background-color: #F5D767;
		font-weight: bold;
}

#writingtask1 {
	padding: 20px 0 20px 0;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11 {
	font-weight: bold;
}

h8, h8 > p,
h1, h1 > p {
	font-size: 16px !important;
	font-weight: bold;
}

h2, h2 > p,
h3, h3 > p,
h4, h4 > p,
h5, h5 > p,
h6, h6 > p,
h7, h7 > p,
h9, h9 > p,
h10, h10 > p,
h11, h11 > p, 
sh1, shi1 > p {
	font-size: 12px !important;
	font-weight: bold;
}

/* Reading text spacing */
#readingText p {
	text-align: justify;
}

#readingText li {
	padding-left: 0px;
}

/* exercise area spacing */
#splitquestionList {
	padding: 20px 0px 20px 0px;
	line-height: 22em;
	font-size: 14px;
	margin: 0 20px 20px 20px;
	}
	
#splitquestionList li {
	padding: 0 0 30px 15px;
	font-size: 14px;
	}
/* Links and draggable spans should be blue and not underlined */
a {
	color: #3A00FF;
	text-decoration: none;
}

input {
	border: 1px solid #000000;
		border-radius: 5px;
}

/* image */
.rightFloat {
float: right;
}

.imagetask {
	display: none;
}

.photo2 {
	padding: 20px 0 0 0;
}

.photo1 {
	padding: 20px 0 0 0;
}

.leftFloat {
	padding: 20px 0 20px 0;
}

/* Multiple-choice answers use letters i.e Reading 2 And then there were none */
.answerList {
	list-style-type: lowerLatin;
	padding: 0px 0 0 0;
	line-height: 20em;
	}

.answerList li {
	list-style-type: lowerLatin;
	}