* {
	font-size: 12px;
	font-family: Verdana;
	}
/*-----------------------------------------------------------------------------------------------*/
/* The main header should always be bold */
body > header {
	font-weight: normal;
	color: #000000;
	line-height: 22em;
	}
/*-----------------------------------------------------------------------------------------------*/
/* The body should always have a bit of space at the top */
#body {
	padding-top: 12px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Paragraphs have spacing after them */
/*-----------------------------------------------------------------------------------------------*/
/* Lists use numbers. */
/*-----------------------------------------------------------------------------------------------*/
/* Multiple-choice answers use letters i.e Reading 2 And then there were none */
.answerList {
	list-style-type: lowerLatin;
	padding: 0px 0 0 0;
	line-height: 20em;
	}

.answerList1 {
	list-style-type: lowerLatin;
	padding-left: 25em;
	line-height: 20em;
	}
/*-----------------------------------------------------------------------------------------------*/
/* A paragraph class for hanging indents that work with numbers */
.hangingIndent {
 	text-indent: -15em;
	}
.hangingIndent1 {
	padding-left: 1px;
 	text-indent: -95em;
	}

/* This hanging indent is used for manually numbered exercises in which the question text flow to second line. */
.hangingIndent2{
	padding-left: 25px;
 	text-indent: -30px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* photo1 is for photos in a splitscreen exercise in which the photo is sandwiched between two sections of text. */
img.photo1 {
	float:left; 
	width: 380px;
	height: 194px;
	padding: 0px  250em 0px 6px;
	}
	
/* photo2 is for photos in a splitscreen exercise in which the photo appears at the top of the reading text section. */
img.photo2 {
	float:left; 
	width: 380px;
	height: 194px;
	padding: 0px  250em 0px 6px;
	}

img.leftFloat {
	float:left;
	padding: 10px 280px 0px 25px;
	}
/*-----------------------------------------------------------------------------------------------*/

/* Links and draggable spans should be blue and not underlined */
a, span[draggable="true"] {
	color: #3A00FF;
	text-decoration: none;
	}
/* Draggable spans in noscroll should be in a bordered filled box */
#noscroll span[draggable=true] {
	float: left;
	color: #0E00AB;
	padding: 8px 8px 5px 8px;
	margin-right: 4px;
	margin-bottom: 4px;
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	border-radius: 12px;
	background-color: #FFFFFF;
	}

#noscroll{
	padding-left:5px;
	}
/* Draggable spans in noscroll should NOT have padding-bottom in the paragraphs */
/* TODO. But this doesn't work. So for now I have set padding-bottom = -8 in the span definition */
#noscroll span p {
	padding-bottom: 0px;
	}

/* Use the custom after-pad property to add a width of 1 _ characters to any input's maximum length */
input {
	gap-after-padding: 2;
	padding-top: 20em;
	line-height: 20em;
	}

/* Drag and drop targets always have the same gap text underneath them */
input[type="droptarget"] {
	gap-text: "__.__";
	}

/* Color classes */
.blue {
	color: #3A00FF;
	}

/* Classes for showing selections and results */
a.selected {
	text-decoration: underline;
	}
g.selected {
	text-decoration: underline;
	}
a.correct, input.correct, g.correct {
	color: 	#347C17 !important;
	text-decoration: underline;
	}
select.correct {
	color: 	#006600 !important;
	text-decoration: underline;
	}
a.incorrect, input.incorrect, g.incorrect, select.incorrect {
	color: #AA0000 !important;
	}

a.neutral, input.neutral, g.neutral, select.neutral {
	color: #0000AA !important;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Headings */
/* h1 is used for main titles in splitscreen reading texts when no subtitles are present. */
h1 {
	font-size: 15px;
	font-weight: bold;
	color: #000000;
	padding: 0px 25px 18px 6px;
	line-height: 20em;
	}

/* h2 is used for subtitles in reading texts and exercises */
h2 {
	font-size: 12px;
	color: #333333;
	padding: 0px 25px 18px 6px;
	text-align: left;
    line-height: 20em;
	}

/* h4 is used for section headings in questionList Reading 3 Matching */
h4 {
	font-size: 12px;
	padding-left: 0px;
	padding-bottom: 6px;
	padding-top: 10px;
	}

/* h5 is used for question headings (when no image) in the questionList portion of a splitscreen exercise */
 h5{
	font-size:13px;
	padding-left: 20px;
	padding-bottom: 15px;
	padding-top: 20px;
	}

/* h7 is used for section headings in the reading text portion of a splitscreen exercise ie Glossary */
h7{
	font-size: 13px;
	font-weight: bold;
	padding-top: 10px;
	padding-left: 6px;
	padding-right: 25em;
	}
	
/* h8 is used for main titles in exercises when <h2> are present. */
h8{
	font-size: 15px;
	font-weight: bold;
	padding: 20px 25px 0px 6px;
	line-height: 20em;
	padding-right: 25em;
	}

/*h10 is used for headings in the exercise portion of a splitscreen exercise when there's a mixture of heading text and questionlist text. */	
h10{
	font-size: 13px;
	font-weight: bold;
	padding-top: 20px;
	padding-left: 25px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Exercise ID and class */
/* this class is for instruction in reading exercise (only reading exercises need this) */
#instruction{
	padding-left:20px;
	padding-right: 160%;
	}
/*-----------------------------------------------------------------------------------------------*/
/* This class is for glossary section in reading exercises */
#glossary {
	padding-left: 50em;
	}
/*-----------------------------------------------------------------------------------------------*/
/* This class is used to add line spacing between question items. */
.linespace {
	line-height: 12px;
	}
/*-----------------------------------------------------------------------------------------------*/
/*Formatting used for writing task text. */
.popuptext {
	margin: 0 0 0 0;
	padding: 20px 50px 20px 50px;
	line-height: 22em;
	}		
/*-----------------------------------------------------------------------------------------------*/
/*Formatting used for feedback text without numbering. */
.feedbacktext {
	margin: 0 0 0 0;
	padding: 20px 0px 20px 50px;
	line-height: 22em;
	}
/*-----------------------------------------------------------------------------------------------*/
/* This is for image of writing task */
.imagetask {
	float:left;
	padding: 5px 10px 0 5px;
	}
/*-----------------------------------------------------------------------------------------------*/
#splitquestionList {
	padding: 20px 35px 0 25px;
	line-height: 22em;
	margin: 0 20px 20px 20px;
	}
	
#splitquestionList li {
	padding: 0 0 30px 15px;
	}

#readingText {
	padding-top:20px;
	line-height:22em;
	}

#readingText p {
	padding: 0 25px 20px 6px;
	}

/* This class is used for reading text which paragraph label */
#reading {
	padding-left: 15px;
	}
	
#splitreadingList {
	list-style-type: decimal;
	padding-left: 0px;
	padding-right: 35px;
	padding-bottom: 20em;
	text-align: left;
	line-height: 22em;
	}

/* This id affects the questionlist on Reading 3 Multiple selection */
#targetspotting {
	list-style-type: decimal;
	padding-left: 0px;
	padding-right: 35px;
	padding-top: 0px;
	padding-bottom: 20em;
	text-align: left;
	line-height: 22em;
	margin: 0 20px 20px 20px;
	}
	
#gapfillText{
	padding-top: 20px;
	padding-bottom: 20em;
	padding-left: 112px;
	text-align: left;
	line-height: 22em;
	padding-right: 25em;
	}

#gapfillText1 {
list-style-type: decimal;
	padding-left: 25px;
	padding-right: 35px;
	padding-top: 0;
	padding-bottom: 20em;
	text-align: left;
	line-height: 22em;
	margin: 0 20px 20px 20px;
	}
	
#dragdrop{
	padding-top: 12px;
	text-align: justify;
	line-height: 22em;
	padding-right: 25px;
	}
	
#dropdown{
	list-style-type: decimal;
	padding-left: 30px;
	padding-right: 35px;
	padding-top: 20px;
	padding-bottom: 20em;
	text-align: left;
	line-height: 22em;
	margin: 0 20px 20px 20px;
	}
	
#dropdown li {
	padding-left: 10px;
	}
	
#splitdrag{
	padding: 20px 25em 0 25px;
	}
	
#splitdrag p{
	padding-bottom: 20em;
	text-align: left;
	line-height: 22em;
	}
	
#splitreadingList li{
	padding-left: 20px;
	line-height: 20px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* colmuns for long feedback i.e. Writing 3 task 1 Identifying stages in a process */

#feedback1 {
	float: left;
	width: 220px;
	}
#feedback1 li {
	padding: 0 0 0 20px;
	}
	
#feedback2 {
	float: right;
	width: 270px;
	padding: 0 45px 0 0;
	}
#feedback2 li {
	padding: 0 0 0 20px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Specify for Academic Reading 1 Academic reading passage (2) */
	.hangingindenttable {
	padding-left: 31px;
 	text-indent: -124em;
	}
	
sh1{
	font-size: 13px;
	font-weight: bold;
	margin-top: 10px;
	padding-left: -95px;
	padding-right: 25em;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Specify for GT Reading 3 Men and women: minds apart */
	.menandwomen {
	padding-left: 80px;
 	text-indent: -173em;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Specify for GT Reading 3 classification */
	#menandwomendropdown {
	padding-left: 25px;
	padding-right: 35px;
	padding-top: 20px;
	text-align: left;
	line-height: 22em;
	margin: 0 20px 20px 20px;
	}
	
	#menandwomendropdown p{
	padding-left: 25px;
 	text-indent: -30px;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Specify for Writing Unit 2 Task 1 Express purpose, cause and result */
#Exp1{
	width: 170px;
	float:left;
	padding-left: 30px;
	line-height: 22em;
	}
	#Exp2{
	width: 170px;
	float:left;
	line-height: 22em;
	}
/*-----------------------------------------------------------------------------------------------*/
/* Specify for GT reading Unit 6 The sun protection factor */
#skinbox {
	width: 600px;

}
#skin1 {
	padding-left:20px; 
	width: 160px;
	float: left;
	line-height: 22em;
}

#skin1 p{ 
	padding-bottom: 12em;
}

#skin2 {
	padding-left: 15px;
	width: 250px;
	float: left;
	line-height: 24.5em;
}

#skin2 p{ 
	padding-bottom: 5em;
}

/*-----------------------------------------------------------------------------------------------*/