* {
	font-size: 12px;
	font-family: Verdana;
	line-height: 1.5em;
}

/* Layout */
section {
	display: block;
}

section#readingText {
	display: none;
}

section#body {
	display: block;
}

body video {
	display: none;
}
/* The rubric */
header {
	background-color: #F5D767;
		font-weight: bold;
}


/* section body*/
#body {
}

body audio {
	display: none;
}

#writingtask1 {
	padding: 20px 0 20px 0;
}

h1, h2, h3, h4, h5, h6, h7, h8, h9, h10, h11 {
	font-weight: bold;

}

h8, h8 > p,
h1, h1 > p {
	font-size: 16px !important;
}

h2, h2 > p,
h3, h3 > p,
h4, h4 > p,
h5, h5 > p,
h6, h6 > p,
h7, h7 > p,
h9, h9 > p,
h10, h10 > p,
h11, h11 > p {
	font-size: 12px !important;
}

/* Reading text spacing */
#readingText p {
	font-size: 13px;
	text-align: justify;
}

/* Links and draggable spans should be blue and not underlined */
a {
	color: #3A00FF;
	text-decoration: none;
	display: inline-block;
	text-indent: 20px;
}

input {
	border: 1px solid #000000;
		border-radius: 5px;
}

/* image */
.rightFloat {
	float: left;
	display: block;
	padding: 20px 100% 20px 0;
}

.rightFloat1 {
	float: left;
	display: block;
	padding: 20px 100% 25px 0;
}

.imagetask {
	display: none;
}