<?xml version="1.0" encoding="UTF-8"?>
<config>
	<id>/area1/CCB in localhost</id>
	<developer>none</developer>
	<dbHost>0</dbHost>
	<productCode>54</productCode>
	<channel name='aws' caption='aws'>
		<streamingMedia>rtmp://streaming.clarityenglish.com:1935/cfx/st/</streamingMedia>
	</channel>
	<xchannel name='network' caption='network'>
		<streamingMedia>{contentPath}/video/</streamingMedia>
	</xchannel>
	<channel name='vimeo' caption='vimeo'>
		<streamingMedia>http://player.vimeo.com/external/</streamingMedia>
	</channel>	
	<language>EN*</language>
	
	<contentPath>http://dock.contentbench/CCB/</contentPath>
	<remoteDomain>http://dock.projectbench/</remoteDomain>
	<remoteGateway>http://dock.projectbench/Software/ResultsManager/web/amfphp/</remoteGateway>
	
	<remoteService>RotterdamService</remoteService>
</config>