<?xml version="1.0" encoding="UTF-8"?>
<config>
	<id>/BritishCouncil/HongKong</id>
	<developer>BC</developer>
	<dbHost>102</dbHost>
	<prefix>Clarity</prefix>
	<rootID>1</rootID>
	<groupID>22150</groupID>
	<loginOption>2</loginOption>
	<productVersion>lastMinute</productVersion>
	<courseFile>menu-{productCode}-LastMinute.xml</courseFile>
	<streamingMedia />
	<sharedMedia />
	<brandingMedia />
	<language>EN*</language>
	<contentPath>http://dock.projectbench/Content/</contentPath>
	<remoteDomain>http://dock.projectbench/</remoteDomain>
	<remoteGateway>http://dock.projectbench/Software/ResultsManager/web/amfphp/</remoteGateway>
	<remoteService>IELTSService</remoteService>
</config>