<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Clarity Competition</p>

<p>Answer 1: {answer1}<br />
Answer 2: {answer2}<br />
Answer 3: {answer3}<br />
Prize: {ClarityPrize}</p>

<p>Name: {customerName}<br />
Email: {customerEmail}<br />
Institution: {institution}<br />
Department: {department}<br />
Address: {address}<br />
Country: {country}<br />
Phone: {phone}<br />
</p>
<p>Link: /comp/index.php</p>
</body>
</html>