<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;">

<p>Subscribe to Loud and Clear and the Clarity Guide</p>

<p>Enquiry: {enquiry}<br />
Receive catalogue by: {deliveryMethod}</p>

<p>
Sector: {sector}<br />
Name: {customerName}<br />
Institution: {institution}<br />
Email: {customerEmail}<br />
Phone: {phone}<br />
Address: {address}<br />
Country: {country}<br />
</p>

<p>
Clarity reference from: {hearFrom}<br />
Mailing list: {mailingList}<br />
Message: {message}<br />
</p>

<p>Contact by: {contactMethod}</p>

<p>Link: /loudandclear/index.php</p>

</body>
</html>