/*
confirm that the rotterdam.clearpronunciation namespaces are NOT used please
@namespace clearpronunciation "com.clarityenglish.rotterdam.clearpronunciation.*";
@namespace ui "skins.rotterdam.clearpronunciation.progress.ui.*";
*/
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace progress "com.clarityenglish.clearpronunciation.view.progress.*";
@namespace progresscomponents "com.clarityenglish.bento.view.progress.components.*";
@namespace progressui "com.clarityenglish.bento.view.progress.ui.*"; 
@namespace login "com.clarityenglish.rotterdam.view.login.*";
@namespace unit "com.clarityenglish.clearpronunciation.view.unit.*";
@namespace unitui "com.clarityenglish.rotterdam.view.unit.ui.*";
@namespace ui2 "com.clarityenglish.rotterdam.view.unit.ui.*";
@namespace widgets "com.clarityenglish.rotterdam.view.unit.widgets.*";
@namespace tlfcomponents "com.clarityenglish.textLayout.components.*";
@namespace recorder "com.clarityenglish.bento.view.recorder.*";
@namespace clearpronunciation1 "com.clarityenglish.clearpronunciation.*";
@namespace course "com.clarityenglish.clearpronunciation.view.course.*";
@namespace title "com.clarityenglish.clearpronunciation.view.title.*";
@namespace ui3 "skins.clearpronunciation.progress.ui.*";
@namespace exercise "com.clarityenglish.bento.view.exercise.*";
@namespace settings "com.clarityenglish.clearpronunciation.view.settings.*";
@namespace home "com.clarityenglish.clearpronunciation.view.home.*";
@namespace video "com.clarityenglish.controls.video.*";
@namespace vo "com.clarityenglish.clearpronunciation.vo.*";
@namespace widgetcomponents "com.clarityenglish.components.*";
@namespace widgetskins "skins.rotterdam.unit.widgets.*";

global {
	defaultColor: #00A2C8;
	defaultColorDark: #005063;
	rollOverColor: #FBCF57;
	selectionColor: #19B5E0;
	/*defaultIconSmall: Embed(source='skins/ielts/assets/assets.swf', symbol='ReadingIconSmall');
	defaultIconBare: Embed(source='skins/ielts/assets/assets.swf', symbol='ReadingIconBare');*/
	IColor : #EC1C32;
	CColor : #D19D2E;
	VColor : #8AA13B;
	DColor : #0499A6;
	
	cDarkColor: #263A45;
	cLightColor: #416B75;
	vDarkColor: #603813;
	vLightColor: #E0E06B;
	dDarkColor: #3A4F00;
	dLightColor: #8BC452;
	
	undoneDarkColor: #979797;
	undoneLightColor: #CACACA;
	
	circleWedgeColors: #006669, #C7EAE4, #37A6A0, #204C57, #9AB5B1, #2F7571, #2F5252, #3CBDBD, #585C8B;
	
	unitColours: #FFCC00, #99CC33, #29ABE2, #77449D, #D4145A, #AA0000, #FF5900, #00A99D, #140382;
	gradientColours: #FFFF66, #CCFF33, #70D9FF, #AD8EC4, #FF73BB, #FF8085, #FFBD00, #7AD6C7, #617AC4;
}

tlfcomponents|AudioPlayer {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.ui.AudioPlayerSkin");
	compactStoppedIcon: Embed(source="skins/clearpronunciation/assets/play.png");
	compactPlayedIcon: Embed(source="skins/clearpronunciation/assets/played.png");
	compactPausedIcon: Embed(source="skins/clearpronunciation/assets/pause.png");
	compactPlayingIcon: Embed(source="skins/clearpronunciation/assets/playing.png");
	fullPlayIcon: Embed(source="skins/clearpronunciation/assets/play.png");
	fullPauseIcon: Embed(source="skins/clearpronunciation/assets/pause.png");
}

vo|WindowShade {
	skinClass: ClassReference("skins.clearpronunciation.course.WindowShadeSkin");
}

vo|WindowShade s|Button#thumbButton {
	skinClass: ClassReference("skins.clearpronunciation.course.ui.WindowShadeThumbButtonSkin");
}

s|TitleWindow.RecorderTitleWindow {
	skinClass: ClassReference("skins.clearpronunciation.unit.recorder.RecorderTitleWindowSkin");
}

s|TitleWindow.SettingsTitleWindow {
	skinClass: ClassReference("skins.clearpronunciation.settings.SettingsTitleWindowSkin");
}

recorder|RecorderView {
	skinClass: ClassReference("skins.clearpronunciation.unit.recorder.RecorderSkin");
}

recorder|WaveformView {
	skinClass: ClassReference("skins.clearpronunciation.unit.recorder.WaveformSkin");
}

s|Button#unitItemLeftButton,#unitItemRightButton {
	skinClass: ClassReference("skins.clearpronunciation.home.ui.UnitItemButtonSkin");
}

clearpronunciation1|ClearPronunciationApplication {
	skinClass: ClassReference("skins.clearpronunciation.ClearPronunciationApplicationSkin");
}

login|LoginView {
	skinClass: ClassReference("skins.clearpronunciation.login.LoginSkin");
}

login|LoginView s|Button#loginButton {
	skinClass: ClassReference("skins.rotterdam.ui.LoginButtonSkin");
}

login|LoginView s|Button#forgotPassword_btn {
	skinClass: ClassReference("skins.rotterdam.ui.ForgotPasswordButtonSkin");
}

/*login|LoginView s|TextInput {
skinClass: ClassReference("spark.skins.spark.TextInputSkin");
borderVisible: true;
borderColor: #C8C8C8;
contentBackgroundColor: #FFFFFF;
}*/

login|LoginView s|TextInput {
	skinClass: ClassReference("skins.rotterdam.ui.LoginTextInputSkin");
	cornerRadius: 5;
}

title|TitleView {
	skinClass: ClassReference("skins.clearpronunciation.title.TitleSkin");
}

title|TitleView s|TabbedViewNavigator {
	skinClass: ClassReference("skins.clearpronunciation.title.ui.WebTabbedViewNavigatorSkin");
}

title|TitleView s|Button#settingsButton {
	skinClass: ClassReference("skins.clearpronunciation.title.ui.SettingsButtonSkin");
}

title|TitleView s|Button#phonemicChartButton {
	skinClass: ClassReference("skins.clearpronunciation.title.ui.PhonemicChartButtonSkin");
}

title|TitleView s|Button#helpButton {
	skinClass: ClassReference("skins.clearpronunciation.title.ui.HelpButtonSkin");
}

title|TitleView s|Button#logoutButton {
	skinClass: ClassReference("skins.clearpronunciation.title.ui.LogoutButtonSkin");
}

title|TitleView s|Button#backButton {
	skinClass: ClassReference("skins.clearpronunciation.progress.ProgressBackButtonSkin");
}

home|HomeView {
	skinClass: ClassReference("skins.clearpronunciation.home.HomeSkin");
}

home|HomeView s|Button#courseListButton {
	skinClass: ClassReference("skins.clearpronunciation.home.ui.CourseListButtonSkin");
}

video|VideoSelector {
	skinClass: ClassReference("skins.clearpronunciation.controls.video.AndroidVideoSelectorSkin");
}

@media (os-platform: "IOS"), (os-platform: "Android") {
	home|HomeView s|List#courseList s|VScrollBar {
		skinClass:ClassReference("spark.skins.mobile.VScrollBarSkin");
	}
}

course|CourseView {
	skinClass: ClassReference("skins.clearpronunciation.course.CourseSkin");
}

course|CourseView s|BorderContainer#unitContainer {
	skinClass: ClassReference("skins.rotterdam.course.UnitListContainerSkin");
}

course|CourseView s|List#unitList s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}


course|CourseView s|Button#unitDropDownLeftItemButton, #unitDropDownRightItemButton {
	skinClass: ClassReference("skins.clearpronunciation.home.ui.UnitItemButtonSkin");
}

course|CourseView s|Button#backToMenuButton {
	skinClass: ClassReference("skins.clearpronunciation.course.ui.MenuButtonSkin");
}

course|CourseView s|Button#recorderButton {
	skinClass: ClassReference("skins.clearpronunciation.course.ui.RecorderButtonSkin");
}

course|CourseView s|Button#phonemicChartButton {
	skinClass: ClassReference("skins.clearpronunciation.course.ui.PhonemicChartButtonSkin");
}

course|CourseView s|Button#youWillButton{
	skinClass: ClassReference("skins.clearpronunciation.course.ui.YouWillButtonSkin");
}

course|CourseView s|Button#backButton {
	skinClass: ClassReference("skins.clearpronunciation.course.ui.BackButtonSkin");
}

course|CourseView s|Button#nextButton {
	skinClass: ClassReference("skins.clearpronunciation.course.ui.NextButtonSkin");
}

course|CourseView s|Button#makeSoundsExpandButton {
	skinClass: ClassReference("skins.clearpronunciation.course.ui.MakeSoundsExpandButtonSkin");
}

course|CourseView s|Button#makeSoundsCollapseButton {
	skinClass: ClassReference("skins.clearpronunciation.course.ui.MakeSoundsCollapseButtonSkin");
}

course|UnitCaptionComponent {
	skinClass: ClassReference("skins.clearpronunciation.course.UnitCaptionComponentSkin");	
}

course|UnitCaptionComponent s|Button {
	skinClass: ClassReference("skins.clearpronunciation.home.ui.UnitItemButtonSkin");
}

unit|UnitView {
	skinClass: ClassReference("skins.clearpronunciation.unit.UnitSkin");
}

exercise|ExerciseView {
	skinClass: ClassReference("skins.clearpronunciation.unit.ExerciseSkin");
}

exercise|ExerciseView s|Button#markingButton {
	skinClass: ClassReference("skins.clearpronunciation.exercise.MarkingButtonSkin");
}

exercise|ExerciseView s|Button#startAgainButton {
	skinClass: ClassReference("skins.clearpronunciation.exercise.StartAgainButtonSkin");
}

/* Progress view styles */
progress|ProgressView {
	skinClass: ClassReference("skins.clearpronunciation.progress.ProgressSkin");
}

progress|ProgressView s|ButtonBar#progressNavBar {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.ProgressNavBarSkin");
}

progress|ProgressCoverageView {
	skinClass: ClassReference("skins.clearpronunciation.progress.ProgressCoverageSkin");
}

progress|ProgressAnalysisView {
	skinClass: ClassReference("skins.clearpronunciation.progress.ProgressAnalysisSkin");
}

progress|ProgressAnalysisView s|Button#circleWedgeInstructionLabel {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.GreyLabelButtonSkin");
}

progress|ProgressScoreView {
	skinClass: ClassReference("skins.clearpronunciation.progress.ProgressScoreSkin");
}

progress|ProgressScoreView s|DataGrid#scoreDetailsDataGrid {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.ProgressScoreDataGridSkin");
	borderAlpha: 0;
}

progress|ProgressScoreView s|Button#ScoreEmptyScoreLabelButton {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.GreyLabelButtonSkin");
}

progress|ProgressCompareView {
	skinClass: ClassReference("skins.clearpronunciation.progress.ProgressCompareSkin");
}

progress|ProgressCompareView s|Button#compareEmptyScoreLabel {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.GreyLabelButtonSkin");
}

progress|ProgressCertificateView {
	skinClass: ClassReference("skins.clearpronunciation.progress.ProgressCertificateSkin");
}

progress|ProgressCertificateView s|Button#printButton {
	skinClass: ClassReference("skins.clearpronunciation.exercise.PrintButtonSkin");
}

progressui|ProgressCourseButtonBar {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.ProgressCourseButtonBarSkin");
}

progressui|ProgressBarRenderer {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.ProgressBarRendererSkin");
}

settings|SettingsView {
	skinClass: ClassReference("skins.clearpronunciation.settings.SettingsSkin");
}

settings|SettingsView video|VideoSelector {
	skinClass: ClassReference("skins.clearpronunciation.settings.ui.AndroidSettingsVideoSelectorSkin");
}

/*settings|SettingsView s|Button#saveCloseButton {
	skinClass: ClassReference("skins.clearpronunciation.settings.ui.SettingsCloseButtonSkin");
}*/

ui2|WidgetList s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}

widgets|VideoWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.VideoWidgetSkin");
}

widgets|AudioWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.AudioWidgetSkin");
}

widgets|AnimationWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.AnimationWidgetSkin");
}

widgets|OrchidWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.OrchidWidgetSkin");
}

widgets|SelectorWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.SelectorWidgetSkin");
}

widgets|GroupWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.GroupWidgetSkin");
}

widgets|VideoSelectorWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.VideoSelectorWidgetSkin");
}

widgets|AudioWidget widgetskins|WidgetText#widgetText widgetcomponents|PromptingRichEditableText#richEditableText {
	color: #FF0000;
	fontSize: 18 !important;
}
