@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace clearpronunciation "com.clarityenglish.rotterdam.clearpronunciation.*";
@namespace progress "com.clarityenglish.clearpronunciation.view.progress.*";
@namespace progresscomponents "com.clarityenglish.bento.view.progress.components.*";
@namespace progressui "com.clarityenglish.bento.view.progress.ui.*"; 
@namespace login "com.clarityenglish.rotterdam.view.login.*";
@namespace unit "com.clarityenglish.clearpronunciation.view.unit.*";
@namespace unitui "com.clarityenglish.rotterdam.view.unit.ui.*";
@namespace ui "skins.rotterdam.clearpronunciation.progress.ui.*";
@namespace ui2 "com.clarityenglish.rotterdam.view.unit.ui.*";
@namespace widgets "com.clarityenglish.rotterdam.view.unit.widgets.*";
@namespace tlfcomponents "com.clarityenglish.textLayout.components.*";
@namespace recorder "com.clarityenglish.bento.view.recorder.*";
@namespace clearpronunciation1 "com.clarityenglish.clearpronunciation.*";
@namespace course "com.clarityenglish.clearpronunciation.view.course.*";
@namespace title "com.clarityenglish.clearpronunciation.view.title.*";
@namespace ui3 "skins.clearpronunciation.progress.ui.*";
@namespace exercise "com.clarityenglish.bento.view.exercise.*";
@namespace settings "com.clarityenglish.clearpronunciation.view.settings.*";
@namespace home "com.clarityenglish.clearpronunciation.view.home.*";
@namespace video "com.clarityenglish.controls.video.*";

global {
	defaultColor: #00A2C8;
	defaultColorDark: #005063;
	/*defaultIconSmall: Embed(source='skins/ielts/assets/assets.swf', symbol='ReadingIconSmall');
	defaultIconBare: Embed(source='skins/ielts/assets/assets.swf', symbol='ReadingIconBare');*/
	IColor : #EC1C32;
	CColor : #D19D2E;
	VColor : #8AA13B;
	DColor : #0499A6;
	
	iBarColor1: #7C0124;
	iBarColor2: #EC1C32;
	cBarColor1: #603813;
	cBarColor2: #E0E06B;
	vBarColor1: #3A4F00;
	vBarColor2: #8BC452;
	dBarColor1: #004766;
	dBarColor2: #53C5C5;
	
	iCircleWedgeColors: #EC1C32, #C1272D, #CD5257, #611417, #E6A9AB, #EC616F, #9C1220, #FF4F62, #FF8F9B;
	cCircleWedgeColors: #FFE79E, #603813, #E0E06B, #FFFFB8, #D19D2E, #7A6138;
	vCircleWedgeColors: #7A6138, #7BA35B, #ECFFB3, #364A00, #C2F065, #378500;
	dCircleWedgeColors: #5BCAE3, #1376A1, #6ED4D4, #BCE0E0, #004766, #528793;
	
	unitColours: #FFCC00, #99CC33, #29ABE2, #77449D, #D4145A, #AA0000, #FF5900, #00A99D, #140382;
	gradientColours: #FFFF66, #CCFF33, #70D9FF, #AD8EC4, #FF73BB, #FF8085, #FFBD00, #7AD6C7, #617AC4;
}

tlfcomponents|AudioPlayer {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.ui.AudioPlayerSkin");
	compactStoppedIcon: Embed(source="skins/assets/play.png");
	compactPlayedIcon: Embed(source="skins/assets/play.png");
	compactPausedIcon: Embed(source="skins/assets/play.png");
	compactPlayingIcon: Embed(source="skins/assets/stop.png");
	fullPlayIcon: Embed(source="skins/assets/play.png");
	fullPauseIcon: Embed(source="skins/assets/stop.png");
}

s|TitleWindow.RecorderTitleWindow {
	skinClass: ClassReference("skins.clearpronunciation.unit.recorder.RecorderTitleWindowSkin");
}

s|TitleWindow.SettingsTitleWindow {
	skinClass: ClassReference("skins.clearpronunciation.settings.SettingsTitleWindowSkin");
}

recorder|RecorderView {
	skinClass: ClassReference("skins.clearpronunciation.unit.recorder.RecorderSkin");
}

recorder|WaveformView {
	skinClass: ClassReference("skins.clearpronunciation.unit.recorder.WaveformSkin");
}

clearpronunciation1|ClearPronunciationApplication {
	skinClass: ClassReference("skins.clearpronunciation.ClearPronunciationApplicationSkin");
}

login|LoginView {
	skinClass: ClassReference("skins.clearpronunciation.login.LoginSkin");
}

login|LoginView s|Button#loginButton {
	skinClass: ClassReference("skins.rotterdam.ui.LoginButtonSkin");
}

login|LoginView s|Button#forgotPassword_btn {
	skinClass: ClassReference("skins.rotterdam.ui.ForgotPasswordButtonSkin");
}

/*login|LoginView s|TextInput {
skinClass: ClassReference("spark.skins.spark.TextInputSkin");
borderVisible: true;
borderColor: #C8C8C8;
contentBackgroundColor: #FFFFFF;
}*/

login|LoginView s|TextInput {
	skinClass: ClassReference("skins.rotterdam.ui.LoginTextInputSkin");
	cornerRadius: 5;
}

title|TitleView {
	skinClass: ClassReference("skins.clearpronunciation.title.TitleSkin");
}

title|TitleView s|TabbedViewNavigator {
	skinClass: ClassReference("skins.clearpronunciation.title.ui.WebTabbedViewNavigatorSkin");
}

title|TitleView s|Button#settingsButton {
	skinClass: ClassReference("skins.clearpronunciation.title.ui.SettingsButtonSkin");
}

title|TitleView s|Button#phonemicChartButton {
	skinClass: ClassReference("skins.clearpronunciation.title.ui.PhonemicChartButtonSkin");
}

title|TitleView s|Button#helpButton {
	skinClass: ClassReference("skins.clearpronunciation.title.ui.HelpButtonSkin");
}

title|TitleView s|Button#logoutButton {
	skinClass: ClassReference("skins.clearpronunciation.title.ui.LogoutButtonSkin");
}

home|HomeView {
	skinClass: ClassReference("skins.clearpronunciation.home.HomeSkin");
}

home|HomeView s|Button#courseListButton {
	skinClass: ClassReference("skins.clearpronunciation.home.ui.CourseListButtonSkin");
}

home|HomeView s|Button#unitItemLeftButton,#unitItemRightButton {
	skinClass: ClassReference("skins.clearpronunciation.home.ui.UnitItemButtonSkin");
}

video|VideoSelector {
	skinClass: ClassReference("skins.clearpronunciation.controls.video.AndroidVideoSelectorSkin");
}

@media (os-platform: "IOS"), (os-platform: "Android") {
	home|HomeView s|List#courseList s|VScrollBar {
		skinClass:ClassReference("spark.skins.mobile.VScrollBarSkin");
	}
}

course|CourseView {
	skinClass: ClassReference("skins.clearpronunciation.course.CourseSkin");
}

course|CourseView s|BorderContainer#unitContainer {
	skinClass: ClassReference("skins.rotterdam.course.UnitListContainerSkin");
}

course|CourseView s|List#unitList s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}

course|UnitCaptionComponent {
	skinClass: ClassReference("skins.clearpronunciation.course.UnitCaptionComponentSkin");	
}

course|UnitCaptionComponent s|Button {
	skinClass: ClassReference("skins.clearpronunciation.home.ui.UnitItemButtonSkin");
}

course|CourseView s|Button#unitDropDownLeftItemButton, #unitDropDownRightItemButton {
	skinClass: ClassReference("skins.clearpronunciation.home.ui.UnitItemButtonSkin");
}

unit|UnitView {
	skinClass: ClassReference("skins.clearpronunciation.unit.UnitSkin");
}

exercise|ExerciseView {
	skinClass: ClassReference("skins.clearpronunciation.unit.ExerciseSkin");
}

/* Progress view styles */
progress|ProgressView {
	skinClass: ClassReference("skins.clearpronunciation.ProgressSkin");
}

progress|ProgressView s|ButtonBar#progressNavBar {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.ProgressNavBarSkin");
}

progress|ProgressCoverageView {
	skinClass: ClassReference("skins.clearpronunciation.progress.ProgressCoverageSkin");
}

progress|ProgressCoverageView #exLabelButton {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.ExLabelButtonSkin");
}

progress|ProgressAnalysisView {
	skinClass: ClassReference("skins.clearpronunciation.progress.ProgressAnalysisSkin");
}

progress|ProgressAnalysisView s|Button#circleWedgeInstructionLabel {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.GreyLabelButtonSkin");
}

progress|ProgressScoreView {
	skinClass: ClassReference("skins.clearpronunciation.progress.ProgressScoreSkin");
}

progress|ProgressScoreView s|DataGrid#scoreDetailsDataGrid {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.ProgressScoreDataGridSkin");
	borderAlpha: 0;
}

progress|ProgressScoreView s|Button#ScoreEmptyScoreLabelButton {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.GreyLabelButtonSkin");
}

progress|ProgressCompareView {
	skinClass: ClassReference("skins.clearpronunciation.progress.ProgressCompareSkin");
}

progress|ProgressCompareView s|Button#compareEmptyScoreLabel {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.GreyLabelButtonSkin");
}

progress|ProgressCertificateView {
	skinClass: ClassReference("skins.clearpronunciation.progress.ProgressCertificateSkin");
}

progress|ProgressCertificateView s|Button#printButton {
	skinClass: ClassReference("skins.clearpronunciation.exercise.PrintButtonSkin");
}

progressui|ProgressCourseButtonBar {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.ProgressCourseButtonBarSkin");
}

progressui|ProgressBarRenderer {
	skinClass: ClassReference("skins.clearpronunciation.progress.ui.ProgressBarRendererSkin");
}

settings|SettingsView {
	skinClass: ClassReference("skins.clearpronunciation.settings.SettingsSkin");
}

ui2|WidgetList s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}

widgets|VideoWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.VideoWidgetSkin");
}

widgets|AudioWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.AudioWidgetSkin");
}

widgets|AnimationWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.AnimationWidgetSkin");
}

widgets|OrchidWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.OrchidWidgetSkin");
}

widgets|SelectorWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.SelectorWidgetSkin");
}

widgets|GroupWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.GroupWidgetSkin");
}

widgets|VideoSelectorWidget {
	skinClass: ClassReference("skins.clearpronunciation.unit.widgets.VideoSelectorWidgetSkin");
}
