@CHARSET "utf-8";

body {
    margin:0;
    padding:0;
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	width: 100%;
    font: 1em/1.25em Arial, Helvetica, sans-serif;
}
header { width: 100%; }
footer { width: 100%; clear: left; }
p {
    color: red;
}
nav { width: 38%; float: left; }
article { width: 62%; }
