<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>IYJonline.com registration request</p>

<p>Who applies? {name}<br />
which is/from: {identity}</p>

<p>What does the he/she request? {requestFor}</p>

<p>Email: {email}<br />
Institution: {institution}<br />
Department: {department}<br />
Address: {address}<br />
Country: {country}<br />
Phone: {phone}<br />
</p>

<p>Message: {message}</p>

<p>Link: /comp/index.php</p>
</body>
</html>