
<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0 0 10px 0;">Click <a href="http://www.clarityenglish.com/loudandclear/pdf/Clarity_Guide_11.htm?me=sub_reg_email">here</a> to download the 2011 Clarity Guide.</p>

<p style="margin:0; padding:0 0 10px 0; font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;">Click <a href="http://www.clarityenglish.com/loudandclear/pdf/LoudnClear_28.htm?me=sub_reg_email">here</a> to download the latest issue of Loud and Clear, the Clarity newsletter.</p>
