<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px">

<p style="margin:0; padding:0 0 10px 0;">Dear {fpw_name}</p>
<p style="margin:0; padding:0 0 10px 0;">We have received your password reminder request.<br />
Here are your login details. Please keep them safely. </p>
<p style="margin:0; padding:0 0 10px 0;">Login name: {fpw_name}<br />
Learner ID: {fpw_sid}<br />
Email: {fpw_email}<br />
Password: {fpw_password}</p>
<p style="margin:0; padding:0 0 10px 0;">Best wishes<br />
Clarity Support Team</p>
<p style="margin:0; padding:0 0 10px 0;">Clarity Language Consultants Ltd (UK and Hong Kong)<br />
  <a href="http://www.clarityenglish.com" target="_blank">http://www.ClarityEnglish.com</a><br />
  PO Box 163, Sai Kung, Hong Kong<br />
Tel: (+852) 2791 1787, Fax: (+852) 2791 6484</p>

</body>
</html>