
<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;  margin:0; padding:0 0 10px 0;">Please feel free to contact me if you have any questions.</p>

<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0 0 10px 0;">
Best wishes<br />
Nicole Lung</p>

<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px;  margin:0; padding:0 0 10px 0;">Clarity Language Consultants Ltd (UK and Hong Kong)<br />
  <a href="http://www.clarityenglish.com">www.ClarityEnglish.com</a><br />
  <a href="http://www.claritylifeskills.com">www.ClarityLifeSkills.com</a><br />
  PO Box 163, Sai Kung, Hong Kong<br />
Tel: (+852) 2791 1787, Fax: (+852) 2791 6484</p>