<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<p>Young India Film promotion enquiry</p>

<p>Enquiry: {enquiry}<br />
Receive catalogue by: {deliveryMethod}</p>

<p>
Name: {customerName}<br />
Institution: {institution}<br />
Email: {customerEmail}<br />
Phone: {phone}<br />
Address: {address}<br />
Country: {country}<br />
</p>

<p>
Clarity reference from: {hearFrom}<br />
Mailing list: {mailingList}<br />
Message: {message}<br />
</p>

<p>Contact by: {contactMethod}</p>

<p>Link: /enquiry.php{price}</p>
</body>
</html>