<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0 0 10px 0;">Want to improve your English? Preparing for an exam, such as IELTS? Please click in to <a href="http://www.ClarityLifeSkills.com" target="_blank">www.ClarityLifeSkills.com</a>.</p>

<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0 0 10px 0;">ClarityLifeSkills is the ideal place to prepare for IELTS and other English language exams. A variety of online programs and courses enable you to practise your reading, writing, grammar, listening, speaking, vocabulary and pronunciation. Prices are from USD 19.99 for one month.</p>

<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0 0 10px 0;">We will send you the latest issue of the newsletter shortly.</p>

<p style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px; margin:0; padding:0 0 10px 0;">Note: Road to IELTS is no longer available on ClarityLifeSkills.com</p>
