<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body style="font-family:Verdana, Arial, Helvetica, sans-serif; font-size:12px">

<p style="margin:0; padding:0 0 10px 0;">Dear {userName}</p>
<p style="margin:0; padding:0 0 10px 0;">Thank you for renewing out Clarity Programs.<br />
We will contact you shortly for the renewal item(s). </p>
<p style="margin:0; padding:0 0 10px 0;">If you have any questions, please do get in touch.</p>
<p style="margin:0; padding:0 0 10px 0;">Best wishes<br />
Nicole Lung</p>
<p  style="margin:0; padding:0 0 10px 0;">Clarity Language Consultants Ltd (UK and Hong Kong)<br />
  <a href="http://www.clarityenglish.com" target="_blank">http://www.ClarityEnglish.com</a><br />
  PO Box 163, Sai Kung, Hong Kong<br />
Tel: (+852) 2791 1787, Fax: (+852) 2791 6484</p>

</body>
</html>