<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>


<p>Dear {customerName}</p>
<p>Thank you for  your participation.<br />
A notification email will be sent if you are one of the Lucky Draw winners by the end of the month, good luck! </p>
<p>If you have any questions, please do get in touch.</p>
<p>Best wishes<br />
Nicole Lung</p>
<p>Clarity Language Consultants Ltd (UK and Hong Kong)<br />
  <a href="http://www.clarityenglish.com" target="_blank">http://www.ClarityEnglish.com</a><br />
  PO Box 163, Sai Kung, Hong Kong<br />
Tel: (+852) 2791 1787, Fax: (+852) 2791 6484</p>

</body>
</html>