/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace tester "com.clarityenglish.ieltstester.view.tester.*";

global {
	modal-transparency: 0.1;
	modal-transparency-blur: 0;
	modal-transparency-color: black;
	modal-transparency-duration: 200;
}

tester|TesterView {
	skinClass: ClassReference("com.clarityenglish.ieltstester.view.tester.TesterSkin");
}