@charset "utf-8";
/* CSS Document */

/* TitleWindow { */
/* not supported in CSS 
	borderAlpha: 0.8;
	borderColor: 0x1D9B9B;
*/
/* } */

@font-face { 
	src: url("../assets/HelveticaLTStd-Bold.otf"); 
	fontFamily: "Helvetica Neue Lt Std"; 
	fontWeight: bold;
}
@font-face { 
	src: url("../assets/HelveticaLTStd-Roman.otf"); 
	fontFamily: "Helvetica Neue Lt Std"; 
	fontWeight: normal;
}

/*
GradientCanvas {
	fillColors: 0xffffff, 0xd4d4d3;
	cornerRadius: 0;
}
*/
/* Login screen */
.prompt {
	fontFamily: "Helvetica Neue Lt Std";
	color: #ffffff;
	fontSize: 16;
	fontWeight: bold;
}
.promptGrey {
	fontFamily: "Helvetica Neue Lt Std";
	color: #999999;
	fontSize: 16;
	fontWeight: bold;
}
/* Has to be Arial as used for typing in details */
.promptEntry {
	fontFamily: "Arial";
	color: #0b7bad;
	fontSize: 16;
	fontWeight: bold;
}
.promptEntryPassword {
	fontFamily: "Helvetica Neue Lt Std";
	color: #0b7bad;
	fontSize: 26;
}
.forgotPassword {
	fontFamily: "Helvetica Neue Lt Std";
	color: #fdb81d;
	fontSize: 24;
	fontWeight: normal;
	text-decoration: underline;
}
.forgotPasswordGrey {
	fontFamily: "Helvetica Neue Lt Std";
	color: #414042;
	fontSize: 14;
	fontWeight: normal;
	text-decoration: underline;
}
.loginButton {
	fontFamily: "Helvetica Neue Lt Std";
	color: #ffffff;
	fontSize: 14;
	fontWeight: bold;
}

/* For use in the main screen banner */
.licenceNumber {
	fontFamily: "Helvetica Neue Lt Std";
	color: #44AA66;
	fontSize: 40;
	fontWeight: normal;
}
/* For use in the column headings */
.bannerStepNumbers {
	fontFamily: "Helvetica Neue Lt Std";
	color: #ffffff;
	fontSize: 100;
	fontWeight: bold;
}
/* For all headings and main instructions */
.subHeadingLabelBlack, .inputPromptBlack {
	fontFamily: "Helvetica Neue Lt Std";
	color: #000000;
	fontSize: 13;
	fontWeight: bold;
}
.detailedHeadingLabelBlack {
	fontFamily: "Helvetica Neue Lt Std";
	color: #000000;
	fontSize: 11;
	fontWeight: normal;
}
/* Are these used ?*/
.inputLabelBlack {
	fontFamily: "Helvetica Neue Lt Std";
	color: #000000;
	fontSize: 13;
	fontWeight: bold;
}
.smallText {
	fontFamily: "Helvetica Neue Lt Std";
	color: #333333;
	fontSize: 13;
	fontWeight: normal;
}
.headingLabelWhite{
	color: #FFFFFF;
	fontSize: 14;
	fontWeight: bold;
}
.headingLabelBlack{
	color: #000000;
	fontSize: 13;
	fontWeight: bold;
}

CheckBox {
	disabledBorderColor: #EEEEEE;
	disabledFillAlphas: 0.01, 0.02;
}
Button {
	cornerRadius: 6;
}
.selectedButton {
	fillAlphas: 1, 1, 1, 1;
	fillColors: #3fa972, #3fa972, #3fa972, #3fa972;
}
.normalButton {
	fillAlphas: 0.6, 0.4, 0.75, 0.65;
	fillColors: #FFFFFF, #CCCCCC, #FFFFFF, #EEEEEE;
}
ButtonBar {
   buttonHeight: 26;
}

.mypanelTitle {
   letterSpacing: 0;
}

TextArea {
	backgroundColor:#FFFFFF;
	borderStyle: inset;
}

Tab {
	fillColors: #F0EB9E, #FFD184;
}

Tree {
	folderClosedIcon: ClassReference(null);
	folderOpenIcon: ClassReference(null);
	defaultLeafIcon: ClassReference(null);
	selectionColor: #44aa66;
	rollOverColor: #00a79d;
	textSelectedColor: #ffffff;
}
TreeItemRenderer {
	verticalCenter: 0;	
	fontFamily: "Arial"; 
	fontSize: 13;
	fontWeight: normal;
	rollOverColor: #ffffff;
}
.notSelectedTabStyle {
	backgroundColor: #F0EB9E;
	fontFamily: Verdana;
	fontSize: 11;
	fontWeight: bold;
	color: #825100;
}
.selectedTabStyle {
	backgroundColor: #FFD184;
	fontFamily: Verdana;
	fontSize: 11;
	fontWeight: bold;
	color: #613C00;
}
.errorMessage {
	fontSize: 14;
	fontWeight: bold;
	color: #d95982;
}
/* Gradient backgrounds */

/* Data shown on screen */
.testList, .inputEntry  {
	fontFamily: "Arial"; 
	fontSize: 12;
	fontWeight: normal;
}
.flatButton {
	fontFamily: "Helvetica Neue Lt Std";
	fontSize: 14;
	disabledColor: #999999; 
}
.panelTitleStyle {
	fontFamily: "Helvetica Neue Lt Std";
	textAlign: center;
	fontSize: 14;
	fontWeight: bold;
}
.importTextArea {
	borderColor: #999999;
}
.gradientBackgroundEnabled {
	backgroundImage: ClassReference("com.clarityenglish.testadmin.view.login.components.GradientBackground");
	backgroundSize: "100%";
	fillColors: #FFFFFF, #DCDDDE;
	fillAlphas: 0.5, 0.5;
	gradientType: 'radial';
	focalPointRatio: 0;
}
