<?xml version="1.0" encoding="UTF-8"?>
<bento xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<script id="model" type="application/xml">
			<menu>
				<course class="reading" caption="Reading" description="This session will be focussed on reading.  Reading units are oragnised thematically using themes commonly found in the IELTS exam.  The first six units familiarise the student with the basic test types.">
					<unit class="question-zone">
						<exercise href="reading/questionzone.xml" />
					</unit>
					<unit class="exam-practice">
						<exercise href="reading/practice1.pdf" caption="Reading practice paper Pt1" difficulty="1" />
						<exercise href="reading/practice2.pdf" caption="Reading practice paper Pt2" difficulty="2" />
					</unit>
					<unit class="advice-zone">
						<exercise href="reading/CriticalThinking_intro.flv" caption="Watch the teacher giving advice" />
					</unit>
					<unit class="practice-zone">
						<exercise href="reading/exercises/exercise1.xml" caption="Introduction" thumbnail="../RoadToIELTS2-Academic/Courses/1150976390861/Media/1156153794365.jpg"/>
						<exercise href="../RoadToIELTS2-Academic/Courses/1150976390861/Exercises/1156153794672.xml" caption="Short answer questions" thumbnail="../RoadToIELTS2-Academic/Courses/1150976390861/Media/1156153794672.jpg"/>
						<exercise href="../RoadToIELTS2-Academic/Courses/1150976390861/Exercises/1156153794430.xml" caption="Table completion" thumbnail="../RoadToIELTS2-Academic/Courses/1150976390861/Media/1156153794430.jpg"/>
					</unit>
				</course>
				
				<course class="writing" caption="Writing" description="This session will be focussed on writing.  Writing units are oragnised thematically using themes commonly found in the IELTS exam.  The first six units familiarise the student with the basic test types.">
					<unit class="question-zone">
						<exercise href="writing/questionzone.xml" />
					</unit>
					<unit class="exam-practice">
						<exercise href="writing/practice1.xml" caption="Writing practice paper Pt1" difficulty="3" />
						<exercise href="writing/practice2.xml" caption="Writing practice paper Pt2" difficulty="4" />
					</unit>
					<unit class="advice-zone">
						<exercise href="writing/Writing_intro.flv" caption="Watch the teacher giving advice" />
					</unit>
					<unit class="practice-zone">
						<exercise href="../RoadToIELTS2-Academic/Courses/1150976390861/Exercises/1156153794055.xml" caption="Introduction" />
						<exercise href="../RoadToIELTS2-Academic/Courses/1150976390861/Exercises/1156153794671.xml" caption="Static charts" />
						<exercise href="../RoadToIELTS2-Academic/Courses/1150976390861/Exercises/1156153794467.xml" caption="Past simple" />
					</unit>
				</course>
			</menu>
		</script>
	</head>
</bento>