<?xml version="1.0" encoding="UTF-8"?>
<bento xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<script id="model" type="application/xml">
			<menu>
				<course caption="Reading">
					<unit class="question-zone">
						<exercise href="reading/questionzone.xml" />
					</unit>
					<unit class="exam-practice">
						<exercise href="reading/practice1.xml" caption="Writing practice paper Pt1" difficulty="1" />
						<exercise href="reading/practice2.xml" caption="Writing practice paper Pt2" difficulty="2" />
					</unit>
					<unit class="advice-zone">
						<exercise href="reading/advicezone.xml" caption="Watch the teacher giving advice" />
					</unit>
					<unit class="practice-zone">
						<exercise href="reading/exercise1.xml" caption="Understanding static charts" />
						<exercise href="reading/exercise2.xml" caption="Linking words and phrases (1)" />
						<exercise href="reading/exercise3.xml" caption="Linking words and phrases (2)" />
					</unit>
				</course>
			</menu>
		</script>
	</head>
</bento>