/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace clearpronunciation "com.clarityenglish.clearpronunciation.*";
@namespace title "com.clarityenglish.clearpronunciation.view.title.*";
@namespace video "com.clarityenglish.controls.video.*";
@namespace widgets "com.clarityenglish.rotterdam.view.unit.widgets.*";
@namespace login "com.clarityenglish.bento.view.login.*";
@namespace settings "com.clarityenglish.clearpronunciation.view.settings.*";
@namespace home "com.clarityenglish.clearpronunciation.view.home.*";
@namespace course "com.clarityenglish.clearpronunciation.view.course.*";
@namespace unit "com.clarityenglish.clearpronunciation.view.unit.*";
@namespace exercise "com.clarityenglish.bento.view.exercise.*";
@namespace progress "com.clarityenglish.clearpronunciation.view.progress.*";
@namespace components "com.clarityenglish.bento.view.xhtmlexercise.components.*";
@namespace players "com.clarityenglish.controls.video.players.*";

clearpronunciation|ClearPronunciationApplication {
	skinClass: ClassReference("skins.clearpronunciationair.ClearPronunciationAirSkin");
}

components|XHTMLExerciseView s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 0;
	paddingLeft: 0;
	paddingRight: 0;
}

s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 1;
	paddingLeft: 10;
	paddingRight: 10;
}

login|LoginView s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 1;
	paddingLeft: 10;
	paddingRight: 10;
	fontSize: 14;
	showPromptWhenFocused: false;
}

s|List {
	verticalScrollPolicy: off;
	horizontalScrollPolicy: off;
}

players|OSMFVideoPlayer {
	skinClass: ClassReference("skins.clearpronunciationair.controls.video.videoplayer.VideoPlayerSkin");
}

@media (os-platform: "IOS") {
	video|VideoSelector {
		skinClass: ClassReference("skins.clearpronunciationair.controls.video.IOSVideoSelectorSkin");
	}
}

login|LoginView s|TextInput {
	skinClass: ClassReference("spark.skins.mobile.TextInputSkin");
}

login|LoginView s|Button#demoButton1 {
	skinClass: ClassReference("skins.clearpronunciation.login.DemoENButtonSkin");
}
