<?xml version="1.0" encoding="UTF-8"?>
<config>
	<id>/area1/RoadToIELTS2 in localhost</id>
	<developer>DK</developer>
	<dbHost>2</dbHost>
	<productCode>52</productCode>
	<courseFile>menu-{productCode}-{productVersion}.xml</courseFile>
	<mediaChannel>vimeo</mediaChannel>
	<streamingMedia>http://player.vimeo.com/external/</streamingMedia>
	<sharedMedia />
	<brandingMedia />
	<xlocalDomain>www.ieltspractice.com/buy.php</xlocalDomain>
	<language>EN*</language>
	<contentPath>http://dock.contentbench/</contentPath>
	<remoteDomain>http://dock.projectbench/</remoteDomain>
	<remoteGateway>http://dock.projectbench/Software/ResultsManager/web/amfphp/
	</remoteGateway>
	<remoteService>IELTSService</remoteService>
	<assetFolder>Software/ResultsManager/web/resources/assets/
	</assetFolder>
</config>