<?xml version="1.0" encoding="UTF-8"?>
<config>
	<id>/area1/RoadToIELTS2-Academic in dock.projectbench</id>
	<developer>DK</developer>
	<dbHost>2</dbHost>
	<productCode>52</productCode>
	<productVersion>fullVersion</productVersion>
	<courseFile>menu-Academic-FullVersion.xml</courseFile>
	<!-- <courseFile>menu-Academic-LastMinute.xml</courseFile> -->
	<streamingMedia/>
	<sharedMedia/>
	<brandingMedia/>
	<language>EN*</language>
	<contentPath>http://dock.projectbench/Content/</contentPath>
	<remoteDomain>http://dock.projectbench/</remoteDomain>
	<remoteGateway>http://dock.projectbench/Software/ResultsManager/web/amfphp/</remoteGateway>
	<remoteService>IELTSService</remoteService>
</config>