<?xml version="1.0" encoding="UTF-8"?>
<config>
	<id>/BritishCouncil/HongKong</id>
	<developer>BC</developer>
	<dbHost>2</dbHost>
	<prefix>BCHK</prefix>
	<rootID>10943</rootID>
	<groupID>170</groupID>
	<loginOption>2</loginOption>
	<productVersion>lastMinute</productVersion>
	<courseFile>menu-{productCode}-LastMinute.xml</courseFile>
	<streamingMedia />
	<sharedMedia />
	<brandingMedia />
	<language>EN*</language>
	<contentPath>http://dock.projectbench/Content/</contentPath>
	<remoteDomain>http://dock.projectbench/</remoteDomain>
	<remoteGateway>http://dock.projectbench/Software/ResultsManager/web/amfphp/</remoteGateway>
	<remoteService>BentoService</remoteService>
</config>