/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace home "com.clarityenglish.ielts.view.home.*";
@namespace title "com.clarityenglish.ielts.view.title.*";
@namespace ielts "com.clarityenglish.ielts.*";

global {
	interactionMode: touch;
	fontFamily: HelveticaNeueLtStd;
}

s|Label, s|RichText {
	fontFamily: HelveticaNeueLtStdCFF;
}

ielts|IELTSApplication {
	skinClass: ClassReference("skins.ieltsair.IELTSApplicationSkin");
}

ielts|IELTSApplication s|ActionBar {
	chromeColor: #067EBC;
	defaultButtonAppearance: beveled;
}

title|TitleView {
	skinClass: ClassReference("skins.ieltsair.TitleSkin");
}

title|TitleView s|TabbedViewNavigator #tabBar {
	chromeColor: #262526;
	color: #DDDDDD;
	fontSize: 10;
	fontWeight: normal;
	iconPlacement: top;
}

home|HomeView {
	skinClass: ClassReference("skins.ieltsair.HomeSkin");
}

/*zone|ZoneView {
	skinClass: ClassReference("skins.ieltsair.ZoneSkin");
}*/

/* Zone view styles */
/*
zone|ZoneView tink|Accordion {
	skinClass: ClassReference("ws.tink.spark.skins.containers.AccordionSkin");
}

zone|ZoneView tink|Accordion #buttonBar {
	skinClass: ClassReference("skins.ielts.zone.ZoneAccordianButtonBarSkin");
	cornerRadius: 0;
}

zone|ZoneView #examPracticeViewButton {
	skinClass: ClassReference("skins.ielts.zone.ExamPracticeViewButtonSkin");
	icon: Embed(source="skins/ielts/assets/assets.swf", symbol="SearchIcon");
}

zone|ZoneView #examPracticeAnswerButton {
	skinClass: ClassReference("skins.ielts.zone.ExamPracticeAnswerButtonSkin");
}

zone|ZoneView #questionZoneViewButton {
	skinClass: ClassReference("skins.ielts.zone.QuestionZoneViewButtonSkin");
	icon: Embed(source="skins/ielts/assets/assets.swf", symbol="SearchIcon");
}

zone|ZoneView #questionZoneDownloadButton {
	skinClass: ClassReference("skins.ielts.zone.QuestionZoneViewButtonSkin");
	icon: Embed(source="skins/ielts/assets/assets.swf", symbol="DownloadIcon");
}

zone|ZoneView #questionZoneVideoButton {
	skinClass: ClassReference("skins.ielts.zone.QuestionZoneViewButtonSkin");
	icon: Embed(source="skins/ielts/assets/assets.swf", symbol="WatchIcon");
}

zone|ZoneView #questionZoneChannelButtonBar{
	skinClass: ClassReference("skins.ielts.zone.ChannelButtonBarSkin");
}

zone|ZoneView #examPracticeAudioPlayer {
	compactStoppedIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="ListeningAudioUp");
	compactPlayedIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="ListeningAudioUp");
	compactPausedIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="ListeningAudioUp");
	compactPlayingIcon: Embed(source="skins/ielts/assets/assets.swf", symbol="ListeningAudioStop");
}

zone|ZoneView #examPracticeAnswerButton {
	skinClass: ClassReference("skins.ielts.zone.ExamPracticeAnswerButtonSkin");
}

zone|ZoneView #adviceZoneChannelButtonBar{
	skinClass: ClassReference("skins.ielts.zone.ChannelButtonBarSkin");
}

zoneui|PopoutExerciseSelector {
	skinClass: ClassReference("skins.ielts.zone.PopoutExerciseSelectorSkin");
}

zoneui|ImageItemRenderer {
	skinClass: ClassReference("skins.ielts.zone.ImageItemRendererSkin");
}

zoneui|DifficultyRenderer {
	skinClass: ClassReference("skins.ielts.zone.DifficultyRendererSkin");
}*/