/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace player "com.clarityenglish.rotterdam.player.*";
@namespace title "com.clarityenglish.rotterdam.view.title.*";
@namespace courseselector "com.clarityenglish.rotterdam.view.courseselector.*";
@namespace course "com.clarityenglish.rotterdam.view.course.*";
@namespace progress "com.clarityenglish.bento.view.progress.*";
@namespace progresscomponents "com.clarityenglish.bento.view.progress.components.*";
@namespace progressui "com.clarityenglish.bento.view.progress.ui.*";
@namespace login "com.clarityenglish.rotterdam.view.login.*";
@namespace unit "com.clarityenglish.rotterdam.view.unit.*";

global {
	defaultColor: #00A2C8;
	defaultColorDark: #005063;
	/*defaultIconSmall: Embed(source='skins/ielts/assets/assets.swf', symbol='ReadingIconSmall');
	defaultIconBare: Embed(source='skins/ielts/assets/assets.swf', symbol='ReadingIconBare');*/
	
	unitColours: #fbdc29, #9fdd30, #41b9ed, #8c64ab, #e94288, #c92d30, #ff7700, #2db9ae, #35379e
}

player|PlayerApplication {
	skinClass: ClassReference("skins.rotterdam.player.PlayerApplicationSkin");
}

login|LoginView {
	skinClass: ClassReference("skins.rotterdam.player.login.LoginSkin");
}

login|LoginView s|Button#loginButton {
	skinClass: ClassReference("skins.rotterdam.player.login.LoginButtonSkin");
}

login|LoginView s|TextInput {
	skinClass: ClassReference("spark.skins.spark.TextInputSkin");
	borderVisible: true;
	borderColor: #C8C8C8;
	contentBackgroundColor: #FFFFFF;
}

title|TitleView {
	skinClass: ClassReference("skins.rotterdam.player.title.TitleSkin");
}

title|TitleView s|TabbedViewNavigator {
	skinClass: ClassReference("skins.rotterdam.title.WebTabbedViewNavigatorSkin");
}

title|TitleView s|ViewNavigator {
	skinClass: ClassReference("skins.rotterdam.title.WebViewNavigatorSkin");
}

courseselector|CourseSelectorView {
	skinClass: ClassReference("skins.rotterdam.player.courseselector.CourseSelectorSkin");
}

course|CourseView {
	skinClass: ClassReference("skins.rotterdam.player.course.CourseSkin");
}

course|CourseView s|BorderContainer#unitContainer {
	skinClass: ClassReference("skins.rotterdam.course.UnitListContainerSkin");
}

unit|UnitHeaderView {
	skinClass: ClassReference("skins.rotterdam.unit.UnitHeaderSkin");
}

unit|UnitHeaderView s|Button#editButton {
	skinClass: ClassReference("skins.rotterdam.unit.EditButtonSkin");
}

/* Progress view styles */
progress|ProgressView {
	skinClass: ClassReference("skins.rotterdam.player.ProgressSkin");
}

progress|ProgressView #progressNavBar {
	skinClass: ClassReference("skins.rotterdam.player.progress.ui.ProgressNavBarSkin");
}

progresscomponents|ProgressScoreView {
	skinClass: ClassReference("skins.rotterdam.player.progress.ProgressScoreSkin");
}

progresscomponents|ProgressCompareView {
	skinClass: ClassReference("skins.rotterdam.player.progress.ProgressCompareSkin");
}

progresscomponents|ProgressCoverageView {
	skinClass: ClassReference("skins.rotterdam.player.progress.ProgressCoverageSkin");
}

progresscomponents|ProgressAnalysisView {
	skinClass: ClassReference("skins.rotterdam.player.progress.ProgressAnalysisSkin");
}

progressui|ProgressBarRenderer {
	skinClass: ClassReference("skins.rotterdam.player.progress.ui.ProgressBarRendererSkin");
}

progresscomponents|ProgressCoverageView #progressCourseButtonBar {
	skinClass: ClassReference("skins.rotterdam.player.progress.ui.ProgressCourseButtonBarSkin");
}

progresscomponents|ProgressScoreView #progressCourseButtonBar {
	skinClass: ClassReference("skins.rotterdam.player.progress.ui.ProgressCourseButtonBarSkin");
}

progressui|CoverageUnitRenderer { 
	skinClass: ClassReference("skins.rotterdam.player.progress.ui.CoverageUnitRendererSkin");
}

progressui|CoverageGroupRenderer {
	skinClass: ClassReference("skins.rotterdam.player.progress.ui.CoverageGroupRendererSkin");
}