/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace activereading "com.clarityenglish.activereading.*";
@namespace title "com.clarityenglish.activereading.view.title.*";
@namespace login "com.clarityenglish.activereading.view.login.*";
@namespace video "com.clarityenglish.controls.video.*";
@namespace nonetwork "com.clarityenglish.bento.view.nonetwork.*";
@namespace components "com.clarityenglish.bento.view.xhtmlexercise.components.*";

global {
	interactionMode: touch;
}

activereading|ActiveReadingApplication {
	skinClass: ClassReference("skins.activereadingair.ActiveReadingApplicationSkin");
}

s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 1;
	paddingLeft: 10;
	paddingRight: 10;
}

s|Scroller {
	skinClass: ClassReference("skins.activereadingair.vo.AlwaysVisibleScrollerSkin");
}

components|XHTMLExerciseView s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 0;
	paddingLeft: 0;
	paddingRight: 0;
}

login|LoginView s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 1;
	paddingLeft: 10;
	paddingRight: 10;
}

@media(os-platform:"IOS") {
	video|VideoSelector {
		skinClass: ClassReference("skins.activereadingair.exercise.video.IOSVideoSelectorSkin");
	}
}

nonetwork|NoNetworkView {
	skinClass: ClassReference("skins.activereadingair.NoNetworkSkin");
}