/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace activereading "com.clarityenglish.activereading.*";
@namespace title "com.clarityenglish.activereading.view.title.*";
@namespace login "com.clarityenglish.bento.view.login.*";
@namespace video "com.clarityenglish.controls.video.*";
@namespace nonetwork "com.clarityenglish.bento.view.nonetwork.*";
@namespace components "com.clarityenglish.bento.view.xhtmlexercise.components.*";

global {
	interactionMode: touch;
}

activereading|ActiveReadingApplication {
	skinClass: ClassReference("skins.activereadingair.ActiveReadingApplicationSkin");
}

s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 1;
	paddingLeft: 10;
	paddingRight: 10;
}

components|XHTMLExerciseView s|Scroller {
	skinClass: ClassReference("skins.activereadingair.vo.AlwaysVisibleScrollerSkin");
}

components|XHTMLExerciseView s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 0;
	paddingLeft: 0;
	paddingRight: 0;
}

login|LoginView s|TextInput {
	skinClass: ClassReference("skins.air.bento.exercise.ExerciseTextInputSkin");
	contentBackgroundColor: #FFFFFF;
	contentBackgroundAlpha: 1;
	paddingLeft: 10;
	paddingRight: 10;
	fontSize: 14;
	showPromptWhenFocused: false;
}

video|VideoSelector {
	skinClass: ClassReference("skins.activereadingair.exercise.video.TabletVideoSelectorSkin");
}

nonetwork|NoNetworkView {
	skinClass: ClassReference("skins.activereadingair.NoNetworkSkin");
}

login|LoginView s|Button#demoButton1 {
	skinClass: ClassReference("skins.activereadingair.login.DemoENButtonSkin");
}

login|LoginView s|Button#demoButton2 {
	skinClass: ClassReference("skins.activereadingair.login.DemoNAMENButtonSkin");
}

