/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace builder "com.clarityenglish.rotterdam.builder.*";
@namespace courseselector "com.clarityenglish.rotterdam.view.courseselector.*";
@namespace buildercourseselector "com.clarityenglish.rotterdam.builder.view.courseselector.*";
@namespace courseeditor "com.clarityenglish.rotterdam.builder.view.courseeditor.*";
@namespace uniteditor "com.clarityenglish.rotterdam.builder.view.uniteditor.*";
@namespace filemanager "com.clarityenglish.rotterdam.builder.view.filemanager.*";
@namespace widgets "skins.rotterdam.unit.widgets.*";
@namespace login "com.clarityenglish.rotterdam.view.login.*";
@namespace buildercourse "com.clarityenglish.rotterdam.builder.view.course.*";
@namespace course "com.clarityenglish.rotterdam.view.course.*";
@namespace courseui "com.clarityenglish.rotterdam.view.course.ui.*";
@namespace title "com.clarityenglish.rotterdam.view.title.*";
@namespace settings "com.clarityenglish.rotterdam.view.settings.*";
@namespace unit "com.clarityenglish.rotterdam.view.unit.*";
@namespace sparkTree "com.sparkTree.*";
@namespace tink "ws.tink.spark.controls.*";
@namespace showPublishSettingDemo "com.clarityenglish.rotterdam.builder.view.settings.*";
@namespace ui "com.clarityenglish.rotterdam.view.unit.ui.*";
@namespace help "com.clarityenglish.rotterdam.builder.view.help.*";

s|Range {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.ProgressBarSkin");
}

builder|BuilderApplication {
	skinClass: ClassReference("skins.rotterdam.builder.BuilderApplicationSkin");
}

login|LoginView {
	skinClass: ClassReference("skins.rotterdam.builder.login.LoginSkin");
}

login|LoginView s|Button#loginButton {
	skinClass: ClassReference("skins.rotterdam.builder.login.LoginButtonSkin");
}

login|LoginView s|Button#freeCourseButton {
	skinClass: ClassReference("skins.rotterdam.builder.login.FreeCourseButtonSkin");
}

/*login|LoginView s|TextInput {
	skinClass: ClassReference("spark.skins.spark.TextInputSkin");
	borderVisible: true;
	borderColor: #C8C8C8;
	contentBackgroundColor: #FFFFFF;
}*/

login|LoginView s|TextInput {
	skinClass: ClassReference("skins.rotterdam.ui.LoginTextInputSkin");
	cornerRadius: 5;
}

title|TitleView {
	skinClass: ClassReference("skins.rotterdam.builder.title.TitleSkin");
}

title|TitleView s|TabbedViewNavigator {
	skinClass: ClassReference("skins.rotterdam.title.WebTabbedViewNavigatorSkin");
}

title|TitleView s|Button#logoutButton {
	skinClass: 	ClassReference("skins.rotterdam.title.ui.LogOutButtonSkin");
}

courseselector|CourseSelectorView {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.CourseSelectorSkin");
}

courseselector|CourseSelectorView s|Button#createCourseButton {
	skinClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
}

courseselector|CourseSelectorView s|List s|HScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.HorizontalScrollBarSkin");
}

courseselector|CourseSelectorView s|List s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.VerticalScrollBarSkin");
}

tink|Alert {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.AlertSkin");
	cornerRadius: 8;
	buttonStyleName: orangeButton;
	buttonHeight: 10;
}

buildercourseselector|CourseCreateView s|Button#createButton {
	skinClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
}

buildercourseselector|CourseCreateView s|Button#cancelButton {
	skinClass: ClassReference("skins.rotterdam.ui.GreyButtonSkin");
}

buildercourseselector|CourseCreateView {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.CourseCreateSkin");
}

course|CourseView {
	skinClass: ClassReference("skins.rotterdam.builder.course.CourseSkin");
}

course|CourseView s|Button#addUnitButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.AddUnitButtonSkin");
}

course|CourseView s|BorderContainer#unitContainer {
	skinClass: ClassReference("skins.rotterdam.course.UnitListContainerSkin");
}

course|CourseView s|List#unitList s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}

course|CourseView s|Button#unitCopyButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.DuplicateUnitButtonSkin");
}

/*course|CourseView s|Button#courseSettingsButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.CourseSettingButtonSkin");
}

course|CourseView s|Button#coursePublishButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.CoursePublishButtonSkin");
}*/

course|CourseView courseui|PublishButton#publishSettingsButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.PublishSettingButtonSkin");
}

course|CourseView courseui|PublishButton#oneClickPublishButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.OneClickPublishButtonSkin");
}

course|CourseView s|ToggleButton#publishCourseButton {
	skinClass: ClassReference("skins.rotterdam.unit.PublishCourseButtonSkin");
}

course|CourseView s|Button#publishChangeButton {
	skinClass: ClassReference("skins.rotterdam.unit.PublishChangeButtonSkin");
}

buildercourse|ToolBarView {
	skinClass: ClassReference("skins.rotterdam.builder.course.ToolBarSkin");
}

buildercourse|ToolBarView s|Button {
	skinClass: ClassReference("skins.rotterdam.builder.course.ToolBarButtonSkin");
	fontSize: 13;
}

buildercourse|ToolBarView s|ToggleButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.ToolBarToggleButtonSkin");
	fontSize: 13;
}

buildercourse|ToolBarView s|Button#urlButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.URLButtonSkin");
}

buildercourse|ToolBarView s|ToggleButton#addItemButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddItemToggleButtonSkin");
}

buildercourse|ToolBarView s|Button#upButton {
	skinClass: ClassReference("skins.rotterdam.unit.UpArrowButtonSkin");
}

buildercourse|ToolBarView s|Button#downButton {
	skinClass: ClassReference("skins.rotterdam.unit.DownArrowButtonSkin");
}

buildercourse|ToolBarView s|Button#normalSaveButton {
	skinClass: ClassReference("skins.rotterdam.unit.SaveButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddVideoButton,{
	skinClass: ClassReference("skins.rotterdam.unit.AddVideoButtonSkin");
}

buildercourse|ToolBarView s|Button#listAddVideoButton,{
	skinClass: ClassReference("skins.rotterdam.unit.AddVideoButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddImageButton,{
	skinClass: ClassReference("skins.rotterdam.unit.AddImageButtonSkin");
}

buildercourse|ToolBarView s|Button#listAddImageButton,{
	skinClass: ClassReference("skins.rotterdam.unit.AddImageButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddAudioButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddAudioButtonSkin");
}

buildercourse|ToolBarView s|Button#listAddAudioButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddAudioButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddPDFButton, {
	skinClass: ClassReference("skins.rotterdam.unit.AddPDFButtonSkin");
}

buildercourse|ToolBarView s|Button#listAddPDFButton, {
	skinClass: ClassReference("skins.rotterdam.unit.AddPDFButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddTextButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddTextButtonSkin");
}

buildercourse|ToolBarView s|Button#listAddTextButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddTextButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddExerciseButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddExerciseButtonSkin");
}

buildercourse|ToolBarView s|Button#listAddExerciseButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddExerciseButtonSkin");
}

buildercourse|ToolBarView s|Button#videoSelectButton {
	skinClass: ClassReference("skins.rotterdam.unit.VideoSelectButtonSkin");
}

buildercourse|ToolBarView s|Button#linkSelectButton {
	skinClass: ClassReference("skins.rotterdam.unit.VideoSelectButtonSkin");
}

buildercourse|ToolBarView s|Button#pdfResourceCloudButton,
buildercourse|ToolBarView s|Button#imageResourceCloudButton,
buildercourse|ToolBarView s|Button#audioResourceCloudButton {
	skinClass: ClassReference("skins.rotterdam.unit.ResourceCloudButtonSkin");
}

buildercourse|ToolBarView s|Button#pdfUploadButton,
buildercourse|ToolBarView s|Button#imageUploadButton,
buildercourse|ToolBarView s|Button#audioUploadButton,
buildercourse|ToolBarView s|Button#pdfUploadButton,
buildercourse|ToolBarView s|Button#imageUploadButton,
buildercourse|ToolBarView s|Button#audioUploadButton {
	skinClass: ClassReference("skins.rotterdam.unit.ComputerButtonSkin");
}

buildercourse|ToolBarView s|Button#normalPreviewButton {
	skinClass: ClassReference("skins.rotterdam.unit.PreviewButtonSkin");
}

buildercourse|ToolBarView s|Button#previewBackToEditorButton {	
	skinClass: ClassReference("skins.rotterdam.unit.BackToEditorButtonSkin");
}

buildercourse|ToolBarView s|Button#normalCancelButton {
	skinClass: ClassReference("skins.rotterdam.unit.CancelButtonSkin");
}

unit|UnitHeaderView {
	skinClass: ClassReference("skins.rotterdam.unit.UnitHeaderSkin");
}

unit|UnitHeaderView s|Button#editButton {
	skinClass: ClassReference("skins.rotterdam.unit.EditButtonSkin");
}

unit|UnitHeaderView s|Button#doneButton {
	skinClass: ClassReference("skins.rotterdam.unit.EditButtonSkin");
}

uniteditor|UnitEditorView {
	skinClass: ClassReference("skins.rotterdam.builder.uniteditor.UnitEditorSkin");
}

/* TODO: Need to do this for the button bar as well */
uniteditor|UnitEditorView widgets|WidgetMenu s|Button {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.MenuButtonSkin");
	fontWeight: bold;
	fontSize: 15;
	color: #7F7F7F;
}

uniteditor|ContentSelectorView s|Button#selectButton {
	skinClass:ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
}

uniteditor|ContentSelectorView s|Button#cancelButton {
	skinClass:ClassReference("skins.rotterdam.ui.GreyButtonSkin");
}

uniteditor|ContentSelectorView {
	skinClass: ClassReference("skins.rotterdam.builder.uniteditor.ContentSelectorSkin");
}

uniteditor|ContentSelectorView sparkTree|Tree {
	skinClass: ClassReference("skins.rotterdam.builder.uniteditor.TreeSkin");
}

uniteditor|ContentSelectorView sparkTree|Tree s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.VerticalScrollBarSkin");
}

uniteditor|ContentSelectorView sparkTree|Tree s|HScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.HorizontalScrollBarSkin");
}

filemanager|FileManagerView {
	skinClass: ClassReference("skins.rotterdam.builder.filemanager.FileManagerSkin");
}

filemanager|FileManagerView s|DataGrid#fileList {
	skinClass: ClassReference("skins.rotterdam.builder.filemanager.FileListDataGrid");
	alternatingRowColors: #FFFFFF, #F2F2F2;
}

filemanager|FileManagerView s|DataGrid#fileList s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}

filemanager|FileManagerView s|DataGrid#fileList s|HScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.HorizontalScrollBarSkin");
}

filemanager|FileManagerView s|Button {
	skinClass: ClassReference("skins.rotterdam.builder.filemanager.CloudButtonSkin");
}

filemanager|FileManagerView s|Panel#settingPanel {
	skinClass: ClassReference("skins.rotterdam.builder.filemanager.FilePanelSkin");
}

filemanager|FileManagerView s|Button#selectButton {
	skinClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
}

filemanager|FileManagerView s|Button#cancelButton {
	skinClass: ClassReference("skins.rotterdam.ui.GreyButtonSkin");
}


settings|SettingsView {
	skinClass: ClassReference("skins.rotterdam.builder.settings.SettingsSkin");
}

settings|SettingsView s|FormItem {
	errorColor: red;
}

settings|SettingsView s|Button#saveButton {
	skinClass: ClassReference("skins.rotterdam.unit.SaveButtonSkin");
}

settings|SettingsView s|Button#backButton {
	skinClass: ClassReference("skins.rotterdam.unit.CancelButtonSkin");
}

settings|SettingsView s|TabBar#tabBar {
	skinClass: ClassReference("skins.rotterdam.settings.SettingTabBarSkin");
}

settings|SettingsView s|Scroller#publishSettingScroller s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}

showPublishSettingDemo|HelpPublishView s|Button#iKnowButton {
	skinsClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
}

showPublishSettingDemo|HelpPublishView {
	skinClass: ClassReference("skins.rotterdam.builder.settings.HelpPublishSkin");
	headerVisible: false;
}

ui|WidgetList s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}

help|HelpView {
	skinClass: ClassReference("skins.rotterdam.builder.help.HelpSkin");
}

help|HelpView s|Button#helpButton {
	skinClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
	buttonHeight: 40;
}

.markingTitleWindow {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.TitleWindowSkin");
	cornerRadius: 8;
	borderColor: #A1A1A1;
}

.noHeaderTitleWindow {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.TitleWindowSkin");
	cornerRadius: 8;
	borderColor: #A1A1A1;
	headerVisible: false;
}

.orangeButton {
	skinClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
	buttonHeight: 25;
}
