/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace builder "com.clarityenglish.rotterdam.builder.*";
@namespace courseselector "com.clarityenglish.rotterdam.view.courseselector.*";
@namespace buildercourseselector "com.clarityenglish.rotterdam.builder.view.courseselector.*";
@namespace courseeditor "com.clarityenglish.rotterdam.builder.view.courseeditor.*";
@namespace uniteditor "com.clarityenglish.rotterdam.builder.view.uniteditor.*";
@namespace filemanager "com.clarityenglish.rotterdam.builder.view.filemanager.*";
@namespace widgets "skins.rotterdam.unit.widgets.*";
@namespace login "com.clarityenglish.bento.view.login.*";
@namespace buildercourse "com.clarityenglish.rotterdam.builder.view.course.*";
@namespace course "com.clarityenglish.rotterdam.view.course.*";
@namespace courseui "com.clarityenglish.rotterdam.view.course.ui.*";
@namespace title "com.clarityenglish.rotterdam.view.title.*";
@namespace unit "com.clarityenglish.rotterdam.view.unit.*";
@namespace sparkTree "com.sparkTree.*";
@namespace tink "ws.tink.spark.controls.*";
@namespace settings "com.clarityenglish.rotterdam.view.settings.*";
@namespace schedule "com.clarityenglish.rotterdam.view.schedule.*";
@namespace schedulebuilder "com.clarityenglish.rotterdam.builder.view.schedule.*";
@namespace ui "com.clarityenglish.rotterdam.view.unit.ui.*";
@namespace help "com.clarityenglish.rotterdam.builder.view.help.*";
@namespace saveerror "com.clarityenglish.rotterdam.builder.view.error.*";
@namespace components "com.clarityenglish.bento.view.xhtmlexercise.components.*";

/** For some reason this isn't getting picked up even though it is in Rotterdam defaults, so duplicate it here */
components|XHTMLExerciseView {
	skinClass: ClassReference("skins.rotterdam.exercise.XHTMLExerciseSkin");
}

s|Range {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.ProgressBarSkin");
}

builder|BuilderApplication {
	skinClass: ClassReference("skins.rotterdam.builder.BuilderApplicationSkin");
}

login|LoginView {
	skinClass: ClassReference("skins.rotterdam.builder.login.LoginSkin");
}

login|LoginView s|Button {
	skinClass: ClassReference("skins.rotterdam.login.LoginButtonSkin");
}

login|LoginView s|Button#newUserButton, s|Button#forgotPasswordButton {
	skinClass: ClassReference("skins.rotterdam.login.ForgotPasswordButtonSkin");
}

login|LoginView s|SkinnableContainer {
	skinClass: ClassReference("skins.rotterdam.login.SignInContainerSkin");
}

login|LoginView s|TextInput {
	skinClass: ClassReference("skins.rotterdam.login.LoginTextInputSkin");
	cornerRadius: 5;
}
login|LoginView s|Button#freeCourseButton {
	skinClass: ClassReference("skins.rotterdam.builder.login.FreeCourseButtonSkin");
}

title|TitleView {
	skinClass: ClassReference("skins.rotterdam.builder.title.TitleSkin");
}
title|TitleView s|TabbedViewNavigator {
	skinClass: ClassReference("skins.rotterdam.title.WebTabbedViewNavigatorSkin");
}
title|TitleView s|ButtonBar {
    skinClass: ClassReference("skins.rotterdam.title.ui.TabBarSkin");
}
title|TitleView s|Button#logoutButton {
	skinClass: ClassReference("skins.rotterdam.title.ui.LogOutButtonSkin");
}

saveerror|SavingErrorView {
	skinClass: ClassReference("skins.rotterdam.builder.error.SavingErrorSkin");
}
saveerror|SavingErrorView s|Button {
	skinClass: ClassReference("skins.bento.error.ErrorButtonSkin");
}

courseselector|CourseSelectorView {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.CourseSelectorSkin");
}

courseselector|CourseSelectorView s|Button#createCourseButton {
	skinClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
}

courseselector|CourseSelectorView s|List s|HScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.HorizontalScrollBarSkin");
}

courseselector|CourseSelectorView s|List s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.VerticalScrollBarSkin");
}

courseselector|CourseSelectorView s|ToggleButton#showFiltersToggleButton {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.FilteringToggleButtonSkin");
}

courseselector|CourseSelectorView s|Form#filtering {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.FilterFilteringFormSkin");
}

courseselector|CourseSelectorView s|Form#sorting {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.FilterSortingFormSkin");
}

courseselector|CourseSelectorView s|FormHeading {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.FilteringFormHeadingSkin");
}

courseselector|CourseSelectorView s|FormItem {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.FilteringFormItemSkin");
}

courseselector|CourseSelectorView s|TextInput#filterTextInput {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.FilteringTextInputSkin");
}

courseselector|CourseSelectorView s|CheckBox {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.FilteringCheckBoxSkin");
}

courseselector|CourseSelectorView s|RadioButton {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.FilteringRadioButtonSkin");
}

courseselector|CourseSelectorView s|ToggleButton#sortDescendingToggleButton {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.SortingDirectionToggleButtonSkin");
}

tink|Alert {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.AlertSkin");
	cornerRadius: 8;
	buttonStyleName: orangeButton;
	buttonHeight: 10;
}

buildercourseselector|CourseCreateView s|Button#createButton {
	skinClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
}

buildercourseselector|CourseCreateView s|Button#cancelButton {
	skinClass: ClassReference("skins.rotterdam.ui.GreyButtonSkin");
}

buildercourseselector|CourseCreateView {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.CourseCreateSkin");
}

course|CourseView {
	skinClass: ClassReference("skins.rotterdam.builder.course.CourseSkin");
}

course|CourseView s|Button#addUnitButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.AddUnitButtonSkin");
}

course|CourseView s|BorderContainer#unitContainer {
	skinClass: ClassReference("skins.rotterdam.course.UnitListContainerSkin");
}

course|CourseView s|List#unitList s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}

course|CourseView s|Button#unitCopyButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.DuplicateUnitButtonSkin");
}

course|CourseView courseui|PublishButton#scheduleButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.ScheduleButtonSkin");
}

course|CourseView courseui|PublishButton#oneClickPublishButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.OneClickPublishButtonSkin");
}

course|CourseView s|ToggleButton#publishCourseButton {
	skinClass: ClassReference("skins.rotterdam.unit.PublishCourseButtonSkin");
}

course|CourseView s|Button#publishChangeButton {
	skinClass: ClassReference("skins.rotterdam.unit.PublishChangeButtonSkin");
}

course|CourseView s|Button#settingsButton {
	skinClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
}

buildercourse|ToolBarView {
	skinClass: ClassReference("skins.rotterdam.builder.course.ToolBarSkin");
}

buildercourse|ToolBarView s|Button {
	skinClass: ClassReference("skins.rotterdam.builder.course.ToolBarButtonSkin");
	fontSize: 13;
}

buildercourse|ToolBarView s|ToggleButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.ToolBarToggleButtonSkin");
	fontSize: 13;
}

buildercourse|ToolBarView s|Button#urlButton {
	skinClass: ClassReference("skins.rotterdam.builder.course.URLButtonSkin");
}

buildercourse|ToolBarView s|ToggleButton#addItemButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddItemToggleButtonSkin");
}

buildercourse|ToolBarView s|Button#upButton {
	skinClass: ClassReference("skins.rotterdam.unit.UpArrowButtonSkin");
}

buildercourse|ToolBarView s|Button#downButton {
	skinClass: ClassReference("skins.rotterdam.unit.DownArrowButtonSkin");
}

buildercourse|ToolBarView s|Button#normalSaveButton {
	skinClass: ClassReference("skins.rotterdam.unit.SaveButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddVideoButton, buildercourse|ToolBarView s|Button#listAddVideoButton{
	skinClass: ClassReference("skins.rotterdam.unit.AddVideoButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddImageButton, buildercourse|ToolBarView s|Button#listAddImageButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddImageButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddAnimationButton, buildercourse|ToolBarView s|Button#listAddAnimationButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddImageButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddAudioButton, buildercourse|ToolBarView s|Button#listAddAudioButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddAudioButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddPDFButton, buildercourse|ToolBarView s|Button#listAddPDFButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddPDFButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddTextButton, buildercourse|ToolBarView s|Button#listAddTextButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddTextButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddExerciseButton, buildercourse|ToolBarView s|Button#listAddExerciseButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddExerciseButtonSkin");
}

buildercourse|ToolBarView s|Button#normalAddAuthoringButton, buildercourse|ToolBarView s|Button#listAddAuthoringButton {
	skinClass: ClassReference("skins.rotterdam.unit.AddAuthoringButtonSkin");
}

buildercourse|ToolBarView s|Button#videoSelectButton, buildercourse|ToolBarView s|Button#linkSelectButton {
	skinClass: ClassReference("skins.rotterdam.unit.VideoSelectButtonSkin");
}

buildercourse|ToolBarView s|Button#pdfResourceCloudButton,
buildercourse|ToolBarView s|Button#imageResourceCloudButton,
buildercourse|ToolBarView s|Button#audioResourceCloudButton {
	skinClass: ClassReference("skins.rotterdam.unit.ResourceCloudButtonSkin");
}

buildercourse|ToolBarView s|Button#pdfUploadButton,
buildercourse|ToolBarView s|Button#imageUploadButton,
buildercourse|ToolBarView s|Button#audioUploadButton,
buildercourse|ToolBarView s|Button#pdfUploadButton,
buildercourse|ToolBarView s|Button#imageUploadButton,
buildercourse|ToolBarView s|Button#audioUploadButton {
	skinClass: ClassReference("skins.rotterdam.unit.ComputerButtonSkin");
}

buildercourse|ToolBarView s|Button#normalPreviewButton {
	skinClass: ClassReference("skins.rotterdam.unit.PreviewButtonSkin");
}

buildercourse|ToolBarView s|Button#previewBackToEditorButton {	
	skinClass: ClassReference("skins.rotterdam.unit.BackToEditorButtonSkin");
}

buildercourse|ToolBarView s|Button#normalCancelButton {
	skinClass: ClassReference("skins.rotterdam.unit.CancelButtonSkin");
}

unit|UnitHeaderView {
	skinClass: ClassReference("skins.rotterdam.unit.UnitHeaderSkin");
}

unit|UnitHeaderView s|Button#editButton {
	skinClass: ClassReference("skins.rotterdam.unit.EditButtonSkin");
}

unit|UnitHeaderView s|Button#doneButton {
	skinClass: ClassReference("skins.rotterdam.unit.EditButtonSkin");
}

uniteditor|UnitEditorView {
	skinClass: ClassReference("skins.rotterdam.builder.uniteditor.UnitEditorSkin");
}

/* TODO: Need to do this for the button bar as well */
uniteditor|UnitEditorView widgets|WidgetMenu s|Button {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.MenuButtonSkin");
	fontWeight: bold;
	fontSize: 15;
	color: #7F7F7F;
}

uniteditor|ContentSelectorView s|Button#selectButton {
	skinClass:ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
}

uniteditor|ContentSelectorView s|Button#cancelButton {
	skinClass:ClassReference("skins.rotterdam.ui.GreyButtonSkin");
}

uniteditor|ContentSelectorView {
	skinClass: ClassReference("skins.rotterdam.builder.uniteditor.ContentSelectorSkin");
}

uniteditor|ContentSelectorView sparkTree|Tree {
	skinClass: ClassReference("skins.rotterdam.builder.uniteditor.TreeSkin");
}

uniteditor|ContentSelectorView sparkTree|Tree s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.VerticalScrollBarSkin");
}

uniteditor|ContentSelectorView sparkTree|Tree s|HScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.HorizontalScrollBarSkin");
}

uniteditor|AuthoringView {
	skinClass: ClassReference("skins.rotterdam.builder.uniteditor.AuthoringSkin");
}

uniteditor|AuthoringView s|Button#okButton {
	skinClass:ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
}

uniteditor|AuthoringView s|Button#cancelButton {
	skinClass:ClassReference("skins.rotterdam.ui.GreyButtonSkin");
}

uniteditor|AuthoringView s|Label {
	fontSize: 12;
	color: #000000;
	textAlign: left;
}

uniteditor|AuthoringView s|Label#questionCaption {
	fontSize: 14;
	color: #000000;
	textAlign: center;
}

uniteditor|AuthoringView s|TextInput {
	cornerRadius: 4;
	skinClass:ClassReference("skins.rotterdam.builder.RoundedTextInputSkin");
}

uniteditor|AuthoringView s|TextArea {
	cornerRadius: 4;
	skinClass:ClassReference("skins.rotterdam.builder.RoundedTextAreaSkin");
}

uniteditor|AuthoringSettingsView {
	skinClass: ClassReference("skins.rotterdam.builder.uniteditor.AuthoringSettingsSkin");
}

filemanager|FileManagerView {
	skinClass: ClassReference("skins.rotterdam.builder.filemanager.FileManagerSkin");
}

filemanager|FileManagerView s|DataGrid#fileList {
	skinClass: ClassReference("skins.rotterdam.builder.filemanager.FileListDataGridSkin");
	alternatingRowColors: #FFFFFF, #F2F2F2;
}

filemanager|FileManagerView s|DataGrid#fileList s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}

filemanager|FileManagerView s|DataGrid#fileList s|HScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.HorizontalScrollBarSkin");
}

filemanager|FileManagerView s|Button {
	skinClass: ClassReference("skins.rotterdam.builder.filemanager.CloudButtonSkin");
}

filemanager|FileManagerView s|Panel#settingPanel {
	skinClass: ClassReference("skins.rotterdam.builder.filemanager.FilePanelSkin");
}

filemanager|FileManagerView s|Button#selectButton {
	skinClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
}

filemanager|FileManagerView s|Button#cancelButton {
	skinClass: ClassReference("skins.rotterdam.ui.GreyButtonSkin");
}

settings|SettingsView {
	skinClass: ClassReference("skins.rotterdam.builder.settings.SettingsSkin");
}

settings|SettingsView s|FormItem {
	errorColor: red;
}

settings|SettingsView s|Button#saveButton {
	skinClass: ClassReference("skins.rotterdam.unit.SaveButtonSkin");
}

settings|SettingsView s|Button#backButton {
	skinClass: ClassReference("skins.rotterdam.unit.CancelButtonSkin");
}

settings|SettingsView s|Scroller#courseSettingsScroller s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}

schedule|ScheduleView {
	skinClass: ClassReference("skins.rotterdam.builder.schedule.ScheduleSkin");
}

schedule|ScheduleView s|FormItem {
	errorColor: red;
}

schedule|ScheduleView s|Button#saveButton {
	skinClass: ClassReference("skins.rotterdam.unit.SaveButtonSkin");
}

schedule|ScheduleView s|Button#backButton {
	skinClass: ClassReference("skins.rotterdam.unit.CancelButtonSkin");
}

schedule|ScheduleView s|Scroller#scheduleScroller s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}

schedulebuilder|HelpScheduleView {
	skinClass: ClassReference("skins.rotterdam.builder.schedule.HelpScheduleSkin");
	headerVisible: false;
}

schedulebuilder|HelpScheduleView s|Button#iKnowButton {
	skinsClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
}

ui|WidgetList s|VScrollBar {
	skinClass: ClassReference("skins.rotterdam.scroller.GreyVerticalScrollBarSkin");
}

help|HelpView {
	skinClass: ClassReference("skins.rotterdam.builder.help.HelpSkin");
}

help|HelpView s|Button#helpButton {
	skinClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
	buttonHeight: 40;
}

.authoringTitleWindow {
	skinClass: ClassReference("skins.rotterdam.builder.uniteditor.AuthoringTitleWindowSkin");
	cornerRadius: 8;
	borderColor: #A1A1A1;
}

.markingTitleWindow {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.TitleWindowSkin");
	cornerRadius: 8;
	borderColor: #A1A1A1;
}

.noHeaderTitleWindow {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.TitleWindowSkin");
	cornerRadius: 8;
	borderColor: #A1A1A1;
	headerVisible: false;
}

.orangeButton {
	skinClass: ClassReference("skins.rotterdam.ui.OrangeButtonSkin");
	buttonHeight: 25;
}

s|BorderContainer {
	cornerRadius: 6; 
	borderColor: #969696; 
}
