/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace builder "com.clarityenglish.rotterdam.builder.*";
@namespace login "com.clarityenglish.rotterdam.builder.view.login.*";
@namespace courseselector "com.clarityenglish.rotterdam.view.courseselector.*";
@namespace courseeditor "com.clarityenglish.rotterdam.builder.view.courseeditor.*";
@namespace title "com.clarityenglish.rotterdam.builder.view.title.*";
@namespace uniteditor "com.clarityenglish.rotterdam.builder.view.uniteditor.*";

builder|BuilderApplication {
	skinClass: ClassReference("skins.rotterdam.builder.BuilderApplicationSkin");
}

login|LoginView {
	skinClass: ClassReference("skins.rotterdam.builder.login.LoginSkin");
}

title|TitleView {
	skinClass: ClassReference("skins.rotterdam.builder.title.TitleSkin");
}

title|TitleView s|TabbedViewNavigator {
	skinClass: ClassReference("skins.rotterdam.builder.title.TitleTabbedViewNavigatorSkin");
}

title|TitleView s|ViewNavigator {
	skinClass: ClassReference("skins.rotterdam.builder.title.TitleViewNavigatorSkin");
}

courseselector|CourseSelectorView {
	skinClass: ClassReference("skins.rotterdam.builder.courseselector.CourseSelectorSkin");
}

courseeditor|CourseEditorView {
	skinClass: ClassReference("skins.rotterdam.builder.courseeditor.CourseEditorSkin");
}

uniteditor|UnitEditorView {
	skinClass: ClassReference("skins.rotterdam.builder.uniteditor.UnitEditorSkin");
}
