<?xml version="1.0" encoding="UTF-8"?>
<config>
	<id>/area1/RoadToIELTS2 ce.com</id>
	<developer>DK</developer>
    <prefix>Clarity</prefix>
	<productCode>54</productCode>
	<dbHost>2</dbHost>
	<courseFile>menu-{productCode}-{productVersion}.xml</courseFile>
	<sharedMedia />
	<brandingMedia />
	<language>EN</language>
	
	<contentPath>http://dock.contentbench/CCB/</contentPath>
	<remoteDomain>http://dock.projectbench/Software/</remoteDomain>
	<remoteGateway>http://dock.projectbench/Software/ResultsManager/web/amfphp/</remoteGateway>
	
	<remoteService>RotterdamBuilderService</remoteService>
	<assetFolder>ResultsManager/web/resources/assets/</assetFolder>
	
</config>
