<?xml version="1.0" encoding="UTF-8"?>
<config>
	<id>/area1/PracticalWriting in localhost</id>
	<dbHost>2</dbHost>
	<productCode>61</productCode>
	<useCacheBuster>true</useCacheBuster>
	<courseFile>menu-{productVersion}.xml</courseFile>
	<platform>browser</platform>
	<disableAutoTimeout>true</disableAutoTimeout>
    <channel name='vimeo' caption='Channel 1'>
        <streamingMedia>http://player.vimeo.com/external/</streamingMedia>
    </channel>
	<channel name='rackspace' caption='Channel 2'>
        <streamingMedia>http://798a4ab11405fd81be17-42dc242c457c6a62e22482e1bb35342a.r14.cf1.rackcdn.com/</streamingMedia>
    </channel>
	<channel name='aws-streaming' caption='Channel 3'>
        <streamingMedia>https://s3-ap-southeast-1.amazonaws.com/clarity-video-streaming/</streamingMedia>
    </channel>

	<sharedMedia />
	<brandingMedia />
	<language>EN</language>
	<assetFolder>Software/ResultsManager/web/resources/assets/</assetFolder>

	<endpoint name='https'>
		<remoteGateway>https://www.clarityenglish.com/Software/ResultsManager/web/amfphp/</remoteGateway>
		<remoteService>PracticalWritingService</remoteService>
		<contentPath>https://www.clarityenglish.com/Content/</contentPath>
	</endpoint>

</config>

