/* 
 * This css file is embedded into the Bento framework and shared by all titles.
 */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace exercise "com.clarityenglish.bento.view.exercise.components.*";
@namespace components "com.clarityenglish.bento.view.xhtmlexercise.components.*";
@namespace swfplayer "com.clarityenglish.bento.view.swfplayer.*";
@namespace marking "com.clarityenglish.bento.view.marking.*";
@namespace tlfcomponents "com.clarityenglish.textLayout.components.*";
@namespace error "com.clarityenglish.common.view.error.*";
@namespace components1 "skins.bento.components.*";
@namespace components2 "com.clarityenglish.components.*";
@namespace warning "com.clarityenglish.bento.view.warning.*";
@namespace tink "ws.tink.spark.controls.*";
@namespace recorder "com.clarityenglish.bento.view.recorder.*";

/** gh#1162 */
@font-face {
	src: url("skins/assets/verdana.ttf");
	fontFamily: Verdana;
	fontStyle: normal;
	fontWeight: normal;
	embedAsCFF: true;
	advancedAntiAliasing: true;
}

@font-face {
	src: url("skins/assets/verdanab.ttf");
	fontFamily: Verdana;
	fontStyle: normal;
	fontWeight: bold;
	embedAsCFF: true;
	advancedAntiAliasing: true;
}

@font-face {
	src: url("skins/assets/verdanai.ttf");
	fontFamily: Verdana;
	fontStyle: italic;
	fontWeight: normal;
	embedAsCFF: true;
	advancedAntiAliasing: true;
}

/** gh#1162 */
mx|BarChart, mx|ColumnChart, mx|LineChart, mx|PieChart {
	fontFamily: Arial;
}

global {
	correctIcon: Embed(source="skins/assets/correctIcon.png");
	correctIconWidth: 16;
	correctIconHeight: 16;
	
	incorrectIcon: Embed(source="skins/assets/incorrectIcon.png");
	incorrectIconWidth: 16;
	incorrectIconHeight: 17;
	
	missedIcon: Embed(source="skins/assets/missedIcon.png");
	missedIconWidth: 16;
	missedIconHeight: 17;
}

s|TabbedViewNavigator {
	skinClass: ClassReference("skins.viewnavigator.WebTabbedViewNavigatorSkin");
}

s|ViewNavigator {
	skinClass: ClassReference("skins.viewnavigator.WebViewNavigatorSkin");
}

components|XHTMLExerciseView {
	skinClass: ClassReference("skins.bento.exercise.XHTMLExerciseSkin");
	printingSkinClass: ClassReference("skins.bento.exercise.XHTMLExercisePrintingSkin");
}

tlfcomponents|AudioPlayer {
	skinClass: ClassReference("skins.bento.components.AudioPlayerSkin");
	compactStoppedIcon: Embed(source="skins/assets/play.png");
	compactPlayedIcon: Embed(source="skins/assets/play.png");
	compactPausedIcon: Embed(source="skins/assets/play.png");
	compactPlayingIcon: Embed(source="skins/assets/stop.png");
	fullPlayIcon: Embed(source="skins/assets/play.png");
	fullPauseIcon: Embed(source="skins/assets/stop.png");
}

swfplayer|SWFPlayerView {
	skinClass: ClassReference("skins.bento.swfplayer.SWFPlayerSkin");
}

marking|MarkingView {
	skinClass: ClassReference("skins.bento.marking.MarkingSkin");
}

error|ErrorView {
	skinClass: ClassReference("skins.bento.error.ErrorSkin");
}

error|ErrorView #closeButton {
	skinClass: ClassReference("skins.bento.error.ErrorButtonSkin");
}

/* Warning view styles */
warning|WarningView {
	skinClass: ClassReference("skins.bento.warning.WarningSkin");
}

warning|WarningView #noButton {
	skinClass: ClassReference("skins.bento.warning.WarningNoButtonSkin");
}

warning|WarningView #yesButton {	
	skinClass: ClassReference("skins.bento.warning.WarningYesButtonSkin");
}

s|VideoPlayer {
	skinClass: ClassReference("skins.bento.VideoPlayerSkin");
}

s|TitleWindow {
	skinClass: ClassReference("skins.bento.BentoTitleWindowSkin");
}

recorder|RecorderView {
	skinClass: ClassReference("skins.bento.recorder.RecorderSkin");
}

recorder|WaveformView {
	skinClass: ClassReference("skins.bento.recorder.WaveformSkin")
}

components|XHTMLExerciseView s|TextInput {
	focusAlpha: 0;
	skinClass: ClassReference("skins.bento.exercise.ExerciseTextInputSkin");
}

components|XHTMLExerciseView s|DropDownList {
	skinClass: ClassReference("skins.bento.exercise.ExerciseDropDownListSkin");
}

components2|SpinnerDropDownList {
	skinClass: ClassReference("skins.bento.components.SpinnerDropDownListSkin");
}

mx|ToolTip {
	fontFamily: "Helvetica";
	fontSize: 12.6;
	color: #FFFFFF;
	backgroundColor: #000000;
}

tink|Alert {
	skinClass: ClassReference("ws.tink.spark.skins.controls.AlertSkin");
}
