/* 
 * This css file is embedded into the Bento framework and shared by all titles.
 */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace exercise "com.clarityenglish.bento.view.exercise.components.*";
@namespace components "com.clarityenglish.bento.view.xhtmlexercise.components.*";
@namespace swfplayer "com.clarityenglish.bento.view.swfplayer.*";
@namespace marking "com.clarityenglish.bento.view.marking.*";
@namespace tlfcomponents "com.clarityenglish.textLayout.components.*";
@namespace error "com.clarityenglish.common.view.error.*";

global {
	correctIcon: Embed(source="skins/assets/correctIcon.png");
	correctIconWidth: 16;
	correctIconHeight: 17;
	
	incorrectIcon: Embed(source="skins/assets/incorrectIcon.png");
	incorrectIconWidth: 16;
	incorrectIconHeight: 17;
	
	missedIcon: Embed(source="skins/assets/missedIcon.png");
	missedIconWidth: 16;
	missedIconHeight: 17;
}

components|XHTMLExerciseView {
	skinClass: ClassReference("skins.bento.exercise.XHTMLExerciseSkin");
}

tlfcomponents|AudioPlayer {
	skinClass: ClassReference("skins.bento.components.AudioPlayerSkin");
	compactStoppedIcon: Embed(source="skins/assets/play.png");
	compactPlayedIcon: Embed(source="skins/assets/play.png");
	compactPausedIcon: Embed(source="skins/assets/play.png");
	compactPlayingIcon: Embed(source="skins/assets/stop.png");
	fullPlayIcon: Embed(source="skins/assets/play.png");
	fullPauseIcon: Embed(source="skins/assets/stop.png");
}

swfplayer|SWFPlayerView {
	skinClass: ClassReference("skins.bento.swfplayer.SWFPlayerSkin");
}

marking|MarkingView {
	skinClass: ClassReference("skins.bento.marking.MarkingSkin");
}

error|ErrorView {
	skinClass: ClassReference("skins.bento.error.ErrorSkin");
}

s|VideoPlayer {
	skinClass: ClassReference("skins.bento.VideoPlayerSkin");
}

s|TitleWindow {
	skinClass: ClassReference("skins.bento.FeedbackWindowSkin");
}

/* This applied to all TextInputs for now, but really it should be only for those in exercises */
s|TextInput {
	focusAlpha: 0;
	skinClass: ClassReference("skins.bento.exercise.ExerciseTextInputSkin");
}

/* This applied to all DropDownLists for now, but really it should be only for those in exercises */
s|DropDownList {
	skinClass: ClassReference("skins.bento.exercise.ExerciseDropDownListSkin");
}