@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace practicalwriting "com.clarityenglish.practicalwriting.*";
@namespace login "com.clarityenglish.bento.view.login.*";
@namespace home "com.clarityenglish.practicalwriting.view.home.*";
@namespace zone "com.clarityenglish.practicalwriting.view.zone.*";
@namespace exercise "com.clarityenglish.practicalwriting.view.exercise.*";
@namespace exerciseui "com.clarityenglish.practicalwriting.view.exercise.ui.*";
@namespace title "com.clarityenglish.practicalwriting.view.title.*";
@namespace progress "com.clarityenglish.practicalwriting.view.progress.*";
@namespace settings "com.clarityenglish.practicalwriting.view.settings.*";
@namespace closing "com.clarityenglish.practicalwriting.view.closing.*";
@namespace timer "com.clarityenglish.bento.view.timer.*";
@namespace vo "com.clarityenglish.practicalwriting.view.vo.*";
@namespace video "com.clarityenglish.controls.video.*";
@namespace players "com.clarityenglish.controls.video.players.*";
@namespace warning "com.clarityenglish.bento.view.warning.*";
@namespace marking "com.clarityenglish.bento.view.marking.*";
@namespace error "com.clarityenglish.common.view.error.*";

global {
    pieChartFillColor: #EC008C, #1F542B, #E79524, #3A6CA3, #B87B4B, #6F5DA8, #F47D71, #00A9A3, #E52351, #00A6DB;
    pieChartBottomColor: #EDB3D2, #75A380, #FFD08D, #C1D6ED, #F2BC98, #BEAFD5, #FAC9C9, #A1D9D7, #F8B8CD, #B3E2EE;
    exerciseListIncompleteColor: #F6D9E5, #A9C4AF, #FFE3BF, #DCEBF3, #FEDFCA, #D5CCE5, #FCDEDD, #CEE9EB, #FCDDE6, #DCEEF2;
    analyseCircleWedgeColors: #0B789C, #B5E3F2, #38839C, #5A9CB2, #02566D, #B7DCE5, #6CC6DF, #0E9AC9, #78CEDC, #A4DDEF;
    markingColours:  #6D6E70, #B7B9BB, #B7B9BB;
}

practicalwriting|PracticalWritingApplication {
    skinClass: ClassReference("skins.practicalwriting.PracticalWritingApplicationSkin");
}

login|LoginView {
    skinClass: ClassReference("skins.practicalwriting.LoginSkin");
}

login|LoginView s|Button {
    skinClass: ClassReference("skins.practicalwriting.login.LoginButtonSkin");
}

login|LoginView s|Button#newUserButton, s|Button#forgotPasswordButton {
    skinClass: ClassReference("skins.practicalwriting.login.LoginForgotPasswordButton");
}

login|LoginView s|TextInput {
    skinClass: ClassReference("skins.practicalwriting.login.TextInputSkin");
}

login|LoginView s|SkinnableContainer {
    skinClass: ClassReference("skins.practicalwriting.login.SignInContainerSkin");
}

login|LoginView s|SkinnableContainer#anonymousGroup {
    skinClass: ClassReference("skins.practicalwriting.login.AnonymousContainerSkin");
}

title|TitleView {
    skinClass: ClassReference("skins.practicalwriting.TitleSkin");
}

title|TitleView s|TabbedViewNavigator#sectionNavigator {
    skinClass: ClassReference("skins.practicalwriting.title.TabbedViewNavigatorSkin");
}

title|TitleView s|Button#helpButton {
    skinClass: ClassReference("skins.practicalwriting.title.HelpButtonSkin");
}

title|TitleView s|Button#logoutButton {
    skinClass: ClassReference("skins.practicalwriting.title.LogoutButtonSkin");
}

title|TitleView s|ToggleButton#menuToggleButton {
    skinClass: ClassReference("skins.practicalwriting.title.MenuToggleButtonSkin");
}

title|TitleView s|Button#backToMenuButton {
    skinClass: ClassReference("skins.practicalwriting.title.HomeSideBarButtonSkin");
}

title|TitleView s|Button#goToProgressButton {
    skinClass: ClassReference("skins.practicalwriting.title.ProgressSideBarButtonSkin");
}

title|TitleView s|Button#goToHelpButton {
    skinClass: ClassReference("skins.practicalwriting.title.HelpSideBarButtonSkin");
}

title|TitleView s|Button#goToSettingsButton {
    skinClass: ClassReference("skins.practicalwriting.title.SettingsSideBarButtonSkin");
}

title|TitleView s|Button#backToExercieButton {
    skinClass: ClassReference("skins.practicalwriting.title.BackToExerciseButtonSkin");
}

home|HomeView {
    skinClass: ClassReference("skins.practicalwriting.HomeSkin");
}

zone|ZoneView {
    skinClass: ClassReference("skins.practicalwriting.ZoneSkin");
}

zone|ZoneView s|Button#backButton {
    skinClass: ClassReference("skins.practicalwriting.zone.BackHomeButtonSkin");
}

zone|ZoneView s|TabbedViewNavigator#zoneViewNavigator {
    skinClass: ClassReference("skins.practicalwriting.zone.ZoneViewNavigatorSkin");
}

zone|StartOutZoneView {
    skinClass: ClassReference("skins.practicalwriting.zone.StartOutZoneSkin");
}

zone|PracticeZoneView {
    skinClass: ClassReference("skins.practicalwriting.zone.PracticeZoneSkin");
}

zone|PracticeZoneView zone|CompletenessButton {
    skinClass: ClassReference("skins.practicalwriting.zone.ExerciseButtonSkin");
}

zone|PracticeZoneView zone|CompletenessButton s|Button#completeButton{
    skinClass: ClassReference("skins.practicalwriting.zone.CompleteButtonSkin");
}

zone|PracticeZoneView zone|CompletenessButton s|Button#incompleteButton{
    skinClass: ClassReference("skins.practicalwriting.zone.IncompleteButtonSkin");
}

zone|ResourcesZoneView {
    skinClass: ClassReference("skins.practicalwriting.zone.ResourcesZoneSkin");
}

exercise|ExerciseView {
    skinClass: ClassReference("skins.practicalwriting.ExerciseSkin");
}

exercise|ExerciseView s|Button#backButton {
    skinClass: ClassReference("skins.practicalwriting.exercise.BackButtonSkin");
}

exercise|ExerciseView s|Button#forwardButton {
    skinClass: ClassReference("skins.practicalwriting.exercise.ForwardButtonSkin");
}

exercise|ExerciseView s|Button#markingButton {
    skinClass: ClassReference("skins.practicalwriting.exercise.MarkingButtonSkin");
}

exercise|ExerciseView s|Button#startAgainButton {
    skinClass: ClassReference("skins.practicalwriting.exercise.StartAgainButtonSkin");
}

exercise|ExerciseView s|Button#feedbackButton {
    skinClass: ClassReference("skins.practicalwriting.exercise.FeedbackButtonSkin");
}

exercise|ExerciseView s|Button#courseLabelButton {
    skinClass: ClassReference("skins.practicalwriting.exercise.CourseLabelButtonSkin");
}

exercise|ExerciseView exerciseui|WindowShade {
    skinClass: ClassReference("skins.practicalwriting.exercise.WindowShadeSkin");
}

exercise|ExerciseView exerciseui|WindowShade s|Button#thumbButton{
    skinClass: ClassReference("skins.practicalwriting.exercise.WindowShadeThumbButtonSkin");
}

exercise|ExerciseView s|List#exerciseList s|VScrollBar {
    skinClass: ClassReference("skins.practicalwriting.exercise.VScrollBarSkin");
}

warning|WarningView {
    skinClass: ClassReference("skins.practicalwriting.exercise.warning.WarningSkin");
}

warning|WarningView s|Button#yesButton {
    skinClass: ClassReference("skins.practicalwriting.exercise.warning.YesButtonSkin");
}

warning|WarningView s|Button#noButton {
    skinClass: ClassReference("skins.practicalwriting.exercise.warning.NoButtonSkin");
}

marking|MarkingView {
    skinClass: ClassReference("skins.practicalwriting.exercise.marking.MarkingSkin");
}

marking|MarkingView s|Button#tryAgainButton {
    skinClass: ClassReference("skins.practicalwriting.exercise.TitleWindowButtonSkin");
}

marking|MarkingView s|Button#seeAnswersButton {
    skinClass: ClassReference("skins.practicalwriting.exercise.TitleWindowButtonSkin");
}

marking|MarkingView s|Button#moveForwardButton {
    skinClass: ClassReference("skins.practicalwriting.exercise.TitleWindowButtonSkin");
}

error|ErrorView {
    skinClass: ClassReference("skins.practicalwriting.exercise.error.ErrorSkin");
}

error|ErrorView s|Button#closeButton {
    skinClass: ClassReference("skins.practicalwriting.exercise.TitleWindowButtonSkin");
}

progress|ProgressView {
    skinClass: ClassReference("skins.practicalwriting.ProgressSkin");
}

progress|ProgressView s|ButtonBar {
    skinClass: ClassReference("skins.practicalwriting.progress.ProgressNavBarSkin");
}

progress|ProgressCoverageView {
    skinClass: ClassReference("skins.practicalwriting.progress.ProgressCoverageSkin");
}

progress|ProgressCompareView {
    skinClass: ClassReference("skins.practicalwriting.progress.ProgressCompareSkin");
}

progress|ProgressCompareView s|Button#compareEmptyScoreLabelButton {
    skinClass: ClassReference("skins.practicalwriting.progress.ui.EmptyScoreLabelButtonSkin");
}

progress|ProgressAnalysisView {
    skinClass: ClassReference("skins.practicalwriting.progress.ProgressAnalysisSkin");
}

progress|ProgressScoreView {
    skinClass: ClassReference("skins.practicalwriting.progress.ProgressScoreSkin");
}

progress|ProgressScoreView s|Button#ScoreEmptyScoreLabelButton {
    skinClass: ClassReference("skins.practicalwriting.progress.ui.EmptyScoreLabelButtonSkin");
}

progress|ProgressScoreView s|DataGrid#scoreDetailsDataGrid {
    skinClass: ClassReference("skins.practicalwriting.progress.ui.ProgressScoreDataGridSkin");
}

progress|ProgressCertificateView {
    skinClass: ClassReference("skins.practicalwriting.progress.ProgressCertificateSkin");
}

progress|ProgressCertificateView s|Button#printButton {
    skinClass: ClassReference("skins.practicalwriting.progress.ui.PrintButtonSkin");
}

settings|SettingsView {
    skinClass: ClassReference("skins.practicalwriting.SettingsSkin");
}

settings|SettingsView video|VideoSelector {
    skinClass: ClassReference("skins.practicalwriting.controls.video.SettingsVideoSelectorSkin");
}

closing|ClosingView {
    skinClass: ClassReference("skins.practicalwriting.ClosingSkin");
}

timer|TimerComponent {
    skinClass: ClassReference("skins.practicalwriting.exercise.timer.TimerSkin");
}

timer|TimerComponent s|Button {
    skinClass: ClassReference("skins.practicalwriting.exercise.timer.TimerButtonSkin");
}

video|VideoSelector {
    skinClass: ClassReference("skins.practicalwriting.controls.video.VideoSelectorSkin");
}

players|OSMFVideoPlayer {
    skinClass: ClassReference("skins.practicalwriting.controls.video.videoplayer.VideoPlayerSkin");
}

vo|PieChartButton {
    skinClass: ClassReference("skins.practicalwriting.vo.PieChartButtonSkin");
}

s|VScrollBar {
    skinClass: ClassReference("skins.practicalwriting.vo.VScrollBarSkin");
}

s|TitleWindow.warningTitleWindow {
    skinClass: ClassReference("skins.practicalwriting.exercise.warning.WarningTitleWindowSkin");
}

s|TitleWindow.markingTitleWindow {
    skinClass: ClassReference("skins.practicalwriting.exercise.marking.MarkingTitleWindowSkin");
}

s|TitleWindow.feedbackTitleWindow {
    skinClass: ClassReference("skins.practicalwriting.exercise.feedback.FeedbackTitleWindowSkin");
}

s|TitleWindow.errorTitleWindow {
    skinClass: ClassReference("skins.practicalwriting.exercise.error.ErroTitleWindowSkin");
}