* {
	font-size: 13px;
	font-family: Verdana;
}

/* The main header should always be bold */
body > header {
	font-weight: normal;
	color: #333333;
}

/* This is the image or video floating on the right hand side in many exercises */
#body .rightFloat {
	float: right;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
}

/* Links and draggable spans should be blue and not underlined */
a, span[draggable="true"] {
	color: #3A00FF;
	text-decoration: none;
}

/* Draggable spans in noscroll should be in a bordered filled box */
#noscroll span[draggable=true] {
	float: left;
	color: #0E00AB;
	padding: 5px 8px;
	margin-right: 4px;
	margin-bottom: 8px;
	border-style: solid;
	border-width: 1px;
	border-color: #B5B5B5;
	border-radius: 12px;
	background-color: #FFFFFF;
}

#noscroll span[draggable=true].disabled {
	color: #D5D5D5 !important;
}

/* Use the custom after-pad property to add a width of 1 _ characters to any input's maximum length */
input {
	gap-after-padding: 1;
}

/* Drag and drop targets always have the same gap text underneath them */
input[type="droptarget"] {
	gap-text: "__.__.__";
}

/* Color classes */
.blue {
	color: #3A00FF;
}

/* Classes for showing selections and results */
a.selected {
	text-decoration: underline;
	/*background-color: #FBDA8B !important;*/
}

a.correct, input.correct, g.correct, select.correct {
	color: #00AA00 !important;
}

a.incorrect, input.incorrect, select.incorrect {
	color: #AA0000 !important;
}

a.neutral, input.neutral, select.neutral {
	color: #0000AA !important;
}