* {
	font-size: 13px;
	font-family: Verdana;
}

/* The main header should always be bold */
body > header {
	font-weight: bold;
}

/* This is the image or video floating on the right hand side in many exercises */
#body .rightFloat {
	float: right;
	padding-top: 25px;
	padding-right: 25px;
	padding-left: 25px;
}

/* Links and draggable spans should be blue and not underlined */
a, span[draggable="true"] {
	color: #3A00FF;
	text-decoration: none;
}

/* Draggable spans in noscroll should be in a bordered filled box */
#noscroll span[draggable=true] {
	float: left;
	padding: 10px;
	margin-right: 3px;
	margin-bottom: 3px;
	border-style: solid;
	border-width: 1px;
	border-color: #FF0000;
	border-radius: 12px;
	background-color: #EEFFEA;
}

/* Use the custom after-pad property to add a width of 1 _ characters to any input's maximum length */
input {
	gap-after-padding: 1;
}

/* Drag and drop targets always have the same gap text underneath them */
input[type="droptarget"] {
	gap-text: "__.__.__";
}

/* Color classes */
.blue {
	color: #3A00FF;
}

/* Classes for showing selections and results */
a.selected {
	text-decoration: underline;
}

a.correct, input.correct, g.correct {
	color: #00AA00 !important;
}

a.neutral, input.neutral,
a.incorrect, input.incorrect {
	color: #AA0000 !important;
}