/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace unit "com.clarityenglish.rotterdam.view.unit.*";
@namespace unitui "com.clarityenglish.rotterdam.view.unit.ui.*";
@namespace widgets "com.clarityenglish.rotterdam.view.unit.widgets.*";
@namespace calendar "com.clarityenglish.controls.calendar.*";
@namespace credits "com.clarityenglish.bento.view.credits.*";
@namespace components "com.clarityenglish.bento.view.xhtmlexercise.components.*";
@namespace players "com.clarityenglish.controls.video.players.*";
@namespace components "com.clarityenglish.components.*";

components|XHTMLExerciseView {
	skinClass: ClassReference("skins.rotterdam.exercise.XHTMLExerciseSkin");
}

unit|UnitView {
	skinClass: ClassReference("skins.rotterdam.unit.UnitSkin");
}

widgets|TextWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.TextWidgetSkin");
}

widgets|PDFWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.PDFWidgetSkin");
}

widgets|VideoWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.VideoWidgetSkin");
}

widgets|ImageWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.ImageWidgetSkin");
}

widgets|AudioWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.AudioWidgetSkin");
}

widgets|ExerciseWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.ExerciseWidgetSkin");
}

widgets|AuthoringWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.AuthoringWidgetSkin");
}

components|XHTMLExerciseView {
	skinClass: ClassReference("skins.rotterdam.exercise.XHTMLExerciseSkin");
}

s|TitleWindow.errorTitleWindow {
	skinClass: ClassReference("skins.rotterdam.titlewindows.ErrorTitleWindowSkin");
}

s|TitleWindow.warningTitleWindow {
	skinClass: ClassReference("skins.rotterdam.titlewindows.ErrorTitleWindowSkin");
}

s|TitleWindow.noTitleWindow {
	skinClass: ClassReference("skins.rotterdam.titlewindows.NoTitleWindowSkin");
}

s|TitleWindow.titleWindowClose {
	skinClass: ClassReference("skins.rotterdam.titlewindows.TitleWindowCloseSkin");
}

calendar|Calendar {
	skinClass: ClassReference("skins.com.clarityenglish.controls.calendar.DefaultCalendarSkin");
}

calendar|DayHeaderRenderer {
	skinClass: ClassReference("skins.com.clarityenglish.controls.calendar.DefaultDayHeaderRendererSkin");
}

calendar|DayRenderer {
	skinClass: ClassReference("skins.com.clarityenglish.controls.calendar.DefaultDayRendererSkin");
}

calendar|Calendar s|Button#prevMonthButton {
	skinClass: ClassReference("skins.com.clarityenglish.controls.calendar.PreMonthButtonSkin");
}

calendar|Calendar s|Button#nextMonthButton {
	skinClass: ClassReference("skins.com.clarityenglish.controls.calendar.NextMonthButtonSkin");
}

credits|CreditsView {
	skinClass: ClassReference("skins.rotterdam.CreditsSkin");
}

players|OSMFVideoPlayer {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.videoplayer.VideoPlayerSkin");
}

widgets|AudioWidget components|PromptingRichEditableText {
	fontSize: 13;
	fontFamily: Helvetica;
}