/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace unit "com.clarityenglish.rotterdam.view.unit.*";
@namespace unitui "com.clarityenglish.rotterdam.view.unit.ui.*";
@namespace widgets "com.clarityenglish.rotterdam.view.unit.widgets.*";

unit|UnitView {
	skinClass: ClassReference("skins.rotterdam.unit.UnitSkin");
}

unit|UnitHeaderView {
	skinClass: ClassReference("skins.rotterdam.unit.ui.UnitHeaderSkin");
}

widgets|TextWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.TextWidgetSkin");
}

widgets|PDFWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.PDFWidgetSkin");
}

widgets|VideoWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.VideoWidgetSkin");
}

widgets|ImageWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.ImageWidgetSkin");
}

widgets|AudioWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.AudioWidgetSkin");
}

widgets|ExerciseWidget {
	skinClass: ClassReference("skins.rotterdam.unit.widgets.ExerciseWidgetSkin");
}

s|TitleWindow.errorTitleWindow {
	skinClass: ClassReference("skins.rotterdam.titlewindows.ErrorTitleWindowSkin");
}

s|TitleWindow.warningTitleWindow {
	skinClass: ClassReference("skins.rotterdam.titlewindows.ErrorTitleWindowSkin");
}

s|TitleWindow.noTitleWindow {
	skinClass: ClassReference("skins.rotterdam.titlewindows.NoTitleWindowSkin");
}

s|TitleWindow.titleWindowClose {
	skinClass: ClassReference("skins.rotterdam.titlewindows.TitleWindowCloseSkin");
}