<?xml version="1.0" encoding="UTF-8"?>
<config>
	<id>/area1/TenseBuster in localhost</id>
	<dbHost>2</dbHost>
	<productCode>55</productCode>
	<useCacheBuster>true</useCacheBuster>
	<courseFile>menu-{productVersion}.xml</courseFile>
	<platform>browser</platform>

	<sharedMedia />
	<brandingMedia />
	<language>EN</language>
	<assetFolder>Software/ResultsManager/web/resources/assets/</assetFolder>

    <endpoint name='dock'>
        <remoteGateway>http://dock.projectbench/Software/ResultsManager/web/amfphp/</remoteGateway>
        <remoteService>TenseBusterService</remoteService>
        <contentPath>http://dock.contentbench/Content/</contentPath>
    </endpoint>
    <endpoint name='https'>
        <remoteGateway>https://www.clarityenglish.com/Software/ResultsManager/web/amfphp/</remoteGateway>
        <remoteService>TenseBusterService</remoteService>
        <contentPath>https://www.clarityenglish.com/Content/</contentPath>
    </endpoint>

</config>
