<?xml version="1.0" encoding="UTF-8"?>
<config>
	<id>/area1/TenseBuster in localhost</id>
	<dbHost>2</dbHost>
	<productCode>55</productCode>
	<useCacheBuster>true</useCacheBuster>
	<courseFile>menu-{productVersion}.xml</courseFile>
	<platform>browser</platform>

	<sharedMedia />
	<brandingMedia />
	<language>EN</language>

	<contentPath>http://dock.contentbench/Content/</contentPath>
	<remoteDomain>http://dock.projectbench/</remoteDomain>
	<remoteGateway>{remoteDomain}Software/ResultsManager/web/amfphp/</remoteGateway>
	<remoteService>TenseBusterService</remoteService>
	<assetFolder>Software/ResultsManager/web/resources/assets/</assetFolder>
</config>
