/* CSS file */
@namespace s "library://ns.adobe.com/flex/spark";
@namespace mx "library://ns.adobe.com/flex/mx";
@namespace activereading "com.clarityenglish.activereading.*";
@namespace login "com.clarityenglish.bento.view.login.*";
@namespace home "com.clarityenglish.activereading.view.home.*";
@namespace homeui "com.clarityenglish.activereading.view.home.ui.*";
@namespace homeuitb "com.clarityenglish.tensebuster.view.home.ui.*";
@namespace title "com.clarityenglish.activereading.view.title.*";
@namespace exercise "com.clarityenglish.activereading.view.exercise.*";
@namespace exerciseui "com.clarityenglish.activereading.view.exercise.ui.*";
@namespace progress "com.clarityenglish.activereading.view.progress.*";
@namespace progressui "com.clarityenglish.bento.view.progress.ui.*";
@namespace recorder "com.clarityenglish.bento.view.recorder.*";
@namespace warning "com.clarityenglish.bento.view.warning.*";
@namespace marking "com.clarityenglish.bento.view.marking.*";
@namespace components "com.clarityenglish.textLayout.components.*";
@namespace error "com.clarityenglish.common.view.error.*";
@namespace video "com.clarityenglish.controls.video.*";
@namespace players "com.clarityenglish.controls.video.players.*";
@namespace ending "com.clarityenglish.activereading.view.ending.*";

global {
	outlineColors: #C63C47, #E6641E, #CF7D00, #47613D, #1E7496, #554091;
	
	homeButtonTopColors: #FF6E6E, #FF8340, #FCA723, #5D9948, #539CAD, #9E84E8;
	homeButtonTopMidColors: #FFC4C4, #FFB891, #FFDBA2, #BAD4B2, #B0E3F4, #D8D3F5;
	homeButtonBottomMidColors: #FF9A99, #FA9C69, #FFB74A, #9FC791, #86CADB, #C0AEF5;
	
	homeButtonTopOverColors: #FFBFBF, #FFA373, #FFC05E, #94B586, #A3CAD1, #C6B5F5;
	homeButtonTopMidOverColors: #FFE3E3, #FFD9C4, #FFEAC9, #E2F5D9, #D3EDF4, #EEE8FF;
	homeButtonBottomMidOverColors: #FFC6C4, #FCB892, #FFD594, #CFE0CA, #AFD8E2, #DFD7F7;
	
	homeNumberTagTopColors: #B3343E, #BD4D11, #C27500, #314A28, #146384, #3B2773;
	homeNumberTagTopMidColors: #E64652, #D95E1C, #E68B00, #506946, #2284A8, #6F5BA6;
	homeNumberTagBottomMidColors: #F05B67, #ED671F, #E08800, #597050, #3A7E9A, #7260A6;
	
	homeButtonLabelColors: #B51223, A13300, #723600, #30541C, #0D5673, #4A3191;

	disabledButtonColors: #EDBFBE, #DDC4B3, #E0D5C6, #C0DDC4, #B7CBCE, #BBADC9;
	
	textBackgroundColor: #FBDBDE, #FCD0BD, #FFDFB4, #DBECCA, #CFECF6, #DDD2E8;
	progressAnalysisTextColors: #C63D47, #E96024, #D78D28, #47613D, #1E7496, #442E88;
	
	elementaryCircleWedgeColors: #C63D47, #F8B5BC, #EE3745, #E57780, #77171F, #C63D47, #8C1922, #E25F69, #703135, #DF1E26;
	preintermediateCircleWedgeColors: #E96024, #FCD5C5, #C95F2E, #F18252, #7F351A, #F59469, #B13A24, #F05A22, #BE4526, #F6966C;
	intermediateCircleWedgeColors: #D78D28, #FECB82, #E58128, #ECAB4E, #5B3814, #D6B992, #7C4F1F, #E7AC29, #9E6F29, #FCBA5B;
	upperintermediateCircleWedgeColors: #47B13D, #B4CBAB, #67845B, #7AA569, #334A2B, #9CB591, #375C2B, #719961, #327539, #738E65;
	preadvancedCircleWedgeColors: #1E7496, #CAEBFB, #7CB1C7, #528BA3, #10516B, #8DBDD0, #0B5E7F, #1B7AA1, #2899C7, #6ACEF5;
	advancedCircleWedgeColors: #442E88, #DAD2E8, #635789, #8677B7, #221D54, #A49CBE, #5A479D, #36276C, #917AB0, #BD62D5;
	
	exerciseDisabledColors: #E6AFBA, #E8CC9E, #CFD67E, #92CAD6, #BBB3E6;
	
	markingColours: #2CA874, #E61E1E, #0066FF;
}

activereading|ActiveReadingApplication {
	skinClass: ClassReference("skins.activereading.ActiveReadingApplicationSkin");
}

login|LoginView {
	skinClass: ClassReference("skins.activereading.LoginSkin");
}

login|LoginView s|Button {
	skinClass: ClassReference("skins.activereading.login.LoginButtonSkin");
}

login|LoginView s|Button#newUserButton, s|Button#forgotPasswordButton {
	skinClass: ClassReference("skins.activereading.login.LoginForgotPasswordButton");
}

login|LoginView s|TextInput {
	skinClass: ClassReference("skins.activereading.login.TextInputSkin");
}

login|LoginView s|SkinnableContainer {
	skinClass: ClassReference("skins.activereading.login.SignInContainerSkin");
}

error|ErrorView {
	skinClass: ClassReference("skins.activereading.login.ErrorSkin");
}

error|ErrorView s|Button#closeButton {
	skinClass: ClassReference("skins.activereading.exercise.feedback.FeedbackCloseButtonSkin");
}

title|TitleView {
	skinClass: ClassReference("skins.activereading.TitleSkin");
}

title|TitleView s|TabbedViewNavigator {
	skinClass: ClassReference("skins.activereading.title.TabbedViewNavigatorSkin");
}

title|TitleView s|TabbedViewNavigator s|ButtonBar#tabBar {
	skinClass: ClassReference("skins.activereading.title.TitleButtonBarSkin");
}

title|TitleView s|Button#logoutButton {
	skinClass: ClassReference("skins.activereading.title.LogoutButtonSkin");
}

title|TitleView s|Button#helpButton {
	skinClass: ClassReference("skins.activereading.title.HelpButtonSkin");
}

home|HomeView {
	skinClass: ClassReference("skins.activereading.HomeSkin");
}

home|HomeView s|List#unitList {
	skinClass: ClassReference("skins.activereading.home.UnitListSkin");
}

homeui|ARCourseSelector homeui|LevelButton#elementary {
	skinClass: ClassReference("skins.activereading.home.ElementaryLevelButtonSkin");
}

homeui|ARCourseSelector homeui|LevelButton#preInter {
	skinClass: ClassReference("skins.activereading.home.PreInterLevelButtonSkin");
}

homeui|ARCourseSelector homeui|LevelButton#intermediate {
	skinClass: ClassReference("skins.activereading.home.IntermediateLevelButtonSkin");
}

homeui|ARCourseSelector homeui|LevelButton#upperInter {
	skinClass: ClassReference("skins.activereading.home.UpperInterLevelButtonSkin");
}

homeui|ARCourseSelector homeui|LevelButton#preAdvanced {
	skinClass: ClassReference("skins.activereading.home.PreAdvancedLevelButtonSkin");
}

homeui|ARCourseSelector homeui|LevelButton#advanced {
	skinClass: ClassReference("skins.activereading.home.AdvancedLevelButtonSkin");
}

homeui|MenuButton#exerciseUnopenedMenuButton {
	skinClass: ClassReference("skins.activereading.home.ExerciseUnopenedMenuButtonSkin");
}

homeui|MenuButton#exerciseOpenedMenuButton {
	skinClass: ClassReference("skins.activereading.home.ExerciseOpenedMenuButtonSkin");
}

exercise|ExerciseView {
	skinClass: ClassReference("skins.activereading.ExerciseSkin");
}

exercise|ExerciseView exerciseui|WindowShade {
	skinClass: ClassReference("skins.activereading.exercise.WindowShadeSkin");
}

exercise|ExerciseView exerciseui|WindowShade s|Button#thumbButton {
	skinClass: ClassReference("skins.activereading.exercise.WindowShadeThumbButtonSkin");
}

exercise|ExerciseView s|Button#backButton {
	skinClass: ClassReference("skins.activereading.exercise.BackButtonSkin");
}

exercise|ExerciseView s|Button#forwardButton {
	skinClass: ClassReference("skins.activereading.exercise.ForwardButtonSkin");
}

exercise|ExerciseView s|Button#markingButton {
	skinClass: ClassReference("skins.activereading.exercise.MarkingButtonSkin");
}

exercise|ExerciseView s|Button#recorderButton {
	skinClass: ClassReference("skins.activereading.exercise.RecorderButtonSkin");
}

exercise|ExerciseView s|Button#startAgainButton {
	skinClass: ClassReference("skins.activereading.exercise.StartAgainButton");
}

exercise|ExerciseView s|Button#backToMenuButton {
	skinClass: ClassReference("skins.activereading.exercise.BackToMenuButton");
}

exercise|ExerciseView s|Button#progressButton {
	skinClass: ClassReference("skins.activereading.exercise.ProgressButtonSkin");
}

exercise|ExerciseView s|Button#feedbackButton {
	skinClass: ClassReference("skins.activereading.exercise.FeedbackButtonSkin");
}

components|AudioPlayer {
	skinClass: ClassReference("skins.activereading.exercise.audio.AudioPlayerSkin");
	
	compactStoppedIcon: Embed("skins/activereading/assets/exercise/audio/play.png");
	compactPlayedIcon: Embed("skins/activereading/assets/exercise/audio/played.png");
	compactPausedIcon: Embed("skins/activereading/assets/exercise/audio/pause.png");
	compactPlayingIcon: Embed("skins/activereading/assets/exercise/audio/playing.png");
	fullPlayIcon: Embed("skins/activereading/assets/exercise/audio/fullplay.png");
	fullPauseIcon: Embed("skins/activereading/assets/exercise/audio/fullpause.png");
}

components|AudioPlayer s|ScrubBar {
	skinClass: ClassReference("skins.activereading.exercise.audio.AudioScrubBarSkin");
}

warning|WarningView {
	skinClass: ClassReference("skins.activereading.exercise.warning.WarningSkin");
}

marking|MarkingView {
	skinClass: ClassReference("skins.activereading.exercise.marking.MarkingSkin");
}

marking|MarkingView s|Button {
	skinClass: ClassReference("skins.activereading.exercise.marking.TryAgainButtonSkin");
}

marking|MarkingView s|Button#seeAnswersButton {
	skinClass: ClassReference("skins.activereading.exercise.marking.SeeTheAnswersButtonSkin");
}

warning|WarningView s|Button#yesButton {
	skinClass: ClassReference("skins.activereading.exercise.warning.YesButtonSkin");
}

warning|WarningView s|Button#noButton {
	skinClass: ClassReference("skins.activereading.exercise.warning.NoButtonSkin");
}

video|VideoSelector {
	skinClass: ClassReference("skins.activereading.exercise.video.VideoSelectorSkin");
}

video|VideoSelector s|Button#scriptButton {
	skinClass: ClassReference("skins.activereading.exercise.video.ScriptButtonSkin");
}

players|OSMFVideoPlayer {
	skinClass: ClassReference("skins.activereading.exercise.video.VideoPlayerSkin");
}
	
s|Button#compareEmptyScoreLabel, #ScoreEmptyScoreLabelButton {
	skinClass: ClassReference("skins.activereading.progress.ui.GreyLabelButtonSkin");
}

progress|ProgressView {
	skinClass: ClassReference("skins.activereading.ProgressSkin");
}

progress|ProgressView s|ButtonBar#progressNavBar {
	skinClass: ClassReference("skins.activereading.progress.ui.ProgressNavBarSkin");
}

progressui|ProgressBarRenderer {
	skinClass: ClassReference("skins.activereading.progress.ui.ProgressBarRendererSkin");
}

progressui|ProgressCourseButtonBar#progressCourseButtonBar {
	skinClass: ClassReference("skins.activereading.progress.ui.ProgressCourseButtonBarSkin");
}

progress|ProgressCoverageView {
	skinClass: ClassReference("skins.activereading.progress.ProgressCoverageSkin");
}

progress|ProgressCompareView {
	skinClass: ClassReference("skins.activereading.progress.ProgressCompareSkin");
}

progress|ProgressAnalysisView {
	skinClass: ClassReference("skins.activereading.progress.ProgressAnalysisSkin");
}

progress|ProgressScoreView {
	skinClass: ClassReference("skins.activereading.progress.ProgressScoreSkin");
}

progress|ProgressScoreView s|DataGrid#scoreDetailsDataGrid {
	skinClass: ClassReference("skins.activereading.progress.ui.ProgressScoreDataGridSkin");
}

progress|ProgressCertificateView {
	skinClass: ClassReference("skins.activereading.progress.ProgressCertificateSkin");
}

progress|ProgressCertificateView s|Button#printButton {
	skinClass: ClassReference("skins.activereading.progress.ui.PrintButtonSkin");
}

ending|EndingView {
	skinClass: ClassReference("skins.activereading.EndingSkin");
}

s|TitleWindow.RecorderTitleWindow {
	skinClass: ClassReference("skins.activereading.exercise.recorder.RecorderTitleWindowSkin");
}

s|TitleWindow.feedbackTitleWindow {
	skinClass: ClassReference("skins.activereading.exercise.feedback.FeedbackTitleWindowSkin");
}

s|TitleWindow.warningTitleWindow {
	skinClass: ClassReference("skins.activereading.exercise.warning.WarningTitleWindowSkin");
}

s|TitleWindow.markingTitleWindow {
	skinClass: ClassReference("skins.activereading.exercise.marking.MarkingTitleWindowSkin");
}

s|TitleWindow.errorTitleWindow {
	skinClass: ClassReference("skins.activereading.login.ErrorTitleWindowSkin");
}

s|VScrollBar {
	skinClass: ClassReference("skins.activereading.vo.VScrollBarSkin");
}

recorder|RecorderView {
	skinClass: ClassReference("skins.activereading.exercise.recorder.RecorderSkin");
}

recorder|WaveformView {
	skinClass: ClassReference("skins.activereading.exercise.recorder.WaveformSkin");
}

mx|ToolTip {
	backgroundColor: #333333;
	color: #FFFFFF;
}
